.boatShowMainDiv {
  .page-link {
    line-height: 1;
  }
}
.boatshow-layout-page {
  .playVideo-icon {
    font-size: 4rem;
    width: 0.7em;
    height: 0.7em;
  }
}
body {
  .iconColor-boatShow {
    color: #2d368b;
  }
}

body {
  .boatShow-btnBlue {
    background-color: #2d368b !important;
  }
}
body {
  .boatShow-btnBg {
    background-color: #2d368b !important;
    color: #fff !important;
    border-color: #2d368b !important;
  }
}
body {
  .boatShow-addBtn {
    color: #2d368b;
    border-color: #2d368b;
    width: 10%;
    margin-top: 29px;
    margin-left: 45%;
  }
}

body {
  .boatShow-container {
    margin: 10px;
  }
  .boatShow-body {
    margin-top: 10px;
  }
  .boatShow-field {
    margin-top: 13px;
  }
}

body {
  .boatShow-textarea .form-control {
    height: 115px;
  }
  .boatShow-textarea {
    margin-top: 13px;
  }
}
body {
  .boatShow-image {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  .boatShow-image .boat-image {
    height: 120px;
    width: 120px;
  }
}

body {
  .boatShow-action-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.addBoatShow-date .DateInput_input {
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.addBoatShow-fields {
  label {
    margin-bottom: 2px;
  }
}

.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}
.addBoatShow-imgUploader {
  .fileContainer {
    box-shadow: unset;
  }
}
.add-boat-show-map {
  .MuiPaper-root {
    margin: 0;
  }
  .map-card-div {
    margin: 0 !important;
  }
}
.map-div {
  border: 1px solid #00000021;
}
body {
  .map-border {
    box-shadow: none;
    border-radius: 0;
  }
}
.boat-show-search-card {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: center;
  left: 0;
}
body {
  .boat-show-banner-card-info-div {
    ::placeholder {
      /* Firefox, Chrome, Opera */
      color: #4950575c;
      font-size: 13px;
    }
    .boat-show-banner-form-label {
      color: #4950576e;
    }
    .boat-show-banner-form-field {
      border: 1px solid #ced4da82;
    }
  }
  .boat-show-submit-button {
    background-color: #002097 !important;
    color: #fff !important;
    border-color: #002097 !important;
  }
  .boat-show-play-video-icon-div {
  }
  .boat-show-play-video-icon {
    color: #fff;
    font-size: 4rem;
    width: 0.7em;
    height: 0.7em;
  }
}
.boat-show-desc-icons {
  width: 8px;
}
.boat-show-logo {
  .header-logo {
    img {
      width: auto;
    }
  }
}
.boat-show-video-section {
  .boat-show-video-title {
    color: #484948;
  }
  p {
    color: #767676;
  }
}
.boat-show-card-desc {
  span {
    color: #666666;
  }
}
.boatshow-layout-page {
  .section-heading {
    letter-spacing: 0 !important;
  }
}
.boat-show-main-div {
  .coming-soon-btn:hover {
    box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(169, 169, 169, 0.2);
  }
}
.boat-show-viewer-section {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  // border: 1px solid #f4f4f4;
}
.show-all-boat-show-div {
  .boat-show-grid {
    padding: 0 10px;
  }
}
.boatshow-notify:hover {
  color: #061e9cba;
}
