body {
  .map-design {
    .MuiCardContent-root {
      padding: 0 !important;
    }
  }
  .boat-service-inner-container {
    width: 85vw;
    margin: auto;
  }
  .read-more-text {
    color: #061e9c;
  }
  .service-icon {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .padding-payment-block {
    padding: 30px;
  }
  .boat-service-facilities-div {
    ul {
      li {
        padding: 8px 20px;
        display: flex;
        justify-content: center;
        width: auto;
        max-width: fit-content;
        list-style: none;
        margin-right: 10px;
        border: solid 1px #7878782e;
        border-radius: 25px;
        margin-bottom: 13px;
        color: #787878;
        flex-direction: column;
      }
    }
  }
  .service-provide-icon {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 7px;
  }
  .padding-image-service {
    padding: 12px 40px !important;
  }
}
.service-inner-ratings {
  .iconColor-rentInner {
    color: #00a388;
  }
}
.boat-service-inner-carousel {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 25px;
    width: 25px;
    border: 1px solid #ffffff;
    border-radius: 15px;
  }
  .image-gallery-icon:hover {
    color: #fff;
    .image-gallery-svg {
      transform: none;
    }
  }
  .image-gallery-slides {
    border-radius: 10px;
  }
}
.boat-service-inner-responsive {
  .ad-id-inner {
    font-size: 13px;
  }
  .service-boat-name {
    color: #333333;
    font-size: 24px;
  }
  .city-boat-inner,
  .rated-reviews-inner-count,
  .rated-reviews-inner-avg,
  .rated-reviews-inner {
    font-size: 14px;
  }
  .rating-small-size .MuiSvgIcon-root {
    width: 12px;
    height: 12px;
  }
  .our-service-inner {
    font-size: 22px;
  }
  .boat-service-inner-detail {
    h4 {
      margin-bottom: 20px;
    }
  }

  .user-card-responsive {
    margin-top: 40px;
    .list-group-item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
    }
    .card-i {
      width: 30px;
      height: 30px;
      border: 1px solid #ececec;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      margin-right: 5px;
      align-items: center;
    }
    .logo-user-service {
      width: 170px;
      height: 74px;
      img {
        max-width: 100%;
      }
    }
    .name-service-user {
      font-size: 18px;
    }
    .user-post,
    .user-post + span {
      color: #666666;
      font-size: 15px;
    }
  }
  .feedback-section {
    filter: sepia(100%) contrast(100%) saturate(475%) hue-rotate(481deg);
    position: relative;
    top: -2px;
  }
  .feedback-section-text {
    font-size: 14px;
  }
  h4 {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    letter-spacing: 0;
  }
  .map-service-inner {
    .map-design {
      .MuiGrid-item {
        padding: 0;
      }
      .map-div-height,
      .MuiCardContent-root,
      .responsive-map > div,
      .card-style,
      .map-class.position-relative {
        padding: 0;
        margin: 0;
        height: 260px !important;
      }
    }
  }
  .last-service {
    .recent-service-description {
      font-size: 15px !important;
    }
  }
  .image-gallery-thumbnail .image-gallery-thumbnail-image {
    border-radius: 4px;
  }
  .image-gallery-thumbnail {
    border: 4px solid transparent;
  }
  .image-gallery-thumbnail {
    margin-right: 20px;
    margin-top: 15px;
  }
  .inner-type-div-margin {
    margin-right: 16px !important;
  }
}

@media screen and (max-width: 1495px) {
  .boat-service-inner-responsive {
    .widget-media .icon {
      width: 30px;
      height: 30px;
    }
    .service-boat-name {
      font-size: 18px;
    }
    .ad-id-inner {
      font-size: 11px;
    }
    .city-boat-inner,
    .rated-reviews-inner-count,
    .rated-reviews-inner-avg,
    .rated-reviews-inner {
      font-size: 12px;
    }
    .rating-small-size .MuiSvgIcon-root {
      width: 11px;
      height: 11px;
    }
    .our-service-inner {
      font-size: 18px;
    }
    .boat-service-inner-detail {
      h4 {
        margin-bottom: 15px;
      }
    }

    .recent-service-description,
    .last-service .recent-service-description {
      font-size: 11px !important;
    }
    .rounded-circle.cursor-pointer {
      max-height: 90px;
    }
    .user-card-responsive {
      margin-top: 28px;
      .card-i {
        width: 25px;
        height: 25px;
        margin-right: 3px;
        align-items: center;
      }
      .logo-user-service {
        width: 150px;
        height: 70px;
        img {
          max-width: 100%;
        }
      }
      .name-service-user {
        font-size: 16px;
      }
      .rounded-circle + .media-body {
        padding-left: 18px !important;
      }
      .user-post,
      .user-post + span {
        color: #666666;
        font-size: 12px;
      }
      .list-group-item {
        font-size: 12px;
      }
    }
    h4 {
      font-size: 15px;
    }
    .trip-type-inner {
      font-size: 13px !important;
    }
    .title-description {
      font-size: 13px;
    }
    .feedback-section-text {
      font-size: 11px;
    }
    .feedback-section {
      height: 14px;
    }
    .map-service-inner {
      .map-design {
        .MuiGrid-item {
          padding: 0;
        }
        .map-div-height,
        .MuiCardContent-root,
        .responsive-map > div,
        .card-style,
        .map-class.position-relative {
          padding: 0;
          margin: 0;
          height: 200px !important;
        }
      }
    }
    .image-gallery-thumbnail {
      margin-right: 15px;
      margin-top: 10px;
    }
   
    .inner-type-div {
      border: 0.8px solid rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 8px;
      height: 90px;
      width: 90px;
    }
    .inner-trip-type-icon-div {
      font-size: 22px;
    }

    .inner-type-div-margin {
      margin-right: 12px !important;
      margin-bottom: 12px !important;
    }
  }
}
@media screen and (max-width: 1380px) {
  .boat-service-inner-responsive {
    .widget-media .icon {
      width: 25px;
      height: 25px;
      border: 0.5px solid #ebebeb;
    }
    .service-boat-name {
      font-size: 16px;
    }
    .feedback-section {
      height: 13px;
    }
    .ad-id-inner {
      font-size: 10px !important;
    }
    .feedback-section-text {
      font-size: 10px !important;
    }
    .city-boat-inner,
    .rated-reviews-inner-count,
    .rated-reviews-inner-avg,
    .rated-reviews-inner {
      font-size: 10.5px;
    }
    .rating-small-size .MuiSvgIcon-root {
      width: 10px;
      height: 10px;
    }
    h4 {
      font-size: 16px;
      margin-bottom: 8px !important;
    }
    .h4-mb-0 {
      margin-bottom: 0px !important;
    }
    .trip-type-inner {
      font-size: 10px !important;
      line-height: 1;
    }
    .title-description {
      font-size: 11px !important;
    }
    .recent-service-description,
    .last-service .recent-service-description {
      font-size: 11px !important;
    }
    .map-service-inner {
      .map-design {
        .MuiGrid-item {
          padding: 0;
        }
        .map-div-height,
        .MuiCardContent-root,
        .responsive-map > div,
        .card-style,
        .map-class.position-relative {
          padding: 0;
          margin: 0;
          height: 170px !important;
        }
      }
    }
    .image-gallery-thumbnail {
      margin-right: 10px;
      margin-top: 8px;
    }
    
    .inner-type-div {
      border: 0.8px solid rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 8px;
      height: 75px;
      width: 75px;
    }
    .widget-media .icon {
      font-size: 9px;
    }
    .d-m-o {
      margin-right: 3px !important;
    }
    .user-card-responsive .card-body {
      padding: 9px 0;
    }
    .user-card-responsive .name-service-user {
      font-size: 13px !important;
    }
    .user-post,
    .user-post + span {
      font-size: 10px !important;
    }
    .user-card-responsive .card-i {
      width: 23px;
      height: 23px;
      margin-right: 3px;
      border: 0.5px solid #ececec;
    }
    .user-card-responsive {
      border-width: 0.5px !important;
    }
    .mt-re-0 {
      margin-top: 0 !important;
    }
    .mt-d-0-inner {
      margin-top: 20px !important;
    }
    .sticky-on-top {
      margin-bottom: 0 !important;
    }
    .inner-trip-type-icon-div {
      font-size: 22px;
    }

    .inner-type-div-margin {
      margin-right: 9px !important;
      margin-bottom: 9px !important;
    }
    .mt-re-0 {
      margin-bottom: 50px;
    }
    .inner-title-icons {
      height: 14px;
    }
    .inner-payment-cash-icon {
      height: 18px;
    }
    .inner-payment-icon {
      font-size: 19px;
    }
  }
}
.service-inner-header-social-icon:hover
{
  background-color: #f46139 !important;
  i{
  color: #fff !important;
}
}
// .boat-service-inner-carousel
// {
//   .image-gallery-thumbnails-wrapper
//   {
// height: 101px;;  }
// }
body div .boat-inner-banner-likes-div {
  z-index: 2;
  bottom: 110px;
  left: 15px;
  background-color: #fff;
  border-radius: 7px;
  padding: 8px;
}
.image-gallery-thumbnails {
    height: 102px;
}