.pagination {
  justify-content: center;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #061e9c;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  background-color: #061e9c;
  border-color: #061e9c;
  cursor: default;
}
.is-show-map .pagination {
  width: 41%;
}

.show-all-pagination {
  .pagination > li > a,
  .pagination > li > span {
    border: unset;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pagination > li {
    cursor: pointer;
    font-size: 22px;

    a {
      color: #061e9c;
    }
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #061e9c;
    border-color: #061e9c;
    cursor: default;
    border-radius: 32px;
  }
  .pagination > .next > a,
  .pagination > .previous > a {
    border: 1px solid #061e9c;
    border-radius: 50%;
    margin: 0px 5px;
  }
}
li.previous a svg {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
@media screen and (max-width: 1495px) {
  body {
    .show-all-pagination .pagination > li {
      font-size: 18px;
    }
    .show-all-pagination .pagination > li > a,
    .show-all-pagination .pagination > li > span {
      height: 40px;
      width: 40px;
    }
  }
  li.previous a svg,
  li.next a svg {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 1380px) {
  body {
    .show-all-pagination .pagination > li {
      font-size: 13px !important;
    }
    .show-all-pagination .pagination > li > a,
    .show-all-pagination .pagination > li > span {
      height: 28px;
      width: 28px;
      padding: 0px 9px;
    }
    .pagination > .next > a,
    .pagination > .previous > a {
      border: 0.5px solid #061e9c !important;
    }
  }
}
