.boat-media-header-img {
  height: 480px;
  overflow: hidden;
}

.boat-media-img {
  height: 300px;
  overflow: hidden;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 4px;
  }
}

.boatMedia-blogPostImage {
  height: 40vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 4px;
  }
}

.authorImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.boat-media-banner-text {
  top: 30%;
  left: 20%;
  color: #fff;
  max-width: 404px;
}
.boat-media-text-div {
  h4 {
    font-size: 19px;
  }
}
.boat-media-article-div {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.boat-media-article-img {
  img {
    border-radius: 10px;
  }
}
.boat-media-article-desc {
  .article-desc-title {
    font-size: 17px;
  }
  .boat-media-read-more-text,
  .aricle-user-title {
    font-size: 16px;
  }
  .boat-media-aricle-user-img {
    height: 50px;
    width: 50px;
  }
}
.boat-media-popular-posts-img {
  height: 100px;
  width: 100px;
  img {
    border-radius: 10px;
  }
}
.boat-media-video {
  height: 290px;
  width: 100%;
  img {
    border-radius: 10px;
  }
}
.boat-media-reviwer-img {
  height: 80px;
  width: 80px;
}
.boat-media-reviewer-div-bottom-border {
  border-bottom: 1px solid #e4e4e47d;
}
.article-desc-texts
{
  br{
    display: none;
  }
}

@media screen and (max-width: 1495px) {
  body {
    .boat-media-layout {
      .boat-media-header-img-responsive {
        height: 400px;
      }
      .media-banner-page-title {
        font-size: 13px;
      }
      .media-banner-title {
        font-size: 30px;
      }
      .media-banner-title-desc {
        font-size: 13px;
      }
      .member-post-value-icon {
        font-size: 17px;
      }
      .member-post-value {
        font-size: 13px;
      }
      .media-main-div-title {
        font-size: 16px;
      }
      .media-main-div-desc {
        font-size: 13px !important;
      }
      .media-article-title {
        font-size: 16px !important;
      }
      .boat-media-article-div
      {
      .boat-media-article-desc {
        .article-desc-title {
          font-size: 14px;
        }
        .article-desc {
          font-size: 13px !important;
        }
      }
    }
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .boat-media-layout {
    }
  }
}
