body {
  .iconColor-marinaInner {
    color: #2b76d5;
  }
}

body {
  .marinaInner-btnBlue {
    background-color: #2b76d5 !important;
  }
}
body {
  .marinaInner-btnBg {
    background-color: #2b76d5 !important;
    color: #fff !important;
    border-color: #2b76d5 !important;
  }
  .mariana-rating {
    .rating-clr {
      color: #f8bb03 !important;
    }
    .rating-btn {
      background-color: #2b76d5;
      border: 1px solid #2b76d5;
      color: #fff;
    }
  }
}
.inner-map {
  .map-class {
    position: relative;
  }
}
.w-85vw {
  width: 85vw !important;
}
body {
  h4 {
    font-size: 1.25rem;
  }
}
body {
  .brand {
    img {
      max-height: 130px;
    }
  }
}
.border-radius-padding-img {
  border-radius: 10px;
  padding: 4px;
}
.marina-storage-progress {
  .react-sweet-progress-line-inner {
    background-color: #2b76d5 !important;
  }
}
.marina-inner-header-badge
{
  border: solid 1px #808080;
  background-color: #E9ECEF;
  border-radius: 22px;
  padding: 2px 9px;
}
.inner-banner-social-section
{
  border-radius: 25px;
}
.inner-payment-div
{
  width: fit-content;;
}
.marina-inner-map-div
{
  .card-style
  {
    margin-left: 0;
  }
}
.first-banner-height
{
  height: 600px;
  padding: 4px;
}
.marina-banner-img-padding
{
  padding: 4px;
}
.inner-sticky-on-top
{
  z-index: 101;
}
.marina-inner-header-social-icon:hover
{
  background-color: #2276d6 !important;
  i{
  color: #fff !important;
}
}
.user-profile-online-section-marina {
  position: relative;
  .user-online-marina {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid #fff;
    border-radius: 12px;
    background: #fff;
    bottom: 2px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .online-div-user {
      height: 14px;
      width: 14px;
      border-radius: 12px;
      background: #24cc3c;
    }
  }
}