@media (max-width: 1495px) {
  .marina-inner-layout {
    h4 {
      display: flex;
      align-items: center;
      font-size: 16px;
    }
    .blue-dark {
      font-size: 11px !important;
    }
    .font-22 {
      font-size: 18px;
    }
    .marina-inner-header-badge {
      font-size: 10px;
      font-weight: 400;
      border: 0.5px solid #808080;
      border-radius: 4px;
       padding: 1px 4px;
    }
    .font13 {
      font-size: 12px;
    }
    .widget-media .icon {
      height: 30px;
      width: 30px;
      font-size: 10px;
      align-items: center;
    }
    .inner-banner-views-img {
      height: 11px;
    }
    .font-14 {
      font-size: 12.5px !important;
    }
    .inner-type-div {
      height: 70px;
      width: 70px;
    }
    .inner-user-info-section {
      display: flex;
      align-items: center;
      .marina-inner-company-logo {
        width: 80px !important;
        height: 50px !important;
      }
      .user-img-logo {
        width: 70px;
        height: 70px !important;
      }
    }
    .font-16 {
      font-size: 14px !important;
    }
    .inner-user-info-icon {
      height: 25px;
      width: 25px;
    }
    i {
      font-size: 20px;
    }
    .MuiLink-root {
      i {
        font-size: 10px !important;
      }
    }
    .video-react-big-play-button {
      font-size: 2rem;
    }
    .inner-payment-cash-icon {
      height: 17px;
    }
    .adam-creditcard {
      font-size: 23px;
    }
    .inner-trip-type-text-div {
      margin-top: 7px;
    }
    .first-banner-height{
      max-height: 388px;
    }
    .user-profile-card{
      zoom: 0.85;
    }
    .margin-add-feedback{
      margin-top: 0.5rem !important
    }
    .marina-display-flex{
      display: flex;
    }
    .margin-bottom-service{
      margin-bottom: 0.5rem !important;
      margin-top: 1.5rem !important
    }
    .margin-bottom-rating{
      margin-bottom: 0 !important
    }
    .padding-bottom-for-service{
      padding-bottom: 1.5rem !important
    }
    .mb-4{
      margin-bottom: 1rem !important;
    }
    .service-margin-right-bottom{
      margin-right: 0.8rem !important;
      margin-bottom: 0.8rem !important
    }
    .pl-5{
      padding-left: 1.5rem !important;
    }
    .MuiPaper-elevation1{
      height: 180px 
    }
    .user-profile-online-section-marina {
      .user-online-marina {
        height: 16px;
        width: 16px;
        border-radius: 12px;
        bottom: 8px;
        right: 11px;
        .online-div-user {
          height: 11px;
          width: 11px;
          border-radius: 12px;
        }
      }
    }
  }
}

@media (max-width: 1380px) {
  .marina-inner-layout {
    h4 {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
    .blue-dark {
      font-size: 9px !important;
    }
    .font-22 {
      font-size: 18px;
    }
    .marina-inner-header-badge {
      font-size: 9px;
      font-weight: 400;
      border: 0.5px solid #808080;
      border-radius: 4px;
      padding: 1px 4px;
    }
    .font13 {
      font-size: 11px;
    }
    .widget-media .icon {
      height: 25px;
      width: 25px;
      font-size: 10px;
      align-items: center;
    }
    .inner-banner-views-img {
      height: 9px;
    }
    .marina-views-img {
      height: 9px;
    }
    .font-14 {
      font-size: 11px !important;
    }
    .inner-type-div {
      height: 70px;
      width: 70px;
    }
    .inner-user-info-section {
      display: flex;
      align-items: center;
      .marina-inner-company-logo {
        width: 80px !important;
        height: 50px !important;
      }
      .user-img-logo {
        width: 70px;
        height: 70px !important;
      }
    }
    .font-16 {
      font-size: 14px !important;
    }
    .inner-user-info-icon {
      height: 25px;
      width: 25px;
    }
    i {
      font-size: 15px;
    }
    .MuiLink-root {
      i {
        font-size: 10px !important;
      }
    }
    .video-react-big-play-button {
      font-size: 1rem;
    }
    .inner-payment-cash-icon {
      height: 17px;
    }
    .adam-creditcard {
      font-size: 23px;
    }
    .inner-trip-type-text-div {
      margin-top: 7px;
    }
    .feedback-section {
      height: 15px;
    }
    .pt-3 {
      padding-top: 0 !important;
    }
    .pb-3,
    .pb-2 {
      padding-bottom: 0 !important;
    }
    .mb-1 {
      margin-bottom: 0;
    }
    .pb-1 {
      padding-bottom: 0;
    }
    .mr-2 {
      margin-right: 0.25rem !important;
    }
    .marina-user-card-text {
      font-size: 12px;
    }
    .list-group {
      .list-group-item {
        padding-bottom: 0 !important;
      }
    }
    .card-border {
      .pl-3 {
        padding-left: 0;
      }
      .pr-3 {
        padding-right: 0 !important;
      }
    }
    .inner-title-icons {
        height: 15px;
    }
    .first-banner-height{
      max-height: 300px;
    }
    .user-profile-card{
      zoom: 0.85;
    }
    .margin-add-feedback{
      margin-top: 0.5rem !important
    }
    .marina-display-flex{
      display: flex;
    }
    .margin-bottom-service{
      margin-bottom: 0.5rem !important;
      margin-top: 1.5rem !important
    }
    .margin-bottom-rating{
      margin-bottom: 0 !important
    }
    .padding-bottom-for-service{
      padding-bottom: 1.5rem !important
    }
    .mb-4{
      margin-bottom: 1rem !important;
    }
    .service-margin-right-bottom{
      margin-right: 0.8rem !important;
      margin-bottom: 0.8rem !important
    }
    .pl-5{
      padding-left: 1.5rem !important;
    }
    .MuiPaper-elevation1{
      height: 200px 
    }
    .user-profile-online-section-marina {
      .user-online-marina {
        height: 16px;
        width: 16px;
        border-radius: 12px;
        bottom: 8px;
        right: 11px;
        .online-div-user {
          height: 11px;
          width: 11px;
          border-radius: 12px;
        }
      }
    }
  }
}
