.user-faq-banner-div {
  height: 50vh;
  width: 100%;
  position: relative;
  img {
    height: 100%;
    width: 100%;
  }
}
.user-guide-banner-text-div {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  left: 16%;

  .main-home-search {
    height: 42px;
    border-radius: 6px;
    .btn-s {
      padding: 10px 10px;
    }
  }
}
.user-guide-nav-div {
  border-bottom: 1px solid #7676762b;
  width: 100%;
  .nav-link {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &:hover {
      color: #767676;
    }
    &.active {
      color: #000 !important;
      background-color: #fff !important;
    }
  }
}
.nav-pills .show > .nav-link {
  color: #000 !important;
  background-color: #fff !important;
}
.user-guide-nav-left-div {
  max-height: 392px;
  overflow-y: scroll;
}
.user-guide-nav-left-div::-webkit-scrollbar {
  width: 4px;
  border-radius: 25px;
}

.user-guide-nav-left-div::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

.user-guide-nav-left-div::-webkit-scrollbar-thumb {
  background-color: #76767638;
  outline: none;
  border-radius: 25px;
}
.border-user-guide-section {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}
.user-guide-div-img {
  width: 100px;
  height: 125px;
}
.user-guide-img-div-desc {
  font-weight: 400;
  font-size: 16px;
  color: #767676d4;
}

@media screen and (max-width: 1380px) {
  body {
    .user-faq-banner-div {
      height: 53vh;
      .faq-sub-title {
        font-size: 13px;
      }
      .faq-main-title-div {
        margin-top: 1.2rem !important;
      }
      .faq-main-title {
        font-size: 28px;
        margin-bottom: 3px;
      }
      .faq-main-search {
        height: 29px;
        .search-input {
          input {
            font-size: 10px;
          }
        }
        .faq-banner-search-btn {
          padding: 7px;
          i {
            font-size: 8px;
          }
        }
      }
    }

    .user-faq-main-container {
      margin-top: 1.1rem !important;
      .faq-questions-main-title {
        font-size: 14px;
      }
      .faq-main-row {
        margin-top: 1rem !important;
      }
      .faq-left-div {
        padding-right: 10px;
        flex: 0 0 30%;
        max-width: 30%;
      }
      .faq-left-side-question-link {
        font-size: 12px;
        padding: 0.4rem 1rem;
      }
      .faq-right-div {
        flex: 0 0 70%;
        max-width: 70%;
        padding-left: 10px;
      }
      .faq-right-side-answer-div {
        p {
          font-size: 10px;
        }
      }

      .user-faq-left-img-section {
        margin-top: 2rem !important;
      }
      .user-faq-left-img-div {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
      .user-faq-left-img {
        padding-top: 1rem !important;
      }
      .faq-left-img {
        width: 80px;
        height: 89px;
      }
      .user-faq-left-img-div-title {
        font-size: 13px;
      }
      .user-faq-left-img-desc-div {
        margin-top: 0.2rem !important;
      }
      .user-faq-left-img-desc {
        font-size: 11px;
      }
      .user-faq-left-second-img-section {
        margin-top: 1rem !important;
      }
    }
    .faq-divider {
      margin-top: 0rem !important;
    }
    .frequent-questions-container {
      max-width: 760px;
      margin-top: 1.8rem !important;
    }
    .frequent-questions-title {
      font-size: 16px;
    }
    .frequent-questions-main-div {
      margin-top: 0px !important;
    }
    .frequent-questions {
      font-size: 11px !important;
      margin-bottom: 0.2rem !important;
    }

    .border-user-guide-section {
      border: 0.5px solid #e6e6e6;
    }
  }
}
