.stepper-number-div {
  width: auto;
  height: auto;
  border: 1.5px solid #76767636;
  z-index: 99;
  padding: 8px 24px;
}

.stepper-div-text {
  color: #767676bf;
}
.stepper-info-rounded-circle {
  border-radius: 30px;
}
.stepper-line {
  min-width: 1px;
  margin: auto;
  bottom: 50%;
  border: 1px solid #000;
  width: calc(100% - 45px);
  right: 0;
}
.stepper-div {
  display: flex;
  width: 80%;
}
.bg-dark-blue {
  background-color: #0648a8;
}
.stepper-line-color {
  border: 2px solid #007bff !important;
}
.stepper-selected-div-text {
  span {
    color: #007bff !important;
  }
}

.flex-direction-column {
  flex-direction: column;
}
.stepper-line-div {
  position: absolute;
  top: 50%;
  width: 100%;
  min-width: 1px;
  margin: auto;
  border-top: 2px solid;
  left: 0;
}
.stepper-line-color-not-selected {
  border-top-color: #76767636;
}
.stepper-line-selected-color {
  border-top-color: #007bff;
}
.sales-engine-stepper-padding-bottom {
  padding-bottom: 6rem;
}
.sales-engine-info-div {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
}
.sales-engine-field-title {
  color: #444444;
  font-size: 16px;
}
.sales-engine-info-field {
  font-size: 14px;
  color: #444444;
  font-weight: 400;
}
.sales-engine-agent-img {
  height: 125px;
  width: 125px;
}
.width-80 {
  width: 80% !important;
}
.sales-engine-info-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.sales-engine-bot-info-div {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.sales-engine-step-page-title {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}
.sales-engine-step-page {
  background-color: #0048a3;
}
.sales-engine-buttons {
  // display: flex;
  //   justify-content: flex-end;
  //   position: absolute;
  //   right: 0;
  //   margin-right: 3rem;
  //   flex-direction: column;
  .btn-light {
    border-color: #0f0f0f24;
  }
}
.stepper-certify-surveyor-info {
  font-size: 24px;
}
.stepper-certify-surveyor-date {
  font-size: 18px;
  color: #002097;
  font-weight: 500;
}
.sales-engine-arrow-icon {
  font-size: 23px;
  color: #002097;
  margin-right: 8px;
}
.sales-engine-selected-payment-div {
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.sales-engine-payment-div {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.payment-option-div {
  margin-bottom: 13px;
}
.payment-option-bg {
  background: #ebebeb;
}
.light-gray-bg {
  background-color: #f9f9f9;
}

.surveyor-info-title {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.font-20 {
  font-size: 20px;
}
.light-gray-border {
  border: 1px solid #dde1e5;
}

.mr-10 {
  margin-right: 10px;
}
body {
  .navy-blue {
    color: #002097;
  }
}
body {
  .accept-btn-form,
  .decline-btn-form {
    padding: 4px 10px;
  }
  .submit-report-btn {
    background-color: #03be7d;
    border-color: #03be7d;
    color: #fff;
    text-transform: none;
    &:hover {
      background-color: #03be7d;
      border-color: #03be7d;
      color: #fff;
    }
  }
  .decline-btn-form {
    text-transform: none;
  }
  .accept-btn-form:hover {
    background-color: #061e9c;
    color: #fff;
  }
  .submit-report-btn {
    padding: 4px 16px;
    &:hover {
      box-shadow: 0 14px 26px -12px rgb(167, 168, 168), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(167, 168, 168, 0.29);
    }
  }
}
.stepper-main-div:last-child {
  width: auto !important;
  hr {
    display: none;
  }
}
.boat-survey-selection {
  .custom-select {
    width: 250px;
  }
}
.stepper-header {
  min-width: 175px;
  display: flex;
  align-items: center;
  span {
    font-size: 25px;
    font-weight: 600;
  }
}
body {
  .stepper-main-div-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.stepper-info-main-section {
  width: 100%;
  overflow: hidden;
}
.stepper-boat-info-img {
  height: 100%;
  width: 400px;
  img {
    border-radius: 8px;
    object-fit: cover;
  }
}
.stepper-boat-info-id {
  color: #dd3b26;
}
.stepper-boat-info-name {
  font-size: 24px;
}
.stepper-boat-info-final-price {
  font-size: 22px;
  font-weight: 500;
  color: #002097;
}
.stepper-boat-info-price {
  font-size: 19px;
  font-weight: 500;
}
.stepper-user-profile-icon-div {
  height: 23px;
  width: 23px;
}
.stepper-user-online {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid #fff;
  border-radius: 12px;
  background: #fff;
  bottom: 17px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  .online-div-user {
    height: 14px;
    width: 14px;
    border-radius: 12px;
    background: #24cc3c;
  }
}
.stepper-userImg {
  width: 150px;
  height: 150px;
}
.stepper-info-boat-section {
  border: 1px solid #dcdcdd;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
body {
  .stepper-next-btn {
    padding: 5px 30px;
  }
}
.stepper-boat-info-div {
  padding-right: 3rem !important;
}
.stepper-agent-info-div {
  width: 60%;
  border: 1px solid #dbdbdc8c;
  border-radius: 10px;

  .MuiIconButton-colorSecondary:hover {
    background-color: rgba(0, 32, 151, 0.12);
  }
  .MuiCheckbox-colorSecondary.Mui-checked {
    color: #002097;
    &:hover {
      background-color: rgba(0, 32, 151, 0.12);
    }
  }
}
.stepper-asign-agent-div {
  border-bottom: 1px solid #dbdbdc8c;
  .MuiFormControlLabel-root {
    margin: 0;
  }
}
.stepper-agent-img-div {
  height: 120px;
  width: 120px;
  img {
    border-radius: 50%;
  }
}
body {
  .stepper-agent-btn {
    background-color: white !important;
    border: 2px solid #dd3b26 !important;
    color: #dd3b26 !important;
    padding: 4px 18px;
  }
}
.agent-listings {
  .stepper-agent-info-div {
    width: 100%;
  }
}
.stepper-nearest-surveyor-img {
  width: 100%;
  height: 150px;
  img {
    border-radius: 6px;
  }
}
.stepper-surveyor-inspection-info {
  border: 1px solid #dbdbdc;
  border-radius: 4px;
  padding: 14px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stepper-nearest-surveyor-name {
  font-size: 22px;
}
.stepper-nearest-surveyor-distance {
  font-size: 16px;
}
.stepper-certify-boat-info-grid {
  border: 1px solid #dbdbdc;
  border-radius: 8px;
}
.stepper-submitted-report-info {
  width: auto;
  border: 2px solid #0078f9;
  padding: 10px 24px;
  border-radius: 25px;
  color: #0078f9;
}
.stepper-inspection-bank-payment {
  border: 2px solid #dcdcdd;
}
.stepper-inspection-card-payment {
  border: 2px solid #0078f9;
}
.stepper-inspection-payment {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
}
.stepper-inspection-payment-title {
  font-weight: 600;
  font-size: 20px;
}
.inspection-payment-pay-now-btn {
  padding: 6px 25px;
}
body {
  .inspection-payment-skip-btn {
    padding: 6px 60px;
    &:hover {
      background-color: #061e9c !important;
      color: #fff !important;
    }
  }
}
.nearest-surveyor-btn {
  font-size: 13px !important;
}
.nearest-surveyor-map {
  .map-design {
    .card-style {
      margin-top: 0;
    }
  }
}
.add-praposal-document > div {
  display: flex;
  flex-direction: column;
}
body {
  .shipment-proposal-cancel-btn {
    margin-right: 5px;
    color: #fff;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    width: auto;
    padding: 6px 16px;
  }
  .shipment-proposal-submit-btn {
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    background-color: #061e9c !important;
    border-color: #061e9c !important;
    width: auto;
    padding: 6px 16px;
  }
}
.shipment-proposal-desc-div,
.shipment-proposal-btn-div {
  padding: 16px 32px;
}
.shipment-proposal-desc-title,
.shipment-proposal-btn-div {
  padding: 16px 25px;
}
.shipment-proposal-desc-title {
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.shipment-proposal-btn-div {
  border-top: 1px solid #dee2e6;
  button {
    margin-top: 0 !important;
    margin-bottom: 8px !important;
  }
}
.shipment-proposal {
  border-radius: 4px;
}
body {
  .nearest-surveyor-decline-btn {
    background-color: #dd3b26 !important;
    border-color: #dd3b26 !important;
    &:disabled {
      opacity: 1;
    }
  }
  .agreement-popup{
     .MuiDialog-paperWidthSm {
    max-width: 950px; 
     }
}
}

.seller-logo-div {
  width: 53px;
  margin: auto;
  background: transparent;
  border: unset;
}
.inspection-payment-sales-engine-status {
  padding: 2px 20px;
  border-radius: 8px;
  font-size: 16px;
}

@media screen and (max-width: 1495px) {
  body {
    .accept-btn-form,
    .decline-btn-form,
    .submit-report-btn {
      font-size: 14px;
    }
    .nearest-surveyor-btn {
      padding: 10px 15px;
    }
  }
  .section-stepper-info-boat-div {
    padding: 1.5rem !important;
  }
  .shipment-proposal {
    zoom: 0.8;
  }
}

@media screen and (max-width: 1380px) {
  body {
    .stepper-info-boat {
      zoom: 0.86;
    }
    .stepper-boat-info-img {
      width: 438px;
    }
    .section-stepper-info-boat-div {
      padding: 1.1rem !important;
    }
    .stepper-main-div-section {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .sales-engine-stepper {
      padding-bottom: 2rem !important;
      padding-top: 2rem !important;
    }
    .seller-stepper-div-padding {
      padding: 2rem !important;
    }
    .stepper-agent-info-div {
      margin-top: 60px !important;
    }
    .agent-div-margin-top {
      margin-top: 0.4rem !important;
    }
    .boat-survey-selection {
      .custom-select {
        width: 50%;
      }
    }
    .stepper-add-survey-option {
      padding: 6px 13px;
      font-size: 14px;
    }
    .shipment-proposal {
      zoom: 0.6;
    }
    .nearest-surveyor-btn {
      font-size: 18px !important;
      padding: 8px 15px;
    }
    .stepper-nearest-surveyor-distance {
      font-size: 21px;
    }
    .stepper-nearest-surveyor-name {
      font-size: 28px;
    }
    .nearest-surveyor-map {
      .map-class {
        height: 56vh !important;
        .map-with-info > div {
          height: 56vh !important;
        }
      }
    }
    .shipper-sales-engine-dashboard-btn {
      font-size: 13px;
    }
    .shipment-proposal-cancel-btn,
    .shipment-proposal-submit-btn {
      font-size: 14px;
      padding: 7px 19px;
    }
    .sales-engine-header-help-dialog {
      zoom: 0.7;
    }
    .sales-engine-header-help-dialog-btn {
      font-size: 15px;
    }
    .surveyor-sales-engine-button {
      font-size: 14px !important;
    }
  }
}
.sales-engine-stepper {
  .stepper-main-div:last-child {
    hr {
      display: none !important;
    }
  }
}

