body {
  .card-style {
    margin: 10px;
  }

  form {
    .button {
      margin: 10px;
    }
  }
  .add-textField {
    font-size: 1rem !important;
  }
  .add-branch-map #pac-input {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .error-message {
    font-size: 12px;
    color: lightcoral;
    margin-top: 5px;
  }
}
.remove-doc {
  margin-left: 10px;
  border: 1px solid;
  border-radius: 25px;
  padding: 5px;
  background-color:white;
}

.video-url {
  position: relative;
  height: 40px;
  margin-top: 70px;
  margin-left: 300px;
  input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 33px;
    z-index: 999;
  }
  .choose-file-button {
    padding: 0px 23px;
    background: #3f4257;
    border-radius: 30px;
    color: white;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    transition: all 0.2s ease-in;
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
  }
}
