body {
  .brand {
    img {
      max-height: 130px;
    }
  }

  .media.media-lg {
    img {
      width: 130px;
    }
  }

  .name-md {
    background: rgba(236, 229, 219, 0.5);
    border-color: rgba(233, 236, 239, 0.5);
  }

  .callus {
    textarea {
      min-height: 90px;
      width: 100%;
      resize: none;
    }
  }

  .btn-color {
    background-color: #02c7de;
  }

  .text-light {
    color: rgba(118, 118, 118, 0.6) !important;
  }

  .bg-common {
    background: rgba(203, 230, 234, 0.2);
  }

  .btn-icon {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 8px 0;
  }

  .btn-icon span {
    display: table-cell;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    padding: 30px 6px 30px 6px;
  }

  .btn-icon span > i {
    font-size: 32px;
    margin-right: 5px;
    padding-bottom: 8px;
    vertical-align: middle;
    display: block;
  }

  .comment-author,
  .rentInnerReview-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  .btn-icon span:nth-child(1) {
    border-right: solid 1px #ebebeb;
  }

  .iconColor-rentInner {
    color: #46c8df;
  }
  .rentInner-btnBlue {
    background-color: #46c8df !important;
  }
  .rentInner-btnBg {
    background-color: #46c8df !important;
    color: #fff !important;
    border-color: #46c8df !important;
  }
  .rentInner-userCard-verifyIcon {
    color: #008489;
  }
  h4 {
    font-size: 1.25rem;
  }
}

.ratingLength {
  .text-grey {
    i,
    span {
      color: #adb5bd;
    }
  }

  .progress {
    border-radius: 5rem;
    height: 0.5rem;

    .progress-bar {
      background-color: #0648a8;

      &.progress-bar1 {
        width: 90%;
      }

      &.progress-bar2 {
        width: 95%;
      }

      &.progress-bar3 {
        width: 60%;
      }

      &.progress-bar4 {
        width: 20%;
      }

      &.progress-bar5 {
        // width: 90%
      }
    }
  }
}

.rentInner-reviewLink {
  button {
    text-decoration: underline;
    text-transform: uppercase;
  }
}

.rentInnerReview-imgDiv {
  height: 70px;
  width: 70px;
}

.sm-font {
  color: #adb5bd;
  font-size: 13px;
  vertical-align: middle;
  line-height: 1em;
}

.text-black {
  color: #000;
}
.text-map-color {
  color: #46c8df;
}
.cursor-pointer {
  cursor: pointer;
}
.rentInnner-userCard {
  border: 1px solid #e4e4e4 !important;
  border-radius: 1px !important;
  padding: 24px !important;
}
.rentInner-userImg {
  width: 130px;
}
.rentInner-userCard-icon {
  font-size: 25px;
}
.rentInner-userCard-reviewIcon {
  color: #ffb400;
}
.ml-80 {
  margin-left: 80px;
}
.rentCrad-userName {
  font-size: 46px;
}
.quote-icon {
  color: #ebebeb;
  font-size: 25px;
  font-weight: 700;
}
.rentInner-userTextH4 {
  color: #787878;
}
.font-weight-300 {
  font-weight: 300;
}
.rentInner-userLine {
  border: 1px solid;
  color: #ebebeb;
  display: flex;
}
.rentInner-userDetailIcon {
  font-size: 20px;
  color: #484848;
}
.rating-btn {
  background-color: #f46139;
  border: 1px solid #f46139;
  color: #fff;
}
.rating-clr {
  color: #f8bb03;
}
.rentInner-userListing-img {
  height: 200px;
  width: 300px;
}
.rentInner-userListing-textBrown {
  font-size: 18px;
  color: #787878;
}
.user-profile-country {
  font-size: 14px;
  color: #484848;
}
.rentInner-userListing-imgDiv {
  width: 300px;
}
.rentInner-userListing-textDesc,
.rentInnerUser-reviewerName,
.rentInnerUser-reviewDate {
  font-weight: 500;
}
.rentInnerUser-reviewerImage {
  height: 40px;
  width: 40px;
}
.w-85vw {
  width: 85vw !important;
}
.logo-box {
  border: 1px solid #f4f4f4;
  background: #f4f4f4;
  height: 50px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #e1e0e0;
  margin-top: 30px;
  text-transform: uppercase;
}
.company-name {
  color: #787878;
  margin-top: 15px;
}
.user-color-profile {
  color: #484848;
}
.user-profile-icon {
  color: #787878;
  border: 1px solid #787878;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.review-summary {
  text-align: center;
}

.review-summary {
  strong {
    font-size: 3rem;
  }
}

.boat-facilities-inner {
  ul {
    li {
      vertical-align: middle;
      text-align: center;
      list-style: none;
      display: inline-block;
      color: #333;
      margin-right: 10px;
      font-size: 1rem;
      max-width: 175px;
      width: 100%;
      border: solid 1px rgba(90, 142, 217, 0.2);
      background: rgba(165, 203, 242, 0.1);
      border-radius: 4px;
      margin-bottom: 13px;
      padding: 12px 5px 5px;
      height: 50px;
      border-radius: 30px;
      color: #787878;
    }
  }
}
.list-item-color {
  color: #787878;
}
.rent-progress {
  .react-sweet-progress-line-inner {
    background-color: #46c8df !important;
  }
}

.boat-inner-facilities-div {
  ul {
    li {
      padding: 8px 33px;
      display: flex;
      justify-content: center;
      width: auto;
      max-width: fit-content;
      list-style: none;
      margin-right: 10px;
      border: solid 1px #7878782e;
      border-radius: 25px;
      margin-bottom: 13px;
      color: #787878;
    }
  }
}
.list-item-color {
  color: #787878;
}
.inner-header-badge {
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #777777;
  border-radius: 4px;
  padding: 3px;
}
.text-capitalize{
  text-transform: capitalize
}
body {
  .inner-header-button {
    background-color: white;
    color: #46c8df !important;
    border: 1px solid #46c8df;
    font-size: 15px;
  }
}
.inner-banner-likes-div {
  z-index: 2;
  bottom: 15px;
  left: 15px;
  background-color: #fff;
  border-radius: 2px;
  padding: 8px 18px;
}
.inner-banner-views-div {
  z-index: 2;
  background-color: #fff;
  border-radius: 2px;
  padding: 8px 18px;
}
.inner-image-div {
  z-index: 1;
}
.inner-banner-top-social-div {
  top: 15px;
  right: 15px;
  display: flex;
}
.inner-banner-views-icon-div::before {
  font-size: 17px;
}
.inner-payment-icon {
  font-size: 30px;
}
body {
  .rent-inner-border {
    border: 2px solid #018abc !important;
    border-radius: 10px;
  }
}
// .inner-map-section {
//   .card-style {
//     margin-left: 0;
//   }
// }
.inner-type-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  height: 110px;
  width: 110px;
}
.inner-user-info-section {
  width: 80px;
  height: 80px;
}
.inner-header-social-icon {
  .icon:hover {
    background-color: #46c8df !important;
    i {
      color: #fff !important;
    }
  }
}
.trip-type-inner {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.inner-trip-type-icon-div {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.inner-trip-type-text-div {
  height: 60%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.inner-rating-section {
  h1 {
    color: #444444;
  }
  .based-on-review {
    color: #666666;
    font-size: 14px;
  }
  .review-quality {
    color: #333333;
    font-size: 14px;
  }
  .rating-start-icon {
    .MuiSvgIcon-root {
      font-size: 18px;
    }
  }
  .quality-rating-row {
    .MuiSvgIcon-root {
      font-size: 16px;
    }
  }
  .view-all-review-div {
    font-size: 13px;
  }
}
.inner-review-section {
  .reviewer-name-section {
    color: #333333;
    font-weight: 400;
  }
  .review-desc {
    color: #666666;
    font-size: 15px;
  }
  .review-star-section {
    .MuiSvgIcon-root {
      font-size: 16px;
    }
  }
}
.inner-banner-views-img {
  height: 11px;
}
.inner-banner-like-img {
  height: 15px;
}
.marina-views-img {
  height: 12px;
}
.inner-user-info-icon {
  height: 30px;
  width: 30px;
}
.user-time-info-icon {
  border: 1px solid #e7e7e7;
  padding: 7px;
  border-radius: 15px;
}
.inner-payment-cash-icon {
  height: 23px;
  filter: grayscale(100%);
}
.feedback-section {
  height: 17px;
}
.rent-inner-layout {
  .feedback-section {
    height: 17px;
    filter: invert(1)
  } 
  .map-design {
    .MuiCardContent-root {
      padding: 0 !important;
    }
  }
}
.inner-rating-div
{
  .rentInner-btnBg:hover
  {
    box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  }
}