@media (max-width: 1495px){
    body{
        .rent-inner-layout{
            h4 {
                display: flex;
                align-items: center;
                font-size: 16px
            }
            p {
                font-size: 11px;
            }
            .sky-blue{
                font-size: 11px !important
            }
            .font-22{
                font-size: 18px
            }
            .inner-header-badge {
                font-size: 10px;
                font-weight: 400;
                border: 0.5px solid #808080;
                border-radius: 4px;
                padding: 1px 2px;
            }
            .dark-silver{
                color: #808080 !important
            }
            .rating-clr .MuiSvgIcon-root {
                width: 16px;
                height: 16px;
            }
            .font13{
                font-size: 12px;
            }
            .widget-media .icon{
                height: 30px;
                width: 30px;
                font-size: 10px;
                align-items: center;
            }
            .inner-header-button{
                font-size: 14px;
            }
            .img-show-text{
                font-size: 12px !important
            }
            .inner-banner-views-img{
                height: 11px;
            }
            .font-14{
                font-size: 12.5px !important
            }
            .inner-user-info-section{
                display: flex;
                align-items: center;
                .rent-inner-logo {
                    width: 80px !important; 
                    height: 60px !important;
                }
                .user-img-logo{
                    width: 85px;
                    height: 85px !important
                }
            }
            .font-16{
                font-size: 15px !important
            }
            .inner-user-info-icon{
                height: 25px;
                width: 25px;
            }
            .credit-icon{
                font-size: 30px !important
            }
            .inner-payment-cash-icon{
                font-size: 18px;
                filter: none
            }
            .f-15{
                font-size: 14px !important
            }
            .inner-type-div{
                height: 70px;
                width: 70px;
            }
            i {
                font-size: 20px;
            }
            .inner-trip-type-text-div{
                margin-top: 7px;
            }
            .video-react-big-play-button {
                font-size: 2rem;
            }
            .MuiLink-root{
                i {
                    font-size: 12px !important
                }
            }
        }
    }
}


@media (max-width: 1380px){
    body{
        .rent-inner-layout{
            h4 {
                display: flex;
                align-items: center;
                font-size: 14px
            }
            p {
                font-size: 11px;
            }
            .sky-blue{
                font-size: 9px !important
            }
            .font-22{
                font-size: 18px
            }
            .inner-header-badge {
                font-size: 9px;
                font-weight: 400;
                border: 0.5px solid #808080;
                border-radius: 4px;
                padding: 1px 4px;
            }
            .dark-silver{
                color: #808080 !important
            }
            .rating-clr .MuiSvgIcon-root {
                width: 12px;
                height: 12px;
            }
            .font13{
                font-size: 11px;
            }
            .widget-media .icon{
                height: 25px;
                width: 25px;
                font-size: 10px;
                align-items: center;
            }
            .inner-header-button{
                font-size: 12px;
            }
            .img-show-text{
                font-size: 10px !important
            }
            .inner-banner-views-img{
                height: 9px;
            }
            .font-14{
                font-size: 11px !important
            }
            .inner-user-info-section{
                display: flex;
                align-items: center;
                .rent-inner-logo {
                    width: 80px !important; 
                    height: 50px !important;
                }
                .user-img-logo{
                    width: 70px;
                    height: 70px !important
                }
            }
            .font-16{
                font-size: 14px !important
            }
            .inner-user-info-icon{
                height: 25px;
                width: 25px;
            }
            .credit-icon{
                font-size: 25px !important
            }
            .inner-payment-cash-icon{
                height: 18px;
                filter: none
            }
            .f-15{
                font-size: 12px !important
            }
            .inner-type-div{
                height: 70px;
                width: 70px;
            }
            i {
                font-size: 20px;
            }
            .inner-trip-type-text-div{
                margin-top: 7px;
            }
            .video-react-big-play-button {
                font-size: 2rem;
            }
            .MuiLink-root{
                i {
                    font-size: 10px !important
                }
            }
            .pt-3 {
                padding-top: 0 !important
            }
            .pb-3, .pb-2{
                padding-bottom: 0 !important
            }
            .mb-1{
                margin-bottom: 0;
            }
            .pb-1{
                padding-bottom: 0
            }
            .mr-2 {
                margin-right: 0.25rem !important
            }
            .rent-user-card-text{
                font-size: 12px;
            }
            .list-group{
                .list-group-item {
                    padding-bottom: 0 !important
                }
            }
            .card-border{
                .pl-3 {
                    padding-left: 0;
                }
                .pr-3 {
                    padding-right: 0 !important;
                }
            }

            .feedback-section {
                height: 15px;
            }
    }
}
}