.addRentBoat-field {
  label {
    margin-bottom: 0;
  }
  .MuiChip-root {
    height: 22px;
    font-size: 12px;
    border-radius: 3px;
    color: #002097;
  }
}

body {
  .minWidth-40 {
    min-width: 25%;
  }
  .mt-25 {
    margin-top: 25px;
  }
}
.addRentBoat-img {
  .fileContainer {
    padding: 0;
  }
}
.addRentBoat-field .required::after {
  content: "*";
  color: red;
  padding-left: 2px;
}
.addBoat-selectedValue {
  .MuiSelect-select {
    display: flex;
    flex-wrap: wrap;
    .MuiChip-root {
      margin: 2px;
    }
  }
  .MuiSelect-select:focus {
    background-color: #fff;
  }
}

.MuiList-root {
  option: focus {
    background-color: red;
  }
}
.MuiPaper-root {
  .MuiMenu-list {
    option:hover {
      background-color: rgba(0, 0, 0, 0.14);
    }
    option[aria-selected] {
      background: #ddd;

      padding: 5px;
    }
    option {
      margin: 0 5px;
      padding: 5px;
      background: #fff;
      border-radius: 5px 5px 5px 5px;
    }
  }
}
