body {
  .boat-service-img {
    position: relative;
  }

  .boat-service-card {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 35%;
  }
  .w-fix-service {
    min-width: 169px !important;
  }
  .page-hero.no-overflow {
    overflow: initial;
  }

  .page-hero {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: transparent;
    min-height: 240px;
    height: 300px;
    text-align: right;
  }

  .page-hero img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 240px;
    height: 300px;
    border-radius: 10px;
  }

  .page-hero .overlay-text {
    position: absolute;
    float: left;
    display: block;
    text-align: left;
    width: 100%;
    height: 100%;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
    bottom: 0;
    z-index: 1000;
    color: #fff;
    padding: 30px;
  }

  .visible-none {
    visibility: hidden;
  }

  .boat-card {
    display: flex;
  }

  .boat-card-details {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .boat-card-content {
    flex: 1 0 auto;
  }

  .boat-card-cover {
    width: 151px;
  }

  .service-icon {
    width: 50px;
    height: 50px;
  }

  .img-reviews1 {
    display: flex;
    flex: 0.3;
    background-size: contain;
    background: scroll center url("../../assets/images/header//thump-1.jpg");
  }

  .img-reviews2 {
    display: flex;
    flex: 0.3;
    background-size: contain;
    background: scroll center url("../../assets/images/header//thump-2.jpg");
  }

  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desc-text {
    margin-top: 1rem;
    color: #999999;
  }

  .bg-warning,
  .badge-warning {
    background: #ffc107 !important;
    cursor: pointer;
  }

  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 70%;
    font-weight: normal;
    border-radius: 20px;
    text-transform: uppercase;
  }

  .name-reviewer {
    padding: 10px;
    font-size: 14px;
  }

  .date {
    color: #787878;
    font-size: 11px;
    vertical-align: middle;
    line-height: 1em;
  }
}

.reviewPlaceImage {
  overflow: hidden;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.viewerTime {
  color: #787878;
  font-size: 12px;
}

.reviewCardDiv {
  border: 1px solid lightgray;
}

.serviceImgHeight {
  height: 9rem;
  display: flex;
  align-items: center;
  // width: 10rem;
}

img {
  max-width: 100%;
}
body {
  .boatService-banner-btn:hover {
    background-color: #f46139 !important;
    border-color: #f46139 !important;
    box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(169, 169, 169, 0.2);
  }
}
.singleCard-btn {
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
body {
  .addBoatService-btn:hover {
    background: #061e9c;
  }
  .review-card-div-border {
    border-radius: 4px;
  }

  .boat-service-drop-down .MuiSelect-selectMenu {
    white-space: normal;
  }
}
.recent-service {
  color: #f46139;
  padding-top: 0;
  font-size: 15px;
  font-weight: 500;
}
.recent-service-description {
  color: #787878;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.view-service-img-salesman {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.boat-service-viewer-section {
  height: 45px;
  width: 45px;
}
.view-service-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.salesman-name {
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-left: 6px;
  color: #787878;
}
.service-card-button {
  padding: 0 35px 35px 35px;
  display: flex;
  justify-content: space-between;
}
.register-card-main {
  .register-card {
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding-left: 70px;
    justify-content: center;
    color: #fff;
  }
  .register-link-name {
    text-transform: uppercase;
  }
  .register-description {
    color: #fff;
    p {
      color: #fff;
    }
  }
}
.profile-info,
.review-text {
  color: #787878;
}
.margin-service-text {
  margin-left: 5px !important;
}
.service-country-name {
  opacity: 0.8;
  color: #484848;
  text-transform: uppercase;
}
.boat-service-layout {
  .boat-service-arrow {
    .LeftRight-arrow {
      top: calc(50% - 24px) !important;
    }
  }
  .rent-explore-boat {
    width: 100% !important;
  }
}
.multi-select-chip-margin {
  .MuiChip-root {
    margin: 0.2rem !important;
  }
}
.boat-service-layout {
  .rating-clr {
    color: #f8bb03;
    .MuiSvgIcon-root {
      width: 20px;
      height: 20px;
    }
  }
}
.service-card-banner {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  left: 5%;
}
.profile-info {
  text-overflow: ellipsis;
  max-width: 110px;
  overflow: hidden;
  white-space: nowrap;
}
.boat-service-banner-form-option:before {
  border-bottom: unset !important;
}
.boat-service-layout {
  .show-link {
    margin-top: 1.5%;
  }
  .boat-added-recently-services-desc {
    margin-top: 10px;
  }
}
.service-share-icon {
  width: auto;
  top: 0;
  right: 0;
  .share-icon .share-button,
  .share-icon .heart-button {
    border: 1px solid #f4f4f4;
  }
}
.boatservice-notify:hover
{
color: #00a38896;
}
@media screen and (max-width: 1495px) {
  .boat-service-layout {
    .show-link {
      font-size: 13px;
      margin-top: 1%;
    }
    .boat-added-recently-services-desc {
      margin-top: 5px;
    }
    .share-icon .share-button,
    .share-icon .heart-button {
      width: 30px;
      height: 30px;
      border: 0.5px solid #f4f4f4;
    }
  }
}
@media (max-width: 1380px) {
  .profile-info {
    max-width: 89px;
  }
  body {
    .boat-service-layout {
      .show-link {
        font-size: 13px;
        margin-top: 0.9%;
      }
      .info-wrap {
        padding: 0px !important;
      }
      .boat-added-recently-services-desc {
        margin-top: 0;
        font-weight: normal;
      }
      .card-block .recently-service {
        position: absolute;
        bottom: -6px;
        width: 60px;
        height: 12px;
      }
      figcaption {
        .review-star {
          position: absolute;
          width: 60px;
        }
        .review-star,
        .rating-clr > span {
          height: 12px;
          width: 12px;
        }
      }
      .boat-added-recently-services-desc {
        line-height: 1.1 !important;
      }
      .share-icon .share-button,
      .share-icon .heart-button {
        width: 25px;
        height: 25px;
        i {
          font-size: 10px;
        }
      }
      .boat-service-added-rating .MuiSvgIcon-root {
        position: absolute;
      }
      .boat-service-added-rating .review-text {
        margin-top: 0 !important;
      }
      .boat-service-viewed-count {
        display: flex;
        align-items: center;
        svg {
          font-size: 18px;
          margin-right: 3px;
        }
      }
      .card-action {
        top: 5px;
        padding: 5px 10px;
      }
    }
  }
}
.notify-color {
  color: #061e9c !important;
}
.search-background {
  background-color: #061e9c !important;
  border: #061e9c !important;
}
// .view-service-reviewer
// {
//   height: 23px;
//   width: 23px;
// }
// .view-service-reviewer-div
// {
//   background-color: whitesmoke;
//   padding: 8px;
//   border-radius: 28px;
// }
.view-service-reviewer-div {
  height: 100%;
  width: 100%;

  img {
    border-radius: 50%;
  }
}
.boat-service-viewer-section {
  border-radius: 50%;
  border: 1px solid #f4f4f4;
}
.boat-service-banner-form-div {
  .boat-service-banner-form-info {
    ::placeholder {
      color: #444444;
      opacity: 0.6;
    }
  }
  .boat-service-banner-form-option {
    .MuiSelect-select {
      color: #444444;
    }
  }
}
.boat-service-quality-title,
.boat-service-viewed-title {
  color: #ff6138;
}
.boat-service-video-section {
  .boat-service-video-title-div {
    color: #484948;
  }
  p {
    color: #767676;
  }
}
.boat-service-explore-india-div {
  .boatInner-btnBg {
    // background-color: unset !important;
    background-color: unset;
    border-color: unset !important;
  }
  .explore-adamsea-main-div {
    margin-right: 0;
  }
}
body {
  .boat-service-added-div-border {
    border-radius: 6px;
  }
}
.boat-service-video-div {
  .position-relative {
    .MuiSvgIcon-root {
      width: 48px !important;
    }
  }
}
// .boat-service-banner-form-title {
//   opacity: 0.6;
// }
// .boat-service-banner-form-info {
//   ::placeholder {
//     opacity: 0.6;
//   }
// }
.boat-service-banner-form-info {
  .form-control {
    opacity: 0.6;
  }
  .boat-service-banner-form-title {
    opacity: 0.6;
  }
  ::placeholder {
    opacity: 0.6;
  }
  .boat-service-banner-form-option {
    .MuiSelect-select {
      opacity: 0.6;
    }
  }
}
.boat-service-logo {
  .header-logo {
    img {
      width: auto;
    }
  }
}
.boat-service-layout {
  .section-heading {
    letter-spacing: 0 !important;
  }
}

.info-class {
  position: absolute;
  right: 0;
  top: 25px;
  background: black;
  color: white;
  width: 120px;
  overflow-wrap: break-word;
  font-size: 0.75rem;
  z-index: 999;
  padding: 3px;
  overflow: visible;
}
.overflow-card-visible {
  overflow: visible !important;
}
// .boat-service-layout
// {
//   .right-arrow
//   {
//     right: -16px;
//   }
//   .left-arrow
//   {
//     left: -16px;
//   }
// }
.boat-service-layout {
  .boat-info {
    .team-commitment-text {
      color: #333333 !important;
    }
  }
}
