body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.h100-vh,
#root {
  height: 100vh;
}

.w-100 {
  width: 100%;
}
.form-text-fix {
  .form-control{
    padding: 0.375rem 1.3rem 0.375rem 0.75rem !important
  }
}
.phone-number {
  .react-tel-input {
    .form-control{
      padding: 0.375rem 1.3rem 0.375rem 2.5rem !important;
    }
  }
}
.alert {
  padding: .4rem 1.25rem !important
}
.password-show-icon{
  z-index: 0;
}
.w-none {
  width: 0%;
}

.img-holder {
  background-color: #061e9c;
  text-align: center;
  z-index: 999;
}

.form-holder {
  width: 100%;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
}

.form-content .form-items {
  max-width: 380px;
  text-align: left;
}

.form-content .page-links {
  margin-top: 15px;
}

.form-content .page-links a:last-child {
  margin-right: 0;
}

.form-content .page-links a {
  color: #0721ae;
}

.form-content p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

.form-content h3 {
  color: #333;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.img-holder .info-holder h3 {
  display: block;
  color: #fff;
  text-align: left;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 30px;
  width: 100%;
  max-width: 380px;
}

p {
  font-size: 13px;
  color: #767676;
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  /* font-weight: 600; */
  font-family: CircularStd !important;
}

.other-links {
  text-align: center;
  padding: 0 20px;
}

.form-content .other-links span {
  font-size: 12px;
  font-weight: 300;
  color: #767676;
  opacity: 0.8;
}

.form-content form {
  margin: 50px 0;
}

.float-left {
  float: left !important;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.mt-10 {
  margin-top: 10px;
}

.ml-50 {
  margin-left: 55px;
}

.foot-link .other-links a {
  color: #a5cbf2;
  border-right: solid 1px;
  padding-right: 10px;
  padding-left: 10px;
  opacity: 0.6;
}

.foot-link .other-links a,
.form-content .other-links a {
  font-size: 11px;
  font-weight: 500;
  margin-right: 0px;
}

.d-block {
  display: block !important;
}

.foot-link .other-links {
  padding-left: 0px;
}

.other-links {
  text-align: center;
  padding: 0 20px;
}

.text-left {
  text-align: left !important;
}

.website-logo {
  display: inline-block;
  top: 50px;
  left: 50px;
  right: initial;
  bottom: initial;
  z-index: 1000;
}

.website-logo .logo img {
  width: 130px;
}

.img-holder .info-holder p {
  display: block;
  color: #fff;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 380px;
}

.img-holder {
  position: relative;
}

.img-holder .info-holder img {
  width: 100%;
}
body {
  .register-background-img::after {
    content: "";
    position: absolute;
    opacity: 0.23;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  .register-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.foot-link .other-links a,
.form-content .other-links a {
  font-size: 11px;
  font-weight: bold;
  margin-right: 0px;
}

.custom-bullet {
  counter-reset: counter;
  margin-left: 0;
  text-align: left;
  padding: 0;
  margin-bottom: 3rem;
  list-style: none;
  position: absolute;
}

.custom-bullet--b > li {
  position: relative;
  margin-bottom: 6px;
  border-radius: 3px;
  padding-left: 25px;
}

.custom-bullet--b > li:before {
  font-size: 0.75rem;
  top: 2px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: #484848;
  background-color: #ffc107;
  border-radius: 1rem;
  left: 0px;
}

.custom-bullet li a {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  float: left;
}

.remove-underline {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  float: left;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.float-left {
  float: left !important;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.form-content label {
  color: #484848;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}

.minus-20 {
  margin-top: -20%;
}

.container11 {
  display: flex;
  flex: 1;
  min-height: 100%;
}

.halfPart {
  display: flex;
  flex: 1;
  background: red;
}

.registerMain-div {
  flex: 0.5;
  min-height: 100vh;
  margin-left: 3em;
}

.registrationFree-div {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.registrationJoin-font,
.registrationWorldWide-text {
  font-size: 0.8em;
}
.registration-infoDiv {
  margin-top: 5px;
}
.registrationDiv {
  font-size: 12px;
  margin-right: 10px;
  background: #ffc107;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 50%;
  color: black;

  .Font12 {
    font-size: 12px;
  }
}
body {
  .register-custom-control-label::before,
  .register-custom-control-label::after {
    top: 0.1rem;
  }
  .error-message {
    color: red;
  }
  .error-message-fullfill {
    color: #4bb543;
    font-size: 12px;
  }
  .alert-error {
    background-color: #d32f2f;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
    box-shadow: unset;
    > div {
      padding: 6px 0;
    }
    svg {
      font-size: 18px;
      width: 18px;
      height: 18px;
      margin-right: 5px;
    }
  }
}

.map-modal {
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

.googleMap-position {
  position: "relative";
  overflow: "visible";
}
.height-inherit {
  height: inherit;
}
.logo-left-margin {
  margin-left: 3em;
}
.register-map-section {
  .map-design {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .map-card-div {
      width: 50%;
      .register-map-close-btn {
        width: 15px;
        height: 15px;
      }
      .map-close-btn-position {
        padding-right: 30px;
      }
      .map-card-content {
        padding: 30px !important;
        .map-search-place-div {
          width: 100%;
          max-width: 100%;
          flex-basis: 100%;
          margin-bottom: 20px;
        }
        .map-location-show {
          margin-top: 20px;
        }
      }
    }
  }
}

.pac-container {
  z-index: 1300;
}
.register-form-holder {
  position: relative;
  z-index: 9;
}
.attach-logo {
  position: relative;
  input {
    opacity: 0;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
  }
  .register-img-uploader {
    position: relative;
    display: flex;
    height: 32px;
    overflow: hidden;
  }
  button {
    position: absolute;
    top: 0;
    background: #061e9c;
    border-color: #061e9c;
    font-size: 13px;
    text-transform: capitalize;
    color: #fff;
    height: 100%;
    padding: 0 8px;
    width: 100%;
  }
}
.register-map-main-div {
  button {
    background: #061e9c;
    border-color: #061e9c;
    color: #fff;
    height: 32px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
}
.agreement-label {
  font-size: 20px !important;
  margin-bottom: 0;
  margin-right: 5px;
}
.register-map-main-div button {
  letter-spacing: 0.02857em;
}
.model-width > .MuiDialog-paper {
  width: 100%;
  margin: 0 !important;
  .map-close-btn-position {
    position: absolute;
    padding: 0 !important;
    width: 14px;
    height: 14px;
    right: 10px;
  }
  .map-card-div {
    border: 0 !important;
  }
  .map-search-place-div {
    input {
      margin-bottom: 10px;
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .align-center {
      align-items: center;
    }
    .register-map-section {
      .map-design {
        .map-card-div {
          .register-map-close-btn {
            width: 10px;
            height: 10px;
          }
          .map-close-btn-position {
            padding-top: 0.8rem !important;
          }
          .map-card-content {
            padding: 21px !important;
            .MuiTypography-body1 {
              font-size: 12px;
            }
            .map-location-show > div {
              height: 30vh;
            }
          }
        }
      }
    }
    .register-map-main-div {
      font-size: 12px;
      button {
        font-size: 9px;
        font-weight: 500;
      }
    }
    .attach-logo button {
      font-size: 9px;
    }
    .form-holder .form-content {
      padding: 20px;
    }
    .MuiGrid-spacing-xs-2 > .MuiGrid-item {
      padding: 4px;
    }
    .agreement-label {
      font-size: 13px !important;
      + input {
        margin-bottom: 10px;
      }
    }
    // .agreement-label
    .agreement-mb {
      margin-bottom: 9px;
      margin-top: 9px !important;
    }
    .register-form-holder .form-control {
      height: 24px;
    }
    .register-form-holder .form-side-icon {
      svg {
        font-size: 12px;
      }
    }
  }
}

.invalid-feedback-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
