.mb-30 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.profile-container {
  margin: auto;
  max-width: 80%;
  padding: 15px 15px;
}

.profile-container1 {
  margin: auto;
  max-width: 80%;
  padding: 15px 15px;
  text-align: center;
}

.root {
  display: "flex";
  flex-direction: row;
}

.mt-2 {
  margin-top: 2%;
}

.button {
  margin: 10px;
}

.card-parent .card-title {
  margin-left: 1%;
  margin-top: 0.5%;
}

.card-content {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px;
}

.field {
  padding-top: 10px;
}

.dashboard-profile-label {
  label {
    margin-bottom: 0;
  }
}

body {
  .profile-button {
    margin: 10px;
    width: 6%;
  }

  .primary-button:hover {
    background: #061e9c;
    border-color: #061e9c;
    -webkit-box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42),
      0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);
    box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42),
      0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);
  }

  .btn-dark {
    color: #fff;
    background-color: #343a40 !important;
    border-color: #343a40 !important;

    &:hover {
      background-color: #23272b !important;
      border-color: #1d2124 !important;
      -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42),
        0 4px 23px 0 rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(169, 169, 169, 0.2);
      box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42),
        0 4px 23px 0 rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(169, 169, 169, 0.2);
    }
  }

  .btn-danger {
    background-color: #ef5350;
    border-color: #ef5350;

    &:hover {
      background-color: #ef5350;
      border-color: #ef5350;
      -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42),
        0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
      box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42),
        0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
    }
  }
  .home-clr-card {
    color: #ef5350;
  }
  .info-button {
    background-color: #5a8ed9;
    border-color: #5a8ed9;
    &:hover {
      background-color: #5a8ed9;
      border-color: #5a8ed9;
      -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42),
        0 4px 23px 0 rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(23, 105, 255, 0.2);
      box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42),
        0 4px 23px 0 rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(23, 105, 255, 0.2);
    }
  }
}
.changePassword-div {
  border: 1px solid #ced4d9;
  width: 30%;
  margin: auto;
}

.profile-radio-container {
  height: 32px;
  padding-top: 4px;
}
.member-contact-field {
  .card {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0.15rem;
    padding-left: 8px;
    .form-check {
      margin-right: 15px;
    }
  }
}
.form-label-margin {
  label {
    margin-bottom: 3px;
  }
}
.change-password-margin{
  margin-top: 100px;
}

// responsive css start

// @media screen and (max-width: 1495px) {
//   body {
//     .profile-dashboard-form {
//       .card-title {
//         font-size: 16px;
//         margin-bottom: 0;
//       }
//       label {
//         font-size: 13px;
//       }
//      .form-control
//      {
//       font-size: 11px;
//       padding: 5px 10px;
//       height: auto;
//       border: 0.5px solid #ced4da;
//       line-height: 1.5;
//      }
//      .profile-images
//      {
//       .addBoat-container
//       {
//         width: 80px;
//         height: 80px;
//       }
//       .addBoatShow-imgUploader
//       {
//         .fileContainer
//         {
//         p{
//           font-size: 10px;
//         }
//         button
//         {
//           font-size: 10px;
//         }
//       }
//       }
//      }
//      .profile-button
//      {
//        font-size: 12px;
//      }
//     }
//   }
// }
// @media screen and (max-width: 1380px) {
//   body {
//     .profile-dashboard-form {
//       .card-title {
//         font-size: 14px;
//         margin-bottom: 0;
//       }
//       label {
//         font-size: 10px;
//       }
//      .form-control
//      {
//       font-size: 10px;
//       padding: 5px 7px;
//       height: auto;
//       border: 0.5px solid #ced4da;
//       line-height: 1.2;
//      }
//      .profile-images
//      {
//       .addBoat-container
//       {
//         width: 70px;
//         height: 70px;
//       }
//       .addBoatShow-imgUploader
//       {
//         .fileContainer
//         {
//         p{
//           font-size: 8px;
//         }
//         button
//         {
//           font-size: 9px;
//         }
//       }
//       }
//      }
//      .profile-button
//      {
//        font-size: 10px;
//      }
//     }
//   }
// }
