body {
  .listing-menu {
    display: flex;
    flex-direction: column;
  }
  .image-opacity:hover{
    opacity: 0.7;
  }
  .adamseaMarket-img {
    height: 16vh;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .registerListing-font {
    color: #484948;
    font-weight: 500;
  }

  .register-type {
    color: #484848;
    font-weight: 500;
  }
  .register-markets-page-links {
    line-height: 1 !important;
  }
  .registerListing-innerType {
    font-size: 0.8125rem;
    color: #696363;
    line-height: 7px;
  }

  .adamseaMarket-name {
    span {
      font-size: 13px;
      color: #484948;
    }
  }

  .register-listing-text {
    ul {
      li:hover {
        color: #061e9c;
      }
    }
  }
  .login-register-div {
    cursor: auto;
  }
  .welcome-text {
    color: #484848;
    font-weight: 500;
  }
  .description-text {
    color: #484948;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .button-text {
    color: #484848;
  }
  .p-15 {
    padding: 1.5rem;
  }
  .mb-17 {
    margin-bottom: 1.7rem;
  }
  .popup-login {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    color: #484848;
    padding: 5px;
  }
  .login-dropdown-padding-top {
    padding-top: 30px !important;
  }
}
.header-dropdown-div {
  white-space: pre-wrap;
}
@media only screen and (max-width: 1280px) {
  .small-screen-font-9 {
    font-size: 9px !important;
  }
  .small-screen-font-10 {
    font-size: 10px !important;
  }
  .small-screen-font-12 {
    font-size: 12px !important;
  }
  .small-screen-font-13 {
    font-size: 13px !important;
  }
  .small-screen-font-14 {
    font-size: 14px !important;
  }
  .small-screen-font-15 {
    font-size: 15px !important;
  }
  .small-screen-font-16 {
    font-size: 16px !important;
  }
  .header-dropdown-listing-div {
    .MuiGrid-spacing-xs-3 > .MuiGrid-item {
      padding: 6px 12px;
    }
  }
  body {
    .wc-image {
      // height: 300px !important;
    }
    .registerListing-innerType {
      padding: 5px;
      padding-right: 0px;
    }
    .header-dropdown-market-section {
      width: calc(100% + 8px);
      margin: -4px;
      & > .MuiGrid-item {
        padding: 4px;
      }
    }
    .login-small-screen-dropdown {
      top: 94px !important;
    }
    .header-dropdown-welcome-section {
      padding: 30px 23px !important;
    }
  }
  .small-screen-dropdown-sections-img {
    border-radius: 5px;
  }
}
.header-dropdown-main-div {
  width: 100%;
  display: flex;
  .header-dropdown-left-div {
    width: 30%;
  }
  .header-dropdown-right-div {
    width: 70%;
  }
}

.header-responsive .position-relative button {
  .login-signup-header-link:hover {
    color: #061e9c !important;
  }
}
