.boat-service-layout {
  //   margin-top: 94px;
  //   .home-video-banner {
  //     height: calc(100vh - 94px);
  //   }
}
@media screen and (max-width: 1495px) {
  body {
    .boat-service-layout {
      .w-fix-service {
        min-width: 145px !important;
      }
      //   margin-top: 84px !important;
      //   .home-video-banner {
      //     height: calc(100vh - 84px);
      //   }
      .register-card-main {
        p {
          font-size: 12px;
        }
      }
      .boat-service-banner-form-div {
        .boat-service-banner-form-info {
          .form-control {
            font-size: 12px !important;
          }
          .boat-service-banner-form-title {
            font-size: 13px;
          }
          ::placeholder {
            font-size: 11px;
            font-weight: 500;
          }
          .boat-service-banner-form-option {
            .MuiSelect-select {
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
        .boat-service-banner-notify-button {
          font-size: 12px;
        }
        .boat-service-banner-submit-button {
          font-size: 12px;
          line-height: 0;
        }
      }
      .boat-service-recently-added-city {
        font-size: 12px !important;
      }

      .boat-added-recently-services-desc {
        line-height: 1.3;
        span {
          font-size: 12px;
        }
      }
      .boat-service-added-rating {
        .MuiSvgIcon-root {
          width: 15px;
          height: 15px;
        }
      }
      .boat-service-quality-title {
        font-size: 13px;
      }
      .boat-service-quality-desc {
        font-size: 13px;
      }
      .boat-service-viewed-count {
        font-size: 13px !important;
      }
      .boat-service-viewed-title {
        font-size: 14px;
      }
      .boat-service-viewed-desc {
        span {
          font-size: 13px;
        }
      }
      .boat-service-viewed-user {
        font-size: 13px !important;
      }
      .double-card {
        .register-card-main .register-card {
          max-width: 370px;
        }
      }
      .register-card {
        .h2 {
          font-size: 24px;
        }
        .register-description p {
          font-size: 12px;
          margin-bottom: 2px;
        }
      }
      .boat-service-video-section {
        .boat-service-video-title-div {
          font-size: 18px;
        }
      }
      .boat-service-video-div {
        .position-relative {
          .MuiSvgIcon-root {
            width: 40px !important;
          }
        }
      }
    }
    .user-name-header {
      font-size: 12px !important;
    }
  }
  .boat-service-logo {
    .header-logo {
      img {
        width: 160px;
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .boat-service-layout {
      //   margin-top: 75px !important;
      //   .home-video-banner {
      //     height: calc(100vh - 75px);
      //   }
      .register-card-main{
        .pr-3{
          padding-right: 5px !important
        }
      }
      .w-fix-service {
        min-width: 134px !important;
      }
      .register-card-main {
        p {
          font-size: 10px;
        }
      }
      .boat-service-banner-form-div {
        .boat-service-banner-form-info {
          .form-control {
            font-size: 11px !important;
            border: 0.5px solid #ced4da;
          }
          .boat-service-banner-form-title {
            font-size: 10px;
          }
          ::placeholder {
            font-size: 10px;
            font-weight: 500;
          }
          .boat-service-banner-form-option {
            .MuiSelect-select {
              font-size: 10px;
              font-weight: 500;
            }
          }
        }
        .boat-service-banner-notify-button {
          font-size: 10px;
        }
        .boat-service-banner-submit-button {
          font-size: 11px;
          line-height: 0;
        }
        // .boat-service-banner-form-inner-size {
        //   padding: 1rem;
        // }
      }
      .register-card {
        .h2 {
          font-size: 20px;
        }
        .register-description p {
          font-size: 11px;
          margin-bottom: 0px;
        }
      }
      .double-card {
        .register-card-main .register-card {
          max-width: 350px;
        }
      }
      .recently-added-services-div-padding {
        // padding: 12px;
      }
      .boat-service-recently-added-city {
        font-size: 10px !important;
      }
      .boat-added-recently-services-desc {
        line-height: 1.3;
        span {
          font-size: 11px;
        }
      }
      .boat-service-added-rating {
        .MuiSvgIcon-root {
          width: 12px;
          height: 12px;
        }
        .boat-added-service-rating-align {
          align-items: center;
        }
        .review-text {
          font-size: 10px !important;
        }
      }
      .boat-service-quality-title {
        font-size: 12px;
      }
      .boat-service-quality-desc {
        font-size: 12px;
      }

      .boat-service-viewed-count {
        font-size: 12px !important;
      }
      .boat-service-viewed-title {
        font-size: 13px;
      }
      .boat-service-viewed-desc {
        span {
          font-size: 12px;
        }
      }
      .boat-service-viewed-user {
        font-size: 11px !important;
      }
      //   .view-service-reviewer {
      //     height: 18px;
      //     width: 18px;
      // }
      .view-service-reviewer-div {
        height: 100%;
        width: 100%;
      }
      .view-service-img-salesman {
        height: 30px;
        width: 30px;
      }
      .boat-service-viewer-section {
        width: 35px;
        height: 35px;
        padding: 0;
      }
      .boat-service-video-section {
        .boat-service-video-title-div {
          font-size: 14px;
        }
        p {
          font-size: 12px;
        }
      }

      .boat-service-explore-india-div {
        .country-name {
          font-size: 12px;
        }
      }
      .boat-rated-service-commitment {
        margin-bottom: 0.3rem !important;
      }
      .boat-service-video-div {
        .position-relative {
          .MuiSvgIcon-root {
            width: 35px !important;
            height: 35px;
            top: calc(50% - 17.5px);
          }
        }
      }
    }
  }
  .boat-service-logo {
    .header-logo {
      img {
        width: 145px;
      }
    }
  }
}
