@media screen and (max-width: 1495px) {
  body {
    .boatshow-layout-page {
      .boat-show-banner-form-label {
        font-size: 12px !important;
        font-weight: 500;
      }
      .boat-show-banner-card-info-div {
        ::placeholder {
          /* Firefox, Chrome, Opera */
          color: #4950575c;
          font-size: 11px;
          font-weight: 500;
        }
        .boat-show-banner-form-field {
          font-size: 11px !important;
        }
        .boat-show-banner-form-notify {
          font-size: 9px !important;
          font-weight: 500;
        }
        .boat-show-banner-form-search {
          font-size: 12px !important;
        }
      }
      .boat-show-submit-button {
        font-size: 12px !important;
      }
    }
    .user-name-header {
      font-size: 12px !important;
    }
    .boat-show-video-section {
      .boat-show-video-title {
        font-size: 18px;
      }
      p {
        font-weight: 500;
      }
    }
    .boat-show-viewer-section {
      height: 35px;
      width: 35px;
    }
  }
  .boat-show-logo {
    .header-logo {
      img {
        width: 160px;
      }
    }
  }
  .video-common-layout h4 {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 1380px) {
  body {
    .boatshow-layout-page {
      // .home-card {
      // width: 350px;
      .boat-show-banner-form-label {
        font-size: 10px !important;
        font-weight: 500;
      }
      .playVideo-icon {
        width: 35px;
        height: 35px;
      }
      // }
      .boat-show-banner-card-info-div {
        ::placeholder {
          color: #4950575c;
          font-size: 9px;
          font-weight: 500;
        }
        .boat-show-banner-form-field {
          font-size: 9px !important;
        }
        .boat-show-banner-form-notify {
          font-size: 9px !important;
          font-weight: 500;
        }
        .boat-show-banner-form-search {
          font-size: 11px !important;
        }
      }
      .boat-show-submit-button {
        font-size: 10px !important;
      }
      .small-screen-boat-show-desc-font {
        font-size: 11px !important;
      }
      .small-screen-boat-show-title-font {
        font-size: 12px !important;
        font-weight: 500 !important;
      }
      .boat-show-video-desc {
        p {
          font-size: 10px !important;
          font-weight: 400;
        }
      }
      .boat-show-play-video-icon {
        width: 35px !important;
        height: 35px !important;
      }
      .boat-show-video-section {
        .boat-show-video-title {
          font-size: 14px !important;
        }
        p {
          font-size: 12px !important;
        }
      }
      .boat-show-card-desc {
        font-size: 11px;
      }
    }
    .user-name-header {
      font-size: 10px !important;
    }
    .boat-show-viewer-section {
      height: 30px;
      width: 30px;
    }
  }
  .boat-show-logo {
    .header-logo {
      img {
        width: 145px;
      }
    }
  }
  .video-common-layout h4 {
    font-size: 14px !important;
  }
  .video-common-layout p {
    font-size: 12px !important;
  }
}
