body {
  .mt-4 {
    margin-top: 1.5rem;
  }
  .mt-80 {
    margin-top: 80px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .fontSize12 {
    font-size: 12px;
  }
  .w-80 {
    width: 80% !important;
  }
  .m-4 {
    margin: 1rem;
  }

  .p-none {
    padding: 0px;
  }
  form:not(.bg-transparent-form) {
    background-color: #fff;
  }

  .flex-1 {
    display: flex;
    flex: 1;
  }

  .mb-none {
    margin-bottom: 0px;
  }
  .ml-18 {
    margin-left: 18px;
  }
  .text-transform-capitalize {
    text-transform: capitalize !important;
  }
  .list-style-none {
    list-style: none;
  }

  .darkBlue {
    color: #061e9c;
  }
  .background-dark-blue {
    background-color: #061e9c !important;
  }
  .border-dark-blue {
    border-color: #061e9c !important;
  }
  .directionRow {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .font-weight-none {
    font-weight: normal;
  }

  .spaceBetween {
    justify-content: space-between;
  }

  .alignCenter {
    display: flex;
    align-items: center;
  }

  .width15 {
    width: 15%;
  }

  .h-33 {
    height: 33px;
  }

  .height-55 {
    height: 55px !important;
  }

  .f-9 {
    font-size: 9px;
  }
  .f-12 {
    font-size: 12px;
  }
  .f-25 {
    font-size: 25px !important;
  }

  .error-message {
    font-size: 12px;
    color: lightcoral;
    margin-top: 5px;
  }

  .card-title-rent {
    margin: 10px 10px 0px 10px;
  }

  .map-rent {
    position: relative;
    overflow: visible;
  }

  .p-10 {
    padding: 10px;
  }

  .rent-button {
    width: 20%;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    margin-top: 90px;
    margin-left: auto;
  }

  .mt-15 {
    margin-top: 15px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }

  .p-10 {
    padding: 10px;
  }
  .trip-kind {
    display: flex;
    align-items: column;
    flex: 1;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .w-500 {
    width: 500px;

    .f-19 {
      font-size: 19px;
    }

    .f-15 {
      font-size: 15px;
    }

    .h-200 {
      height: 200px;
    }
  }

  .select-container {
    .MuiSelect-selectMenu {
      white-space: normal;
    }
  }

  .trip-type {
    .MuiSelect-selectMenu {
      width: 100%;
    }
  }

  .image-carousal-arrow {
    position: absolute;
    border-radius: 25px;
    color: white;
    height: 38px;
    width: 38px;
    top: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    right: 10px;
  }
  .left-arr {
    left: 10px;
  }

  .position-relative {
    position: relative;
  }

  .addstatus-field {
    width: 100px;
    align-self: center;
    padding: 6px 5px !important;
    font-size: 13px !important;
  }

  body {
    .form-control:focus {
      box-shadow: unset;
      border-color: #c5c5c5;
    }
  }

  .show-card-description {
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    font-size: 0.75rem;
    color: #767676;
  }

  .font-weight-500 {
    font-weight: 500;
  }
}

body {
  .border-none {
    border: none;
  }
  .font13 {
    font-size: 13px;
  }
  .hint-info {
    height: 15px;
    width: 15px;
  }
}

label.required::after {
  content: "*";
  color: red;
  padding-left: 2px;
}
label.required {
  position: relative;
}

legend.required::after {
  content: "*";
  color: red;
  padding-left: 2px;
}
.fileUploader.required p::after {
  content: "*";
  color: red;
  padding-left: 2px;
}
.manufacturer-carousal {
  .boat-name {
    font-size: 15px;
    padding: 8px 0;
    color: #767676;
  }
}
.mb-30 {
  margin-bottom: 30px !important;
}
body {
  .border-top-left-radius-0 {
    border-top-left-radius: 0;
  }
  .border-top-right-radius-0 {
    border-top-right-radius: 0;
  }
  .border-bottom-left-radius-0 {
    border-bottom-left-radius: 0 !important;
  }
  .border-bottom-right-radius-0 {
    border-bottom-right-radius: 0 !important;
  }
  .border-bottom-left-radius-2 {
    border-bottom-left-radius: 2px !important;
  }
  .border-bottom-right-radius-2 {
    border-bottom-right-radius: 2px !important;
  }
  .box-shadow-none {
    box-shadow: none;
  }
  .video-react {
    .video-react-poster {
      background-size: cover;
    }
  }
  .font-18 {
    font-size: 18px;
  }
}
.border-radius {
  border-radius: 14px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.vertical_align_top {
  vertical-align: top;
}
.mb-2 {
  margin-bottom: 2px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mt-20 {
  margin-top: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.mr-10 {
  margin-right: 10px;
}
.f-14 {
  font-size: 14px !important;
}
.f-15 {
  font-size: 15px !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-light {
  font-weight: lighter;
}
.cursor-pointer {
  cursor: pointer;
}
.f-16 {
  font-size: 16px !important;
}
.text-capitalize {
  text-transform: capitalize;
}
.bg-disabled {
  background-color: #cacaca !important;
}
.symbol-progress-none {
  display: none !important;
}
.mt-60 {
  margin-top: 60px;
}
.light-gray {
  color: #767676a6 !important;
}
.color-yellow {
  color: #ffeb3b;
}
.gray-light {
  color: #999999 !important;
}
.dark-silver {
  color: #666666 !important;
}
.gray-dark {
  color: #333333 !important;
}
.light-silver {
  color: #777777 !important;
}
.blue-dark {
  color: #253e55 !important;
}
.color-dark-grey {
  color: #444444 !important;
}
.sky-blue {
  color: #018abc !important;
}

.light-sky-blue {
  color: #02c7de;
}
.light-green {
  color: #00a388;
}
/*
Video Popup css
*/
.video-modal {
  left: 0;
}
.video-modal > div {
  overflow: hidden;
  width: 800px;
  height: auto;
  // margin-top: 200px;
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  animation: expand 0.6s ease-in-out;
}
.video-modal-cross {
  content: "X";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  z-index: 99999;
  right: 2px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}
.video-modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000;
  position: relative;
  z-index: 999;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
}
.bg-video-popup {
  width: 100%;
  height: 100vh;
  display: flex;
  top: 0;
  z-index: 9;
  background: #000;
  position: fixed;
  left: 0;
  opacity: 0.5;
}
.font-22 {
  font-size: 22px;
}
.font-20 {
  font-size: 20px;
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
    background: #5470b0;
  }
}
@media (max-width: 1400px) {
  .video-modal > div {
    width: 600px;
  }
}
@media (max-width: 1200px) {
  .video-modal > div {
    width: 500px;
  }
}
.boat-pagination {
  .pagination {
    li {
      a {
        color: #2d368b;
      }
    }
  }
}
.boat-pagination {
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    background-color: #2d368b;
    color: #fff;
    border-color: #2d368b;
  }
}
.rating-clr {
  color: #f8bb03 !important;
}
/*
End Video Popup css
*/
.bg-green-color {
  color: green !important;
}
.bg-red-color {
  color: #dd3b26 !important;
}
.white-color {
  color: #ffffff !important;
}
.ReactTable .rt-td {
  font-size: 14px;
  display: flex;
  align-items: center;

  .action {
    .edit {
      color: #061e9c;
    }
    .delete {
      color: #ef5350;
    }
    svg {
      font-size: 24px;
      cursor: pointer;
    }
  }
}
body .Unverified {
  color: white !important;
  padding: 0.25rem 1em;
  font-size: 70%;
  font-weight: normal;
  border-radius: 20px;
  text-transform: uppercase;
  line-height: 16px;
  background-color: #ef5350;
  font-size: 13px;
}
.Verified {
  color: white !important;
  padding: 0.25rem 1em;
  font-size: 70%;
  font-weight: normal;
  border-radius: 20px;
  text-transform: uppercase;
  line-height: 16px;
  background-color: #03be7d;
  font-size: 13px;
}
.Decline {
  color: black !important;
  padding: 0.25rem 1em;
  font-size: 70%;
  font-weight: normal;
  border-radius: 20px;
  text-transform: uppercase;
  line-height: 16px;
  background-color: #ffc107;
  font-size: 13px;
}
@media (max-width: 1380px) {
  .main-category {
    .service-card-text {
      padding-left: 13px;
      text-align: left;
    }
    .categoryContent-Font {
      font-size: 13px;
    }
  }
}
@media (max-width: 1280px) {
  .main-category {
    .service-card-text {
      padding-left: 10px;
      text-align: left;
    }
    .categoryContent-Font {
      font-size: 11px;
    }
  }
}
.required .fileUploader p::after {
  content: "*";
  color: #db3236;
  font-size: 18px;
}
.boat-service-layout {
  .card-block {
    position: relative;
    .recently-service {
      position: absolute;
      bottom: 0;
    }
  }
}
.without-show-map {
  .bg-img-cursor {
    cursor: pointer;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
body {
  .rent-layout {
    .playVideo-icon {
      width: 100% !important;
      height: 64px !important;
    }
  }
}
.LeftRight-arrow {
  background: #fff;
  background-color: #fff !important;
  // height: 30px;
  // width: 30px;
  height: 35px;
  width: 35px;
  border: 1.4px solid #00000024;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
  &:focus,
  &:active {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px, rgba(255, 255, 255, 0.7) 0px 0px 0px 5px !important;
    outline: none !important;
    transition: box-shadow 0.2s ease 0s !important;
  }
  &:hover {
    background: rgb(255, 255, 255) !important;
  }
}
// .carousel-right-arrow,
// .carousel-left-arrow {
//   height: 11px;
//   width: 11px;
// }
.section-heading-first {
  margin-top: 48px !important;
  font-weight: bold !important;
}
@font-face {
  font-family: "CircularStd";
  src: url("../../src/assets/font/CircularStd-Book.otf");
  font-weight: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../../src/assets/font/CircularStd-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "CircularStd";
  src: url("../../src/assets/font/CircularStd-Bold.otf");
  font-weight: bold;
}
@media screen and (max-width: 1495px) {
  body {
    .service-card-text {
      padding-left: 20px !important;
    }
    .categoryContent-Font {
      font-size: 12px !important;
    }
  }
  .double-card .register-card-main .register-card {
    max-width: 370px;
  }
  .section-heading {
    font-size: 20px !important;
  }
  .double-card {
    .register-card .h2 {
      font-size: 24px;
    }
    .register-link-name {
      font-size: 14px;
    }
  }
  .LeftRight-arrow {
    height: 30px;
    width: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5px 0.5px 0.5px;
  }
}
@media screen and (max-width: 1380px) {
  body {
    .service-card-text {
      padding-left: 17px !important;
    }
    .categoryContent-Font {
      font-size: 11px !important;
    }
    .double-card .register-card-main .register-card {
      max-width: 350px;
    }
    .section-heading {
      font-size: 16px !important;
    }
  }
  .double-card {
    .register-card .h2 {
      font-size: 18px;
    }
    .register-link-name {
      font-size: 12px;
    }
  }
  .inner-rating-section {
    .based-on-review {
      font-size: 12px !important;
    }
    .view-all-review-div {
      font-size: 11px !important;
    }
  }
  .ratingLength {
    i {
      font-size: 10px !important;
    }
    h6 {
      font-size: 12px;
    }
  }
  .ratingQuality {
    .review-quality {
      font-size: 10px !important;
    }
  }
}

.manage-header {
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  .heart-1-li {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    .cart-no {
      font-size: 8px;
      line-height: 13px;
      width: 13px;
      top: 0px;
      right: -5px;
    }
  }
  .mange-right.size-color {
    display: flex;
    align-items: center;
    height: 30px;
    .user-name-header {
      color: #666666;
      margin-right: 15px;
      text-transform: capitalize;
    }
  }
}
.react-tiny-popover-container {
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
body {
  .fullscreen {
    > div {
      z-index: 9999;
    }
  }
  .heart-button:hover,
  .share-button:hover {
    background-color: #ffffffcf !important;
    color: black !important;
    box-shadow: none !important;
    transform: scale(1.02, 1.02) !important;
    border-color: #00000014 !important;
    border: 0.5px solid #00000014 !important;
    .adam-heart-1,
    .adam-share {
      transform: scale(1.02, 1.02) !important;
    }
  }
  .location-popup {
    float: right;
    min-height: auto;
    width: 173px;
    .Toastify__toast-body {
      font-size: 12px;
    }
  }
}
.share-button:hover {
  .MuiIconButton-root:hover {
    background-color: transparent;
  }
}
.common-hovered-blue-button-effect:hover {
  box-shadow: 0 14px 26px -12px #061e9c45, 0 4px 23px 0 #061e9c45, 0 8px 10px -5px #061e9c45;
}
//[NOTE]:Don't removed @mansi
// .header-cart-icon {
//   box-shadow: none !important;
//   transform: scale(1.05, 1.05) !important;
// }
.separator {
  &::after {
    content: ",";
    margin-right: 3px;
  }
}

.without-show-map {
  padding-left: 40px !important;
  padding-right: 40px !important;
  @media (min-width: 1128px) {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}
body {
  .link-hover-text:hover {
    color: #061e9c !important;
  }
}
.text-overflow-unset {
  text-overflow: unset !important;
}
.boat-shipper .company-logo {
  height: 60px;
  width: 60px;
  img {
    max-width: 100%;
    object-fit: cover;
    height: inherit;
    width: 100%;
    border-radius: 50%;
  }
}
body .dashboard-layout-responsive {
  .add-boat-map .map-design .MuiCardContent-root {
    padding: 16px !important;
  }
}
.map-card-z-index {
  z-index: 9;
  position: relative;
}
body .rent-show-all-grid {
  .card-action {
    justify-content: flex-end !important;
  }
  .directionRow {
    flex-direction: row !important;
  }
}
.search-button-width {
  width: 150px;
}
.home-search-button-width {
  width: 120px;
}
.table-responsive {
  .rt-td {
    display: flex;
    justify-content: center;
    padding: 12px;
    min-height: 50px;
    color: #666666;
  }
  .rt-resizable-header-content {
    padding: 10px;
  }
  .ReactTable .rt-thead .rt-th,
  .ReactTable .rt-tbody .rt-td {
    border-right: none;
  }
  .ReactTable .rt-thead.-header {
    box-shadow: none;
    border-bottom: 1px solid #dee2e6;
  }
  .rt-tr-group:hover {
    background-color: rgba(165, 203, 242, 0.09);
  }
  .ReactTable.-striped .rt-tr.-odd {
    background: #fcfdff;
  }
  .rt-resizable-header-content {
    color: #484848;
    font-weight: 500;
  }
  .pagination-bottom {
    .-pagination {
      width: 100%;
    }
    button {
      color: #0648a8 !important;
      background: white !important;
      border: 1px solid gray !important;
    }
    button:hover {
      background-color: #0648a8 !important;
      color: #fff !important;
    }
  }
}
.btn-outline-info {
  border-color: #5a8ed9 !important;
  background-color: transparent;
  color: #5a8ed9 !important;
}
.btn-outline-info:hover {
  border-color: #5a8ed9 !important;
  background-color: #5a8ed9 !important;
  color: white !important;
}
.btn-outline-primary {
  color: #061e9c !important;
  background-color: transparent;
  border-color: #061e9c !important;
}
.btn-outline-primary:hover {
  color: white !important;
  background-color: #061e9c !important;
  border-color: #061e9c !important;
}
.btn-outline-danger {
  color: #dc3545 !important;
  background-color: transparent;
  border-color: #dc3545 !important;
}
.btn-outline-danger:hover {
  color: white !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
.btn-outline-success {
  color: #28a745 !important;
  background-color: transparent;
  border-color: #28a745 !important;
}
.btn-outline-success:hover {
  color: White !important;
  background-color: transparent;
  border-color: #28a745 !important;
}
.shipment-image-popup-width {
  max-width: 800px;
}
.shipment-document-uploader {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.border-bottom-gray {
  border-bottom: 1px solid #d3d3d3;
}
