@media screen and (max-width: 1495px) {
  body {
    .dashboard-layout-responsive {
      // zoom: 0.85;
      margin-top: 102px;
      .dashboard-sidebar-align {
        width: 240px;
      }
      .dashboard-left-div-main-btn {
        span,
        i {
          font-size: 11px;
        }
        .dashboard-left-div-icons {
          height: 10px;
        }
      }
      .dashboard-sidebar-text {
        font-size: 13px;
      }
      // will remove it later

      // .dashboard-main-title
      // {
      //   font-size: 21px !important;
      // }
      // .dashboard-div-icon
      // {
      //   height: 45px;
      //   width: 45px;
      // }
      // .dashboard-count {
      //     font-size: 28px;
      // }
      // .dashboard-market-title
      // {
      //     font-size: 13px !important;
      // }
      .dashboard-font {
        padding: 0.8rem !important;
        padding-left: 1.3rem !important;
      }
    }
    .dashboard-align {
      padding-top: 0 !important;
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .dashboard-layout-responsive {
      margin-top: 91px;
      // zoom: 0.85;
      .dashboard-sidebar-align {
        width: 203px;
      }
      .dashboard-left-div-main-btn {
        span,
        i {
          font-size: 9px;
        }
        .dashboard-left-div-icons {
          height: 6px;
        }
      }
      .dashboard-left-div-icons {
        height: 14px;
      }
      .dashboard-sidebar-text {
        font-size: 10px;
      }
      // will remove it later

      // .dashboard-main-title
      // {
      //   font-size: 17px !important;
      // }
      // .dashboard-div-icon
      // {
      //   height: 40px;
      //   width: 40px;
      // }
      // .dashboard-count {
      //     font-size: 22px;
      // }
      // .dashboard-market-title
      // {
      //     font-size: 11px !important;
      // }
      .dashboard-font {
        padding: 0.8rem !important;
        padding-left: 1rem !important;
      }
    }
  }
}
.setting-icon {
  display: flex;
  align-items: center;
  + svg {
    font-size: 14px;
  }
}
.drop-down-sidebar {
  padding: 15px 15px 5px 23px;
  display: flex;
  flex-direction: column;
}
