@media screen and (max-width: 1495px) {
  body {
    .main-search-dropdown {
      top: 36px;

      .main-search-dropdown-title {
        font-size: 11px;
      }
      .main-search-dropdown-result-title {
        font-size: 13px !important;
      }
      .explore-boat-options-dropdown {
        font-size: 12px;
      }
      .search-dropdown-boat-name {
        font-size: 12px !important;
      }
      .search-dropdown-boat-country {
        font-size: 10px;
      }
      .search-dropdown-see-all-btn {
        font-size: 13px;
      }
      .search-dropdown-div-margin {
        margin-bottom: 0.6rem !important;
      }
      .search-dropdown-recent-search {
        font-size: 11px !important;
        margin-bottom: 0.3rem !important;
      }
      .main-search-dropdown-result-title-margin {
        margin-top: 0 !important;
      }
      .header-search-dropdown-image {
        img {
          height: 45px;
          width: 45px;
        }
      }
    }
    .header-location-country {
      font-size: 13px;
    }
    .header-location-time {
      font-size: 10px;
    }
    .header-location-img {
      font-size: 13px;
    }
    .header-user-image-div {
      height: 45px;
      width: 45px;
    }
    .header-user-name {
      font-size: 13px;
    }
    .header-user-role {
      font-size: 10px;
      border: 0.5px solid rgba(0, 0, 0, 0.1);
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .header-location-country {
      font-size: 11px;
    }
    .header-location-time {
      font-size: 9px;
    }
    .header-location-img {
      font-size: 11px;
    }
    .header-user-image-div {
      height: 40px;
      width: 40px;
    }
    .header-user-name {
      font-size: 11px;
    }
    .header-user-role {
      font-size: 8px;
      border: 0.5px solid rgba(0, 0, 0, 0.1);
    }

    .login-user-div {
      padding: 1rem !important;
    }
    hr {
      margin: 12px 0;
    }
    .header-dropdown-user-name {
      font-size: 11px !important;
    }
    .header-dropdown-user-role {
      font-size: 10px !important;
    }
    .main-search-dropdown {
      top: 34px;
      .main-search-dropdown-title {
        font-size: 9px;
      }
      .main-search-dropdown-result-title {
        font-size: 11px !important;
      }
      .explore-boat-options-dropdown {
        font-size: 11px;
        border: 0.4px solid;
        border-color: #007bff;
      }
      .search-dropdown-boat-name {
        font-size: 10px !important;
      }
      .search-dropdown-boat-country {
        font-size: 8px;
      }
      .search-dropdown-see-all-btn {
        font-size: 11px;
      }
      .search-dropdown-div-margin {
        margin-bottom: 0.6rem !important;
      }
      .search-dropdown-recent-search {
        font-size: 9px !important;
        margin-bottom: 0.3rem !important;
      }
      .main-search-dropdown-result-title-margin {
        margin-top: 0 !important;
      }
      .search-dropdown-result-list {
        padding-top: 6px;
      }
      .main-search-dropdown-result-margin {
        margin-top: 7px !important;
      }
      .header-search-dropdown-image {
        img {
          height: 40px;
          width: 40px;
        }
      }
    }
    .small-screen-pl-15 {
      padding-left: 15px;
    }
    header .width-height-icon-bell {
      height: 18px;
      width: 19px;
    }
    header .adam-heart-1 {
      font-size: 18px !important;
    }
  }
}
