@media screen and (max-width: 1495px) {
  body {
    .login-dropdown-main-title {
      font-size: 15px;
    }
    .login-dropdown-title-div {
      font-size: 13px;
    }
    .login-dropdown-welcome-text {
      font-size: 17px;
    }
    .login-dropdown-welcome-desc-text {
      font-size: 12px;
    }
    .login-dropdown-button {
      font-size: 12px;
    }
    .header-signup-dropdown-titles
    {
      font-size: 13px !important;
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .adamseaMarket-name {
      margin-top: 0.7rem !important;
      margin-bottom: 0.7rem !important;
    }
    .header-signup-dropdown-titles
    {
      font-size: 10px !important;
    }
    .header-dropdown-signup-main-title {
      margin-bottom: 1rem !important;
    }
    .login-dropdown-main-title {
      margin-bottom: 1.5rem !important;
    }
    .registerListing-innerType
    {
      padding: 3px;
    }
    .listing-menu
    {
      padding-top: 6px;
    padding-bottom: 8px;
    }
    .register-user-header-drop-down
    {
      padding: 6px 12px 11px !important;
    }
    .header-dropdown-market-img
    {
    padding-left: 0;
    padding-right: 0;
    }
    .adamseaMarket-img
    {
      height: 20vh;
    }
    .login-dropdown-welcome-desc-text {
      font-size: 10px !important;
    }
  }
}
