@media screen and (max-width: 1495px) {
  body {
    .mr-10 {
      margin-right: 10px !important;
    }
    .manage-dashboard-table {
      .card-header {
        padding-bottom: 8px;
        padding-top: 8px;
      }
      .card-title {
        font-size: 16px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
      }
      .btn-primary {
        font-size: 13px;
      }
      .ReactTable {
        .rt-thead {
          .rt-resizable-header-content {
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .manage-dashboard-table {
      .card {
        border: 0.5px solid rgba(0, 0, 0, 0.125);
      }
      .card-header {
        padding-bottom: 8px;
        padding-top: 8px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.125);
      }
      .card-title {
        font-size: 13px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
      }
      .btn-primary {
        font-size: 10px;
      }

      .ReactTable {
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        .rt-thead {
          .rt-resizable-header-content {
            font-size: 11px;
          }
        }
        .rt-thead.-filters input,
        .rt-thead.-filters select {
          border: 0.5px solid rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
body {
  .sales-engin-header {
    background-color: #0048a3;
    h4 {
      color: #fff;
      margin: 10px;
    }
  }
}
.sales-engine-status
{
  background-color: #0689d9;
  color: #fff;
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 13px;
}