@media screen and (max-width: 1495px) {
  body {
    .marina-storage-header-logo {
      .header-responsive .header-logo img {
        width: 42.2%;
      }
    }
    .marina-storage-layout {
      body .home-layout-page .video-modal-cross {
        font-size: 12px;
        width: 22px;
        height: 22px;
      }
      .register-card {
        p {
          font-size: 12px !important;
        }
        .h2 {
          font-size: 24px;
        }
      }
      .top-rated-info {
        margin-bottom: 44px !important;
      }
      .show-link {
        font-size: 15px !important;
      }
      .playVideo-icon {
        width: 45px !important;
      }
      .marina-content {
        margin-top: 15px;
      }
      .card .notify .MuiButton-contained {
        padding: 10px !important;
        font-size: 12px;
      }
      .marina-icon,
      .marina-icon-recommended {
        width: 34px !important;
        height: 34px !important;
        &::after {
          width: 20px !important;
          height: 20px !important;
        }
      }
      .view-marina {
        margin-top: 5px;
        font-size: 12px;
      }
      .most-popular-place-name {
        margin-bottom: 15px;
      }

      .rating-clr .MuiSvgIcon-root {
        width: 16px;
        height: 16px;
      }
      .rating-text {
        font-size: 11.5px !important;
        margin-top: 3px !important;
        margin-left: 2px !important;
      }
      .responsive-mt {
        margin-top: 10px !important;
      }
      .most-popular-detail {
        font-size: 13px;
        margin-bottom: 30px;
      }

      .marina-content {
        .place-city {
          font-size: 14px;
        }
        .place-name {
          font-size: 16px;
        }
        .recommended-detail {
          font-size: 13px;
        }
        .rating-clr .MuiSvgIcon-root {
          width: 16px;
          height: 16px;
        }
        .rating-text {
          font-size: 11.5px !important;
          margin-top: 3px;
          margin-left: 3px !important;
        }
      }
      .most-popular-place-name .place-city {
        font-size: 12px !important;
      }
      .marina-storage-bg .card {
        width: 400px;
        height: 236px;
        padding: 25px;
        margin: 0;
        .search input,
        .MuiOutlinedInput-input {
          font-size: 11px !important;
        }
        .search {
          margin-top: 8px;
          margin-bottom: 8px;
          input,
          .select-div-padding {
            padding: 7px 8px !important;
            height: 32px;
          }
          .label {
            font-size: 12px !important;
          }
        }
        a {
          font-size: 13px;
        }
      }
      .marina-storage-card-position {
        .storage-radio-group {
          > label {
            margin-right: 15px;
            margin-bottom: 0;
            span {
              font-size: 12px;
            }
            .icon-test {
              width: 13px;
              height: 13px;
              &::before {
                width: 11px;
                height: 11px;
              }
            }
            .MuiRadio-root {
              padding: 0 6px;
              top: -2px;
            }
          }
        }
      }
      .boat-name {
        font-size: 11px;
        padding: 8px 8px;
      }
      .card-action {
        padding: 7px 10px;
      }
      .card-action-marina {
        padding: 7px 10px !important;
      }
      .share-button,
      .heart-button {
        width: 30px !important;
        height: 30px !important;
      }
      .new-build {
        padding: 1px 8px;
        font-size: 10px;
        height: 18px;
        display: flex;
        align-items: center;
      }
      /*Top Rated*/
      .top-rated-info {
        .user-info {
          height: 34px;
          margin-top: 5px;
        }
        .viewed {
          font-size: 13px !important;
          margin: 6px 0px;
        }
        .top-rated-detail,
        .user-name {
          font-size: 12px !important;
        }
        .user-name svg,
        .user-name img {
          width: 33px;
          height: 33px;
          margin-right: 4px;
        }
      }
      .marina-video-name {
        font-size: 16px !important;
        margin-top: 1rem !important;
        margin-bottom: 0.25rem !important;
      }
      .video-description p {
        font-size: 12px;
      }
      .most-show-all {
        margin-top: 1.6rem !important;
      }
      .marina-ads-sections {
        .small-screen-marina-badge {
          padding: 0 8px;
          font-size: 10px;
          height: 18px;
          display: flex;
          align-items: center;
          line-height: 1;
        }
      }
      .top-rated-section-user {
        svg {
          width: 35px !important;
          height: 35px !important;
        }
      }

      .top-rated-info {
        .top-rated-detail {
          max-height: 33px;
          min-height: 33px;
          overflow: hidden;
        }
        .rating-count {
          font-size: 11.5px;
        }
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .marina-storage-header-logo {
      .header-responsive .header-logo img {
        width: 42.2%;
      }
    }
    .marina-storage-layout {
      .video-modal-cross {
        font-size: 10px;
        width: 19px;
        height: 19px;
      }
      .register-card {
        .h2 {
          font-size: 20px;
        }
        p {
          font-size: 10px !important;
        }
      }
      .double-card .pr-3,
      .double-card .px-3 {
        padding-right: 5px !important;
      }
      .top-rated-info {
        margin-bottom: 30px !important;
      }
      .show-link {
        font-size: 13px !important;
      }
      .marina-content {
        margin-top: 10px;
      }
      .card .notify .MuiButton-contained {
        padding: 9px !important;
        font-size: 11px;
        font-weight: normal;
      }
      .marina-icon,
      .marina-icon-recommended {
        width: 30px !important;
        height: 30px !important;
        &::after {
          width: 18px !important;
          height: 18px !important;
        }
      }
      .view-marina {
        margin-top: 5px;
        font-size: 11px;
      }
      .most-popular-place-name {
        margin-bottom: 12px;
      }

      .rating-text {
        font-size: 9px !important;
        margin-top: 2px !important;
      }
      .rating-clr .MuiSvgIcon-root {
        width: 12px;
        height: 12px;
      }
      .responsive-mt {
        margin-top: 8px !important;
        .show-link {
          font-size: 14px;
        }
      }
      .most-show-all {
        margin-top: 1.6rem !important;
      }
      .marina-storage-bg .card {
        width: 315px;
        height: 200px;
        padding: 20px;
        margin: 0;
        .search input,
        .MuiOutlinedInput-input {
          font-size: 9px !important;
        }
        .search {
          input,
          .select-div-padding {
            padding: 5px 8px !important;
            height: auto;
          }
          .label {
            font-size: 10px !important;
          }
        }
        a {
          font-size: 10px;
        }
      }
      .marina-storage-card-position {
        .storage-radio-group {
          > label {
            margin-right: 8px;
            margin-bottom: 0;
            span {
              font-size: 10px;
            }
            .icon-test {
              width: 11px;
              height: 11px;
              &::before {
                width: 9px;
                height: 9px;
              }
            }
            .MuiRadio-root {
              padding: 0 6px;
              top: -1px;
            }
          }
        }
      }
      .card-action {
        padding: 7px 15px;
        i {
          font-size: 10px !important;
        }
      }
      .card-action-marina {
        padding: 7px 10px !important;
        i {
          font-size: 10px !important;
        }
      }
      .share-button,
      .heart-button {
        width: 25px !important;
        height: 25px !important;
      }
      .most-popular-detail {
        font-size: 11px;
        margin-bottom: 24px;
      }
      .most-popular-place-name .place-city {
        font-size: 11px !important;
      }
      .marina-content {
        .place-city {
          font-size: 10px;
        }
        .place-name {
          font-size: 12px;
          margin-bottom: 2px;
        }
        .recommended-detail {
          font-size: 11px;
        }
        .rating-clr .MuiSvgIcon-root {
          width: 12px;
          height: 12px;
        }
        .rating-text {
          font-size: 9px !important;
          margin-top: 3px;
          margin-left: 2px !important;
        }
      }
      /*Top Rated*/
      .top-rated-info {
        .user-info {
          height: 20px;
          margin-top: 10px;
        }
        .viewed {
          font-size: 11px !important;
          margin: 8px 0px 3px;
        }
        .top-rated-detail,
        .user-name {
          font-size: 11px !important;
        }
        .user-name svg,
        .user-name img {
          width: 28px;
          height: 28px;
          margin-right: 3px;
        }
      }
      .marina-ads-sections {
        .small-screen-marina-badge {
          padding: 1px 8px;
          font-size: 8px;
          height: 16px;
          display: flex;
          align-items: center;
        }
      }
      .top-rated-section-user {
        svg {
          width: 28px !important;
          height: 28px !important;
        }
      }
      .top-rated-info {
        .top-rated-detail {
          max-height: 29px;
          min-height: 29px;
          overflow: hidden;
        }
        .rating-count {
          font-size: 9px;
        }
      }
    }
  }
}
