@media screen and (max-width: 1495px) {
  body {
    .register-responsive {
      .form-content {
        .form-items {
          max-width: 300px;
          h3 {
            font-size: 18px;
            margin-bottom: 5px;
          }
          p {
            font-size: 12px;
            margin-bottom: 5px;
          }
        }

        .login-link-ragister-page {
          font-size: 13px !important;
        }
        .register-agree-text {
          font-size: 12px !important;
        }
      }
      .register-agree-section {
        padding-left: 1.3rem;
        display: flex;
        align-items: center;
      }
      .custom-control-label::before,
      .custom-control-label::after {
        top: 18%;
        width: 12px;
        height: 12px;
        left: -1.3rem;
      }
      .register-password-hint {
        .register-password-hint-text {
          font-size: 10px;
        }
        .register-password-hint-icon {
          svg {
            width: 10px;
            height: 10px;
          }
        }
      }
      .register-website-link {
        span,
        link {
          font-size: 10px;
        }
      }
      .registration-free-text {
        font-size: 22px;
      }
      .website-join-text {
        font-size: 11px;
      }
      .registerMain-div {
        .term-and-policy-div {
          margin-top: 1em;
          .login-link {
            span {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .register-responsive {
      .register-input-field {
        .form-control {
          border: 0.5px solid #ced4da;
        }
      }
      .form-content {
        .form-items {
          max-width: 265px;
        }
        h3 {
          font-size: 16px !important;
        }
        p {
          font-size: 10px !important;
        }
        .login-link-ragister-page {
          font-size: 11px !important;
        }
        .register-agree-text {
          font-size: 10px !important;
          padding-left: 4px;
        }
        .other-links {
          a {
            font-size: 8px;
          }
        }
      }
      .register-agree-section {
        padding-left: 1.3rem;
        display: flex;
        align-items: center;
      }
      .custom-control-label::before,
      .custom-control-label::after {
        top: 18%;
        width: 12px;
        height: 12px;
        border: 0.5px solid #ced4da;
        border-radius: 3px;
      }
      .register-password-hint {
        line-height: 1.3;
        .register-password-hint-text {
          font-size: 9px;
        }
        .register-password-hint-icon {
          svg {
            width: 8px;
            height: 8px;
          }
        }
      }
      .register-website-link {
        span,
        link {
          font-size: 8px !important;
        }
      }
      .registration-free-text {
        font-size: 18px;
      }
      .website-join-text {
        font-size: 9px;
      }
      .registerMain-div {
        .term-and-policy-div {
          margin-top: 1em;
          .login-link {
            span {
              font-size: 9px;
            }
          }
        }
      }
    }
    .regi-responsive .form-content form {
      margin: 12px 0 0;
    }
    .form-content .page-links {
      margin-top: 8px;
    }
    .register-form-holder .md-mt-2 {
      margin-top: 0 !important;
      margin-bottom: 8px;
      a {
        padding: 5px 0 !important;
      }
    }
    .other-links {
      text-align: center;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
    }
    .attach-logo .register-img-uploader,
    .register-map-main-div button {
      height: 24px;
    }
  }
}
.phone-number {
  .form-control {
    width: 100% !important;
  }
}
