/*common change*/
body {
  .home-layout-page {
    .home-video-section {
      p {
        font-size: 16px;
      }

      .position-relative .MuiSvgIcon-root {
        width: 48px !important;
      }
    }
    .video-modal-cross {
      font-size: 12px;
      width: 26px;
      height: 26px;
    }
    .section-heading {
      letter-spacing: 0;
    }
    
    .home-card {
      fieldset {
        border-color: #ced4da;
      }
      .form-title {
        opacity: 0.7;
        letter-spacing: 0;
      }
      .form-title,
      input {
        color: #444444;
      }
      .h-33 {
        .MuiSelect-icon {
          top: unset;
          color: #444444;
          position: absolute;
          right: 5px;
        }
      }
    }
    i {
      filter: grayscale(100%);
    }
    
    .share-button,
    .heart-button {
      border: 0;
      i {
        color: unset !important;
      }
    }
    .card-action {
      .heart-button {
        i {
          color: #8a8a8a !important;
          opacity: 0.9;
        }
      }
    }
    .home-carousal .home-card .home-banner-form-button-div .f-12 {
      font-weight: 500;
      text-transform: uppercase;
    }
    .boat-price,
    .home-boat-price {
      font-weight: bold;
      color: #333333;
    }
    .boat-name,
    .carousel-title,
    .boat-country-home,
    .boat-info-grid .boat-name,
    .boat-info-grid .place-city {
      font-weight: 500;
      color: #666666;
      text-transform: capitalize;
    }
    .range-color-blue {
      color: #061e9c;
    }
    .carousel-title {
      line-height: 1;
    }
  }
}
@media screen and (max-width: 1495px) {
  body {
    .home-layout-page {
     
      .section-heading {
        font-size: 20px;
      }
      .boat-country-home,
      .boat-owner.f-14,
      .manufactured-by,
      .place-city:not(.boat-name) {
        font-weight: normal !important;
      }
      .video-modal-cross {
        font-size: 12px;
        width: 22px;
        height: 22px;
      }
      .categoryContent-Font {
        font-size: 12px;
      }
      .service-card-text {
        padding-left: 20px;
      }
      .manufacturer-carousal .boat-name {
        font-size: 12px;
      }
      .card-action .share-icon .share-button,
      .card-action .share-icon .heart-button {
        width: 30px;
        height: 30px;
      }
      .share-button {
        margin-right: 6px;
      }
      .boat-price {
        font-size: 14px;
      }
      .spacing {
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 12px;
        color: #767676;
      }
      .f-14 {
        font-size: 11.5px !important;
      }
      .rating-clr .MuiSvgIcon-root {
        width: 16px;
        height: 16px;
      }
      .rating-count.align-items-start {
        align-items: center !important;
        margin-top: 5px !important;
      }
      .align-center {
        align-items: center;
        .rating-count {
          color: #767676;
          font-size: 11.5px;
          display: flex;
          align-items: center;
          margin-top: 2px;
        }
      }
      .rating-count {
        font-size: 11.5px;
      }
      .card-action,
      .card-action-padding {
        padding: 5px 10px;
      }
      .new-build, .brand-new-tag,.marina-new-tag {
        padding: 5px 8px;
        font-size: 10px;
        line-height: 13px;
        display: flex;
        align-items: center;
      }
      .small-shared {
        padding: 1px 8px;
        font-size: 8px;
      }
      .show-link {
        font-size: 15px;
        .MuiSvgIcon-root {
          width: 0.9em;
          height: 0.9em;
        }
      }
      .mt-30 {
        margin-top: 18px;
      }
      .country-name {
        font-size: 12px;
      }
      .price1 {
        font-size: 11px;
      }
      .boat-name {
        font-size: 13px !important;
      }
      .place-city {
        font-size: 12px !important;
      }
      .boat-info-grid .manufactured-by {
        font-size: 12px !important;
        margin-bottom: 0;
      }

      .register-card {
        .h2 {
          font-size: 24px;
        }
        .register-description p {
          font-size: 12px;
          margin-bottom: 2px;
        }
      }
      h4 {
        font-size: 16px !important;
      }
      p {
        font-size: 12px;
      }
      .playVideo-icon {
        width: 45px !important;
        height: 45px !important;
      }
      .LeftRight-arrow {
        .MuiSvgIcon-root {
          width: 18px;
          height: 18px;
        }
        .right-arrow {
          right: -36px;
        }
        .left-arrow {
          left: -36px;
        }
      }
      .double-card {
        .register-card-main .register-card {
          max-width: 370px;
        }
      }
      /*Auction Room*/
      .auction-time-box {
        margin: 7px;
        font-size: 17px;
        padding: 12px;
      }
      .auction-room .boat-info-inner {
        padding: 8px 13px;
      }
      h4.boat-title-auction {
        font-size: 12px !important;
      }
      h4.boat-owner-auction {
        font-size: 12px !important;
      }
      .boat-country-auction {
        font-size: 13px !important;
      }
      .auction-room .boat-owner-auction,
      .auction-room .bid-price-auction {
        font-size: 12px !important;
      }
      .auction-room .auction-price-font {
        font-size: 13px !important;
      }
    }

    /* banner card */
    .home-carousal .home-card {
      width: 330px;
      top: calc(50% - 145px);
      .form-control {
        font-size: 11px;
        margin-bottom: 10px;
      }
      .range-div {
        margin-top: 10px;
      }
      .h-33 {
        height: 27px;
        .MuiSelect-icon {
          // top: calc(50% - 12px);
        }
        .MuiOutlinedInput-input {
          padding: 7px 8px;
          font-size: 10px;
        }
      }
      .home-banner-form-div {
        padding: 15px 20px 5px;
      }
      .home-banner-form-title {
        font-size: 16px;
      }
      .form-title {
        margin-bottom: 0;
        font-size: 12px;
        + div {
          font-size: 12px;
        }
      }
      .home-banner-form-button-div {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        .f-12 {
          font-size: 12px;
        }
        button {
          font-size: 12px;
          padding: 4px 6px;
          svg {
            font-size: 12px;
            margin-top: 1px;
            margin-left: 8px;
          }
        }
      }
    }
    .section-heading,
    .mt-md-5 {
      margin-top: 5.5%;
    }
    .review-card-div-border{
      .brand-new-tag {
        padding: 5px 8px;
        font-size: 12px;
        line-height: 13px;
        display: flex;
        align-items: center;
      }
      .rent-card-text, .desc-text {
        font-size: 13px;
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .home-layout-page {
      .register-card-main{
        .pr-3{
          padding-right: 5px !important
        }
      }
      .video-modal-cross {
        font-size: 10px;
        width: 19px;
        height: 19px;
      }

      .section-heading {
        font-size: 16px;
      }
      .categoryContent-Font {
        font-size: 11px;
      }
      .service-card-text {
        padding-left: 17px;
      }
      .manufacturer-carousal .boat-name {
        font-size: 11px !important;
      }
      .card-action .share-icon .share-button,
      .card-action .share-icon .heart-button {
        width: 25px;
        height: 25px;
      }
      .card-action-padding,
      .card-action {
        padding: 0px 10px;
      }
      .card-action .share-icon .share-button i,
      .card-action .share-icon .heart-button i {
        color: #dddddd;
        font-size: 10px;
      }
      .share-button {
        margin-right: 4px;
      }
      .boat-price,
      .home-boat-price {
        font-size: 13px;
      }
      .spacing {
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 12px;
        color: #767676;
      }
      .f-14 {
        font-size: 11px !important;
      }
      .rating-clr .MuiSvgIcon-root {
        width: 12px;
        height: 12px;
      }
      .rating-count.align-items-start {
        font-size: 9px !important;
        margin-top: 1px !important;
      }
      .align-center {
        align-items: center;
        .rating-count {
          color: #767676;
          font-size: 9px;
          display: flex;
          align-items: center;
          margin-top: 1px;
        }
      }
      .rating-count {
        font-size: 9px;
        margin-top: 2px;
      }.shared-trip-tag
      .new-build, .brand-new-tag,.marina-new-tag {
        padding: 3px 6px;
        font-size: 8px;
        line-height: 1;
      }
      .small-shared {
        padding: 1px 8px;
        font-size: 8px;
      }
      .show-link {
        font-size: 13px;
        margin-top: 0.9%;
        .MuiSvgIcon-root {
          width: 0.8em;
          height: 0.8em;
        }
      }
      .mt-30 {
        margin-top: 18px;
      }
      .country-name {
        font-size: 11px;
      }
      .price1 {
        font-size: 10px;
      }
      .boat-info-grid .boat-name,
      .carousel-title {
        font-size: 12px !important;
      }
      .place-city,
      .boat-country-home {
        font-size: 11px !important;
      }
      .boat-info-grid .manufactured-by {
        font-size: 11px !important;
        margin-bottom: 0;
        margin-top: 3px;
      }

      .register-card {
        .h2 {
          font-size: 20px;
        }
        .register-description p {
          font-size: 11px;
          margin-bottom: 0px;
        }
      }
      h4 {
        font-size: 14px !important;
      }
      p {
        font-size: 10px;
      }
      .home-video-section p {
        font-size: 12px;
      }
      .playVideo-icon {
        width: 35px !important;
        height: 35px !important;
      }
      .LeftRight-arrow {
        .MuiSvgIcon-root {
          width: 18px;
          height: 18px;
        }
      }
      .new-boat {
        padding: 1px 8px 0;
        font-size: 7px;
        height: 13px;
        display: flex;
        align-items: center;
      }
      .double-card {
        .register-card-main .register-card {
          max-width: 350px;
        }
      }
      .right-arrow {
        right: -12px;
        // height: 20px;
        // width: 20px;
        height: 25px;
        width: 25px;
        &:active
        {
          border-color: rgb(226, 226, 226);
        }
        &:focus
        {
          box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px, rgba(255, 255, 255, 0.7) 0px 0px 0px 5px;
          outline: none !important;
          transition: box-shadow 0.2s ease 0s;
        }
      }
      .left-arrow {
        left: -12px;
        // height: 20px;
        // width: 20px;
        height: 25px;
        width: 25px;
        &:active
        {
          border-color: rgb(226, 226, 226);
        }
        &:focus
        {
          box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px, rgba(255, 255, 255, 0.7) 0px 0px 0px 5px;
          outline: none !important;
          transition: box-shadow 0.2s ease 0s;
        }
      }
      .new-build, .brand-new-tag,.marina-new-tag {
        padding: 1px 8px;
        font-size: 8px;
        height: 16px;
        display: flex;
        align-items: center;
      }
      .small-shared {
        padding: 1px 8px;
        font-size: 8px;
      }
      /* banner card */
      .home-carousal .home-card {
        width: 300px;
        top: calc(50% - 145px);
        .form-control {
          font-size: 10px;
        }
        .range-div {
          margin-top: 10px;
        }
        .h-33 {
          height: 27px;
          .MuiSelect-icon {
            // top: calc(50% - 7px);
          }
          .MuiOutlinedInput-input {
            padding: 0.375rem 0.75rem;
            font-size: 10px;
          }
        }
        .home-banner-form-div {
          padding: 15px 20px 5px;
        }
        .home-banner-form-title {
          font-size: 14px;
        }
        .form-title {
          margin-bottom: 0;
          font-size: 10px;
          + div {
            font-size: 10px;
          }
        }
        .home-banner-form-button-div {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
          .f-12 {
            font-size: 10px;
          }
          button {
            font-size: 11px;
            padding: 4px 5px;
            svg {
              font-size: 12px;
              margin-top: 1px;
              margin-left: 8px;
            }
          }
        }
      }
      /*Auction Room*/
      .auction-time-box {
        margin: 6px;
        font-size: 15px;
        padding: 10px;
      }
      .auction-room .boat-info-inner {
        padding: 6px 11px;
      }
      h4.boat-title-auction {
        font-size: 11px !important;
      }
      h4.boat-owner-auction {
        font-size: 10.5px !important;
      }
      .boat-country-auction {
        font-size: 11.5px !important;
      }
      .auction-room .boat-owner-auction,
      .auction-room .bid-price-auction {
        font-size: 11.5px !important;
      }
      .auction-room .auction-price-font {
        font-size: 11.5px !important;
      }

      .input-range__slider {
        margin-top: -0.3rem;
        width: 0.50rem;
        height: 0.50rem;
    }
    .input-range__track {
        height: 1.3px;
    }
    }
    .review-card-div-border{
      .brand-new-tag {
        padding: 1px 8px;
        font-size: 10px;
        height: 16px;
        display: flex;
        align-items: center;
      }
      .rent-card-text, .desc-text {
        font-size: 11px;
      }
      .mt-3 {
        margin-top: 0.5rem !important
      }
      .mb-2 {
        margin-bottom: 0.25rem !important;
      }
    }
  }
}
