body {
    .review-pay-head {
        font-size: 25px;
        font-weight: 600
    }
    .block-heading{
        font-size: 23px;
    }
    .review-div-text {
        color: #767676bf;
        font-size: 16px;
    }
    .review-div-head-text {
        font-size: 18px;
    }
}