.user-guide-banner-div {
  height: 50vh;
  width: 100%;
  position: relative;
  img {
    height: 100%;
    width: 100%;
  }
}
.user-guide-banner-text-div {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  left: 16%;

  .main-home-search {
    height: 42px;
    border-radius: 6px;
    .btn-s {
      padding: 10px 10px;
    }
  }
}
.user-guide-nav-div {
  border-bottom: 1px solid #7676762b;
  width: 100%;
  .nav-link {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &:hover {
      color: #767676;
    }
    &.active {
      color: #000 !important;
      background-color: #fff !important;
    }
  }
}
.nav-pills .show > .nav-link {
  color: #000 !important;
  background-color: #fff !important;
}
.user-guide-nav-left-div {
  max-height: 392px;
  overflow-y: scroll;
}
.user-guide-nav-left-div::-webkit-scrollbar {
  width: 4px;
  border-radius: 25px;
}

.user-guide-nav-left-div::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

.user-guide-nav-left-div::-webkit-scrollbar-thumb {
  background-color: #76767638;
  outline: none;
  border-radius: 25px;
}
.border-user-guide-section {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}
.user-guide-div-img {
  width: 100px;
  height: 125px;
}
.user-guide-img-div-desc {
  font-weight: 400;
  font-size: 16px;
  color: #767676d4;
}
@media screen and (max-width: 1380px) {
  body{
.user-guide-title
{
  font-size: 15px;
}
.search-adamsea-help-desk
{
  margin-top: 1.2rem !important;
}
.user-guide-search-adamsea-title
{
  font-size: 1.5rem;
}
.user-guide-main-search
{
  height: 32px !important;
input{
  font-size: 11px;
}
.btn{
  padding: 6px 6px !important;
  i{
    font-size: 10px;
  }
}
}
.user-guide-main-container
{
  margin-top: 1.3rem!important;
}
.user-guide-left-section
{
  margin-top: 0.2rem!important;
}
.user-guide-questions-main-title
{
  font-size: 14px;
  font-weight: 600;
}
.user-guide-left-side-questions-list
{
  font-size: 11px;
  padding: 0.50rem 0rem !important;
}
.user-guide-right-side-ans-div
{
  p{
    margin-bottom: 0.50rem;
  }
}
.user-guide-left-main-div-size
{
  flex: 0 0 30%;
    max-width: 30%;
}
.user-guide-right-main-div-size
{
  flex: 0 0 70%;
    max-width: 70%;
}
.user-guide-left-img-div
{
  margin-top: 1.1rem!important;
}
.user-guide-div-img {
  width: 75px;
  height: 90px;
}
.user-guide-img-left-div
{
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}
.user-guide-img-left-div-title
{
  font-size: 15px;
  font-weight: 700;
}
.user-guide-img-div-desc{
  font-size: 12px;
  font-weight: 500;
}
  }
}