*:focus {
  outline: none !important;
}

.input-range__slider {
  background: #f44336;
  border-color: #f44336;
  margin-top: -0.5rem;
  width: 0.75rem;
  height: 0.75rem;
}

.input-range__track--active {
  background: #f44336;
  // height: 0.2rem;
  height: 0.12rem;
}
.input-range__track {
  height: 0.15rem;
  &:hover {
    background: #101e9c6b;
  }
}
.input-range:hover {
  .input-range__track {
    background: #101e9c6b;
  }
  .input-range__track {
   z-index: 1;
  }
  .input-range__slider
  {
   background: #6571d6;
    border-color: #6571d6;
    z-index: 2;
  }
}
.input-range__slider {
  margin-top: -0.4rem;
  width: 0.65rem;
  height: 0.65rem;
  // margin-left: 0;
}
.gridBoat-name {
  color: #484848;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.8rem;
}

.priceBadge-direction {
  display: flex;
  flex-flow: row wrap;
}

.boatImages-div {
  height: 25vh;

  img {
    height: 100%;
  }
}

.BoatCardText-cardContentPosition {
  color: white;
  width: 100%;
  display: flex;
  z-index: 2;
  position: absolute;
  bottom: 10px;
  justify-content: center;
}
.explore-component-text {
  color: #666666;
  padding: 0 20px;
  margin-top: -15px;
}

.boatImage-div,
.boatImages-divH25 {
  height: 293px;
}

.boatImages-divH35 {
  height: 35vh;
}

.videoHome-div {
  width: 100%;
  height: 35vh;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

body {
  .playVideo-icon {
    color: #fff;
    font-size: 4rem;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    top: 40%;
  }
}

.authoCity-color {
  color: #767676;
}

.blogPost-createdDay {
  color: #adb5bd;
}

body {
  .border-radius-20 {
    border-radius: 20px;
  }
}

.categories-divMargin {
  margin: 9px 0;

  span {
    a {
      margin: 8px 8px 8px 0;
      border-color: #ebeded;
      color: #767676;

      &:hover {
        background-color: #f44336;
        border-color: #f44336;
      }
    }
  }
}

.mediaCategories-div,
.popularBoatPost-div {
  border: 1px solid #ebeded;
  border-radius: 4px;
  padding: 15px 15px;
}

.boatMediaNews-div {
  height: 70px;
  width: 70px;
  overflow: hidden;
  border-radius: 4px;

  img {
    height: 100%;
    width: 100%;
  }
}

.popularBoatPost-InfoDiv {
  padding-top: 9px;
}

.author-action {
  color: #adb5bd;
  display: table;
}

.boatMedia-videoDiv {
  .videoHome-div {
    height: 40vh;
    border-radius: 6px;
  }
}

.boatMedia-pagination {
  span {
    a {
      border-radius: 4px;
    }
  }
}

.boatListingImgDiv {
  height: 100%;
  overflow: hidden;
  width: 30%;

  img {
    max-width: 100%;
  }
}

.logoBoat {
  width: 10vw;
}

.width-70 {
  width: 70%;
}

.adamsea-text-color {
  color: #101e9c;
}

.home-form-btn:hover {
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42),
    0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
}

.home-page {
  .MuiTouchRipple-root {
    display: none;
  }

  .MuiIconButton-root:hover {
    background-color: unset;
  }
}
/* fix home page image issues */
.home-content {
  img {
    height: 100%;
    width: 100%;
  }
}
.boat-grid-badge {
  top: 20px;
  left: 20px;
}
.card-action-padding {
  padding: 0px 18px;
}
.home-page {
  .rating-clr {
    color: #f8bb03;
    .MuiSvgIcon-root {
      width: 20px;
      height: 20px;
    }
  }
  .flex-direction-column {
    flex-direction: column;
  }
  .spacing {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #767676;
  }
  .boat-owner {
    font-size: 16px;
    color: #666666;
    span {
      text-transform: capitalize;
    }
  }
  .boat-country {
    color: #666666;
  }
  .boat-country-home {
    color: #767676;
  }
}
.home-boat-price {
  color: #484848;
}

.open-video-modal {
  .video-react .video-react-big-play-button {
    display: none;
  }
}
.home-show-all
{
  color: #000094;
  &:hover
  {
    color: #34a54c;
  }
}