.home-card {
  .Form-arrow,
  .boatTitleButton-bg {
    button {
      background-color: transparent;
      color: #000;
    }
  }
}

.home-card {
  .boatTitleBg-onClick {
    background-color: #f44336;
    color: #fff;
    border-radius: 4px;

    span {
      color: #fff;
    }

    i {
      color: #fff;
    }
  }
}

.home-card {
  .boatTitleBg-onClick {
    button {
      outline: unset;
    }
  }
}

.right-formArrow:focus,
.left-formArrow {
  .button {
    outline: none;
  }
}

.searchBoat-position {
  display: flex;
  justify-content: center;
}

.boatTitleBg-onClick {
  display: flex;
  justify-content: center;
}

.home-card {
  .Form-arrow {
    button {
      svg {
        margin: 0;
      }
    }
  }
}
.boatTitleArrow-margin {
  margin: 25px 0;
}
.boatTitleArrow-position {
  .aoTUt {
    right: -3%;
  }
}

.boatTitleArrow-position {
  .dHQcjo {
    left: -3%;
  }
}

.boatTitleArrow-position {
  padding: 8px;
}

.mt-0 {
  margin-top: 0;
}

.boatTitle-iconSize {
  font-size: 3rem;
  line-height: normal;
}

.boatTitleArrow-position {
  .sc-bwzfXH {
    padding: 0;
  }
}

.boatTitle-Size {
  font-size: 13px;
  font-weight: 400;
  color: #444444;
  opacity: 0.6;
}

.text-center {
  text-align: center;
}

.fontWeight-400 {
  font-weight: 400;
}

// slider
.price-count-container {
  padding-right: 0.75rem;
  padding-top: 0.375rem;
}

.price-count {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background: #5a8ed9;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.price-count:hover {
  opacity: 0.7;
}
.rent-card-icons {
  height: 25px;
  width: 25px;
}
.price-count::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #5a8ed9;
  cursor: pointer;
}

.price-count::-moz-range-thumb {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #5a8ed9;
  cursor: pointer;
}

// end slider
.boatTitlePosition {
  text-transform: none;
}

body {
  .padding-right-10 {
    padding-right: 10px;
  }
  .home-banner-form-div {
    padding: 32px;
    padding-bottom: 14px;
  }
  .home-banner-form-div-border {
    border-radius: 8px;
  }
  .home-banner-form-button-div
{
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}
}

.placeholder-text-size {
  .MuiSelect-root {
    font-size: 0.8125rem;
    color: #757d85;
  }
}
.home-banner-form-title {
  font-size: 24px;
}
.home-banner-search-form-div
{
  .input-range__slider
  {
    background: #061e9c;
    border-color: #061e9c;
  }
  .input-range__track--active
{
  background: #061e9c;
}
}

body
{
.home-banner-search-button:hover
{
  box-shadow: 0 14px 26px -12px #061e9c45, 0 4px 23px 0 #061e9c45, 0 8px 10px -5px #061e9c45;
}
.home-banner-search-button:not(:disabled):not(.disabled).active:focus, .home-banner-search-button:not(:disabled):not(.disabled):active:focus,
.show>.home-banner-search-button.dropdown-toggle:focus
{
  box-shadow: 0 0 0 0.2rem #061e9c45;
}
}