// NOTE : Need to removed common css
.boat-img-box {
  overflow: hidden;
  height: 25vh;
  height: 244px;
  margin-bottom: 10px;
}

.boat-country {
  margin-bottom: 10px;
  color: #00000096;
}

.boat-img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 4px;
}

.boat-img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  transform: scale(1);
  border-radius: 4px;
}

.boat-title {
  color: rgb(51, 51, 51);
}

.boat-owner {
  color: rgb(118, 118, 118);
  font-weight: 600;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-1 {
  margin-bottom: 1%;
}

.mt-1 {
  margin-top: 1%;
}

.margin-0 {
  margin: 0;
}

.Rent {
  .show-link {
    color: #018abc;
  }
}

.right-arrow {
  right: -20px;
}

.left-arrow {
  left: -20px;
}

.arrow-color {
  color: white;
}

.show-link {
  display: flex;
  text-decoration: unset !important;
  color: #dd3b26;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}

.maxWidth-100 {
  max-width: 100%;
}

.sellBoat-cardDiv {
  text-align: center;
  height: 38vh;
  position: relative;
}

.hire__card__ribbon {
  padding: 3px 6px 6px 7px;
  font-size: 1.05rem;
  font-weight: bold;
  color: whitesmoke;
  background: #000000bf;
  position: absolute;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.hire__card__ribbon:before {
  position: absolute;
  content: "";
  top: 0;
  left: -15px;
  display: block;
  width: 4px;
  border-top: 11px solid transparent;
  border-right: 15px solid #00000094;
}

.Card-Hover .cardHover__button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
}

.Card-Hover .cardHover__button span {
  color: #fff;
}

.text-uppercase {
  text-transform: uppercase;
}

.cardHoverButton-div .MuiButton-outlined {
  border: 1.5px solid #fff;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .LeftRight-arrow {
    width: 32px;
    height: 32px;
  }
}

// helper
body {
  margin: 0;

  .mt-0 {
    margin-top: 0;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .mb-10 {
    margin-bottom: 10px;
  }

  .mb-40 {
    margin-bottom: 40px;
  }

  .mt-10 {
    margin-top: 10px;
  }

  .mt-15 {
    margin-top: 15px;
  }

  .m-auto {
    margin: auto;
  }
  h6 {
    font-size: 15px;
  }
}

// two
.home-card {
  width: 550px;
  // position: absolute;
  // z-index: 1000;
  // top: 14%;

  .profile-container {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }

  button {
    background-color: #f44336;
    color: #fff;

    &:hover {
      background-color: #f44336;
      border-color: #f44336;
    }

    svg {
      font-size: 18px;
      margin-top: 2px;
      margin-left: 8px;
    }
  }

  .form-title {
    margin-bottom: 3px;
  }
}

.container100 {
  max-width: 90vw;
  margin: auto;
}

@media (max-width: 1250px) {
  .home-card {
    top: 5%;
  }

  .container100 {
    max-width: 85vw;
  }
}

@media (max-width: 767px) {
  .home-card {
    position: relative;
    top: unset;
  }
}

.home-carousal::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #000;
  opacity: 0.2;
}

.home-carousal {
  position: relative;
  overflow: hidden;

  .home-slider {
    height: calc(100vh - 95px);

    div {
      height: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .home-card {
    width: 450px;
    position: absolute;
    top: calc(50% - 210px);
    z-index: 9;
    right: 10%;
  }
}

.main-category .categoryContent {
  flex: 1 0 auto;
  padding: 0 !important;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.carousel-arrow .euKzJn {
  width: 38px;
}

.boat-box {
  position: relative;
}

.boat-box-shadow {
  cursor: pointer;
  border-radius: 4px;
  position: relative;
}

.boat-img-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}

.boat-img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

// .boat-img:hover {
//   -webkit-transform: scale(1.1);
//   -moz-transform: scale(1.1);
//   -o-transform: scale(1.1);
//   -ms-transform: scale(1.1);
//   /* IE 9 */
//   transform: scale(1.1);
//   border-radius: 4px;
// }

// .hover-effect:hover {
//   -webkit-transform: scale(1.1);
//   -moz-transform: scale(1.1);
//   -o-transform: scale(1.1);
//   -ms-transform: scale(1.1);
//   /* IE 9 */
//   transform: scale(1.1);
// }

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.margin-0 {
  margin: 0;
}

.right-arrow {
  // right: -50px;
  right: -19px;
}

.left-arrow {
  // left: -50px;
  left: -19px;
}

.arrow-color {
  color: white;
}

.maxWidth-100 {
  max-width: 100%;
}

.sellBoat-cardDiv {
  text-align: center;
  height: 38vh;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 10px 16px 15px !important;
}

.hire__card__ribbon {
  padding: 3px 6px 6px 7px;
  font-size: 1.05rem;
  font-weight: bold;
  color: whitesmoke;
  background: #000000bf;
  position: absolute;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.hire__card__ribbon:before {
  position: absolute;
  content: "";
  top: 0;
  left: -15px;
  display: block;
  width: 4px;

  border-top: 11px solid transparent;

  border-right: 15px solid #00000094;
}

.main-category .categoryContent-Font {
  font-size: 15px;
  font-weight: 500;
  color: rgb(72, 72, 72) !important;
}

.Card-Hover .cardHover__button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
  border-radius: 4px;
}

.Card-Hover .cardHover__button span {
  color: #fff;
}

.cardHoverButton-div .MuiButton-outlined {
  border: 1.5px solid #fff;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .LeftRight-arrow {
    width: 32px;
    height: 32px;
  }
}

body {
  margin: 0;
}

// parth
.section-heading {
  margin-top: 80px;
  font-weight: bold !important;
  margin-bottom: 15px;
  color: #444444;
}

* {
  font-family: CircularStd !important;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-16 {
  margin-top: 16px;
}

.card-radius {
  border-radius: 4px !important;
}

.country-name {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 5px;
}

.price1 {
  font-size: 14px;
  font-weight: 600;
}

.h-40vh {
  height: 406px;
}

.home-page .MuiPaper-elevation1 {
  box-shadow: unset !important;
}
body {
  .banner-home-form {
    border: unset;
  }
}
.boat-owner {
  color: rgb(118, 118, 118);
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 5px;
}
.boat-owner-grid {
  color: #666;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.boat-title {
  color: rgb(72, 72, 72);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 4px;
}
.boat-title-grid {
  color: #767676;
  font-weight: 400;
  margin-bottom: 0px;
}

.boat-price {
  color: rgb(72, 72, 72);
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.boat-country {
  margin-bottom: 0;
  font-weight: 400;
  color: #666666;
}

.boat-info {
  display: flex;
  flex-direction: column;
}

.rent-layout {
  .rating-clr {
    color: #f8bb03;
  }
  .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
  }
}

.carousel-img-fix {
  height: 100%;
  border-radius: 4px;
  background-size: cover;
  width: 100%;
}
.border-radius {
  border-radius: 12px;
}

.color-white {
  color: #fff;
}

.price-content {
  font-size: 11px;
  color: #9e9e9e;
  font-weight: normal;
  margin-left: 5px;
  border: 0.5px solid;
  border-radius: 3px;
  padding: 2px;
}

.bg-red {
  background-color: #f44336 !important;
}

.card-action {
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: 99;
  padding: 5px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-build-bg {
  border: #484848;
  background: #ffffff;
  color: #666666;
}
.new-build-bg-home {
  border: #484848;
  background: #5a8ed9;
  color: #fff;
}
.new-build-bg-market {
  border: 0.5px solid rgba(255, 255, 255, 0.8);
  background: #5a8ed9;
  color: #fff;
}

.new-build {
  padding: 5.5px 8px;
  font-size: 12px;
  font-weight: normal;
  border-radius: 20px;
  text-transform: uppercase;
  line-height: 10px;
  margin-right: 5px;
}
.brand-new-tag {
  background-color: #061e9c !important;
  border-color: #061e9c !important;
  color: #fff !important;
  padding: 5.5px 8px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 10px;
  margin-right: 5px;
}
.marina-new-tag {
  background-color: #061e9c !important;
  border-color: #061e9c !important;
  color: #fff !important;
  padding: 5.5px 8px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 10px;
  margin-right: 5px;
}
.shared-trip-tag {
  background-color: rgb(244, 160, 0) !important;
  border-color: rgb(244, 160, 0) !important;
  color: #fff !important;
  padding: 5.5px 8px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 10px;
  margin-right: 5px;
}
.private-trip-tag {
  background-color: #46c8df !important;
  border-color: #46c8df !important;
  color: #fff !important;
  padding: 5.5px 8px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 10px;
  margin-right: 5px;
}
.rent-per-hour-tag {
  background-color: #34a853 !important;
  border-color: #34a853 !important;
  color: #fff !important;
  padding: 5.5px 8px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 10px;
  margin-right: 5px;
}
.used-new-build-font-line-height {
  font-size: 11px;
  line-height: 9px;
}
.private-rent-bg {
  border: 0.5px solid rgba(255, 255, 255, 0.8);
  background: #46c8df;
  color: #fff;
}

.private-rent {
  padding: 1px 12px 0 12px;
  font-size: 11px;
  font-weight: normal;
  border-radius: 20px;
  text-transform: uppercase;
  height: 19px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.heart-button {
  position: relative;
  float: right;
  cursor: pointer;
  z-index: 1;
  // line-height: 1.5;
}

.share-button {
  position: relative;
  float: right;
  cursor: pointer;
  z-index: 1;
  margin-right: 8px;
}

.adam-share-filled,
.adam-heartfill-1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
}

.mt-13 {
  margin-top: -13px;
}

.mb-50 {
  margin-bottom: 50px;
}

.countdown {
  display: flex;
}

.clock {
  color: black;
  display: flex;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  background-color: transparent;
}

.auction-time-box {
  margin: 15px;
  font-size: 24px;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #061e9c;
  flex-direction: column;
  padding: 15px;
  font-weight: 500;
  .auction-text {
    font-weight: 500;
    font-size: 13px;
  }
}

.bid-price {
  font-size: 14px;
  font-weight: 400;
  color: #484848;
}

.border-right {
  border-right: solid 1px #ebebeb;
}

.border-bottom {
  border-bottom: solid 1px #ebebeb;
}

.pl-10 {
  padding-left: 10px;
}

.font-color-brochure {
  color: #000;
}

.socialPopupBoxBg {
  background: rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
}

.icon {
  padding: 10px;
  font-size: 30px;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #db3236;
}

.social-icon {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.mail-back {
  background: #efbe00;
}

.fb-back {
  background: #3b5998;
}

.twitter-back {
  background: #00acec;
}

.g-plus-back {
  background: #d44132;
}

.pint-back {
  background: #cd2027;
}

.link-back {
  background: #0085af;
}

*:focus {
  outline: none !important;
}

.yacht-country-company {
  position: absolute;
  bottom: 20%;
  padding: 15px;
}

.boat-info {
  .badge {
    font-size: 9px;
    padding: 5px 7px;
    margin-left: 5px;
    font-weight: 500;
    text-transform: unset;
  }
}

.dFlex-1 {
  flex: 1;
}

.dealBoatBgBorder {
  border-radius: "4px";
  background-size: "cover";
}

.rating-count {
  color: #767676;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.rating-count-rent {
  color: #767676;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

body {
  .home-boat-name-font {
    font-size: 15px;
  }

  .text-decoration-unset {
    text-decoration: unset !important;
  }

  .card-position {
    position: relative;
    height: 100%;
    border-radius: 16px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.notify-text-effect:hover {
  color: #061e9cba;
}

@media only screen and (min-width: 960px) {
  .city-from-country {
    .MuiGrid-grid-md-true {
      flex-grow: 0;
      max-width: 20%;
      flex-basis: 20%;
    }
  }
}

.media {
  height: 100%;
  padding-top: 56.25%;
  border-radius: 16px;
}

.card-content-position {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 2;
  h1 {
    font-weight: normal;
    text-transform: capitalize;
  }
  h3 {
    font-weight: normal;
  }
}
.card-hover-background {
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  width: 100%;
  height: 35vh;
  background-position: center;
  border-radius: 4px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.card-hover-displayover:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.sell-justify {
  display: flex;
  width: 100%;
}
.space-between {
  justify-content: space-between;
}
.mr-20 {
  margin-right: 20px;
}
.br-10 {
  border-radius: 10px !important;
}
.p-35 {
  padding: 35px !important;
}
.home-page {
  .new-boat {
    background: #061e9c;
    padding: 4px 12px;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1;
    margin-right: 5px;
  }
  .new-boat-label {
    display: flex;
    align-items: center;
  }
  .auction-room {
    .boat-box {
      position: relative;
      border: 1px solid #ddd;
      border-radius: 10px;
      overflow: hidden;
    }
    .boat-country {
      color: #484848;
      text-transform: uppercase;
      font-size: 16px;
    }
    .boat-info-inner {
      padding: 18px 20px;
    }
    .bid-pricing {
      .starting-pricing {
        padding: 18px 0 0 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .current-pricing {
        padding: 18px 25px 18px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
    .boat-title {
      font-size: 18px;
      text-transform: capitalize;
      color: #767676;
      font-weight: 500;
    }
    .boat-title-auction {
      font-size: 15px;
      text-transform: capitalize;
      color: #767676;
      font-weight: 400;
    }
    .boat-owner,
    .bid-price {
      text-transform: capitalize;
      font-size: 14px;
      color: #767676;
      font-weight: 500;
    }
    .boat-owner-auction,
    .bid-price-auction {
      text-transform: capitalize;
      font-size: 15px;
      color: #767676;
      font-weight: 400;
    }
    .auction-price-font {
      font-size: 15px !important;
    }
    .auction-boat-price {
      position: absolute;
      bottom: 0;
      left: 0;
      background: #000000a8;
      opacity: 0.7;
      text-transform: uppercase;
      padding: 5px 10px;
      color: #fff;
      font-weight: 500;
    }
  }

  .feature {
    .card-action {
      justify-content: space-between;
    }
  }
  .boat-info-grid {
    flex-direction: column;
    .price-with-rating {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
    .place-city {
      font-size: 15px;
      font-weight: normal;
      color: #767676;
      text-transform: capitalize;
      margin-bottom: 5px;
    }
    .boat-name {
      margin-bottom: 0;
      margin-top: 5px;
    }
    .manufactured-by {
      color: #666;
      font-size: 14px;
      font-weight: 500;
      margin-top: 5px;
    }
  }
  .most-popular-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .most-popular-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.LeftRight-arrow {
  background: #db3236;
  position: absolute;
  border-radius: 25px;
  color: white;
  height: 38px;
  width: 38px;
  // top: calc(50% - 24px);
  top: calc(50% - 38px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1240px) {
  .auction-time-box {
    margin: 5px;
    font-size: 21px;
    padding: 5px;
  }
}
@media (max-width: 1490px) {
  .auction-time-box {
    margin: 8px;
    padding: 8px;
  }
}
.per-person {
  color: #787878;
  font-size: 0.8rem;
}
.border-explore-adamsea {
  border: 1px solid #dddddd;
  border-radius: 10px;
}
.padding-explore-alias {
  padding: 4px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.team-commitment-text {
  color: #f46139;
}
.rent-explore-boat {
  border-radius: 10px 10px 0 0px !important;
}
.rent-boat-name-color {
  color: #666666;
}

.home-video-banner {
  display: flex;
  width: 100%;
  overflow: hidden;
  .banner-size {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

.card-action {
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: 99;
  padding: 5px 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .share-icon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .share-button,
    .heart-button {
      height: 40px;
      line-height: 1;
      width: 40px;
      display: flex;
      align-items: center;
      border-radius: 50%;
      background: #ffffff;
      justify-content: center;
      i {
        // color: #dddddd;
        font-size: 14px;
        filter: grayscale(100%);
      }
    }
  }
}
.card-action-marina {
  padding: 7px 18px !important;
  left: 0;
}
.double-card {
  p {
    color: #fff;
  }
  .register-card-main .register-card {
    padding-left: 50px;
    max-width: 480px;
  }
}
.register-card {
  p {
    color: #fff;
  }
}

@media (min-width: 600px)
{
.MuiGrid-grid-sm-2-5 {
    flex-grow: 0;
    max-width: 20% !important;
    flex-basis: 20% !important;
}
}