body .d-sm-icon-none {
  display: none;
}
.header-responsive .search-input input {
  padding: 7px 0 7px;
}
header.header__bg {
  background-color: #fff;
  box-shadow: unset;
  border-bottom: 0.5px solid #c1c1c1;
  padding: 2px 25px 5px;
  z-index: 99999;
  .mobile__menu-color {
    svg {
      color: #000;
    }
  }

  .primary-text {
    .MuiButton-label {
      color: #f33456;
    }
  }

  .dropdownButtonWidth button {
    width: 100%;
  }

  .country-align {
    display: flex;
    align-items: center;
  }

  .country-align .country-flag {
    margin-right: 10px;
  }

  .menu__help .help-button,
  .menu__person .person-button {
    padding: 12px 6px;
  }

  .menu__help .help-button:hover,
  .menu__person .person-button:hover {
    background-color: transparent;
  }

  .desktopMenu-pt-0 li {
    padding: 0 3px;
  }

  .appbarRegisterButton .MuiButton-root:hover {
    background-color: transparent;
  }

  // login register css
  .position-relative {
    position: relative;
  }

  .login-dropdown {
    position: fixed;
    // top: 135px;
    top: 95px;
    left: 20px;
    right: 20px;
    background: #fff;
    width: 80hw;
    color: #000;
    animation: slide-up 1s ease;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    .wc-image {
      // height: 387px;
      overflow: hidden;
      border-radius: 0px 0px 0px 0px;
      background-image: url("../../assets/images/header/rent.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      // img {
      //   height: 100%;
      //   max-width: 100%;
      // }
    }

    .dropdown-li-image {
      width: 100%;
      float: left;
      padding: 0;
      list-style: none;

      li {
        width: 33.33%;
        float: left;
        padding: 10px;

        img {
          max-width: 100%;
        }
      }
    }
  }

  .register-listing {
    padding: 0 15px;

    .type-user li {
      padding-bottom: 0;
    }
  }

  .welcome-login {
    position: relative;
    color: #fff;
    .wc-caption {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 26px 23px;
    }

    button {
      width: auto;
      color: inherit;
      border-color: inherit;
      margin-top: 15px;
    }
  }
}
.logout-user {
  padding: 2px 25px 2px !important;
}
.header-cart-icon:hover {
  .adam-heart-1,
  img {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//responsive
@media only screen and (max-width: 1230px) {
  .login-dropdown {
    right: unset;
    left: 0px;
  }
}

@media (max-width: 959px) {
  .d-sm-menu-none {
    display: none;
  }
  body main,
  .home-carousal {
    margin-top: 0;
  }
  body .d-sm-icon-none {
    display: block;
  }
  .mobile-login-dropdown {
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    color: #000;
    border-top: 1px solid #ddd;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
    z-index: 1111;
    .login-dropdown {
      right: unset;
      left: unset;
      width: auto;
      position: relative;
      top: unset;
      box-shadow: unset;
    }

    .register-component {
      button {
        color: #000;
        position: relative;
        left: -7px;
        top: -10px;
        letter-spacing: 1px;
        font-size: 14px;
      }
    }

    li {
      a {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 1.3px;
      }
    }

    .wc-caption {
      position: relative;
      top: unset;
      width: 100%;
      padding: 18px 20px;
      color: #000;
      border: 1px solid #ddd;
    }
  }
}

// helper css
body {
  .ml-10 {
    margin-left: 10px;
  }
}

//temporary
main {
  margin-top: 95px;
}

.adam-navigation-main,
.adam-user-5,
.adam-heart-1,
.adam-chat-4,
.adam-help {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
}

.cart-no {
  background: #dd3b26;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 0px;
  vertical-align: middle;
  width: 16px;
}

.float-right {
  float: right;
}

.col-gray {
  color: #767676;
}

.size-color {
  font-size: 14px;
  color: #484848;
}

body .pr-5 {
  padding-right: 5px !important;
}

.pl-0 {
  padding-left: 0;
}

.justify-center {
  display: flex;
  justify-content: center;
}

// new header css

.main-home-search {
  width: 100%;
  height: 32px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  transition: all ease 250ms;
  border: 1px solid #adb5bd;
  align-items: center;
  display: flex;
}

.main-home-search .search-input {
  background: transparent;
  border: 0;
  width: 100%;
  outline: none;
  margin: 4px 9px;
  font-weight: 400;
  font-size: 0.8125rem;
}
.main-home-search {
  margin-top: 6px;
}

.main-home-search .search-input {
  background: transparent;
  border: 0;
  width: 100%;
  outline: none;
  margin: 4px 9px;
  font-weight: 400;
  font-size: 0.8125rem;
}

.mr--3 {
  margin-right: 3px;
}
body .btn-s {
  padding: 6px 6px;
  font-size: 0.75rem !important;
}

.btn.btn-primary {
  background: #061e9c;
  border-color: #061e9c;
  color: #fff !important;
  text-transform: capitalize;
}

body .btn {
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
}

.btn-xs {
  padding: 3px 8px;
  font-size: 0.75rem;
}
@media (max-width: 575px) {
  .btn-xs {
    font-size: 0.6875rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1080px) {
  .btn-xs {
    font-size: 0.6875rem;
  }
}

.btn-outline-lights {
  color: #767676;
  border-color: #ebebeb;
}

.width-100 {
  width: 100%;
}
.main-home-search i {
  color: #fff;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.text-decoration-none {
  text-decoration: none;
}
.padding-8 {
  padding: 8px !important;
}
@media only screen and (max-width: 1450px) {
  body .displayFlex-end {
    justify-content: flex-end;
  }
}
body .header-small-font {
  font-size: 0.6875rem;
}
body .font-weight-400 {
  font-weight: 400;
}
.paddingRight-1 {
  padding-right: 0.33rem;
}
body .currency-bg:hover {
  background-color: white;
}
body .currencyBox:hover {
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(169, 169, 169, 0.2);
  background: #f8f9fa;
  border-color: #f8f9fa;
}

.header-sm-1 {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}

.header-sm-3 {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}
.justify-center {
  justify-content: center;
}
body .pl-8 {
  padding-left: 8px;
}
body .pr-8 {
  padding-right: 8px;
}

.size-color li {
  display: inline-block;
}
@media only screen and (max-width: 1250px) {
  .header-sm-1 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }

  .header-sm-3 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
}
.header-menu-category li:hover {
  background-color: unset;
  border-bottom: 2px solid #061e9c;
  padding-bottom: 4px;
  a:hover {
    color: #484848;
    text-decoration: unset;
  }
}
body .menu-marginTop {
  margin-top: 0px;
  justify-content: space-around;
  .flex-1 {
    flex: 1;
  }
}

// search drop-down
.dropdownContainer {
  position: absolute;
  z-index: 1000;
  width: 49%;
  display: block;
  color: black;
  padding: 10px;
  background: #fff;
  box-shadow: rgba(26, 26, 29, 0.3) 0 15px 46px -10px;
  border: 1px solid #ebeded;
  border-radius: 0 0 10px 10px;
  top: 48px;
}

.title-text {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.result-list {
  width: 100%;
  padding: 10px;
}

.cityTitle {
  text-shadow: none;
  color: #484848;
  cursor: pointer;
  font-size: 14px;
}

.searchCity {
  margin-bottom: 0.8rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  font-size: 14px;
  color: rgba(118, 118, 118, 0.6) !important;
}

*:focus {
  outline: none !important;
}
body .HeaderMenu-hover:hover {
  text-decoration: none;
  background-color: unset;
  a:hover {
    text-decoration: none;
  }
}
.menu-hoverText:hover {
  color: #484848;
}
.loginMenu-hoverText:hover {
  color: #000;
}
.header-btn {
  .MuiTouchRipple-root {
    display: none;
  }
}
.headerTitle-container {
  border: 1px solid #061e9c;
  border-top-color: white;
  color: #061e9c;
  margin: 0 auto;
  outline: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  height: 100px;
}
.helper-img {
  width: 70px;
  height: 70px;
}
.min-defualt-height {
  min-height: 450px;
}
/* Rating color for show all */

.font-12 {
  font-size: 12px;
}
.review-form {
  padding: 10px 20px;
  margin: auto;
}
.review-button {
  button {
    padding: 0.375rem 0.75rem;
    float: left;
    border-radius: 4px;
    margin-right: 15px !important;
  }
}

body {
  .rent-inner-contain {
    .review-form {
      button {
        background: #46c8df !important;
        border: 1px solid #46c8df !important;
      }
    }
  }
  .show-all-primary {
    .rate {
      i {
        color: #db3236;
      }
    }
  }
  .show-all-secondary {
    .rate {
      i {
        color: #46c8df;
      }
    }
  }
}
.login-user-div {
  position: fixed;
  top: 120px;
  right: 120px;
  background: #fff;
  color: #000;
  overflow: hidden;
  max-width: 350px;
  min-width: 300px;
  border: solid 1px #ebebeb;
  border-top: none !important;
  border-radius: 0 0 10px 10px;
  z-index: 99999;
}
.wrap-text {
  white-space: pre-wrap;
}
.login-user-div-text {
  font-size: 14px !important;
  color: #333;
}
.login-user-div-text-link:hover {
  color: #0648a8;
}

.login-user-notification-text {
  color: rgba(118, 118, 118, 0.6);
  font-size: 11px;
  line-height: 1;
}

.login-user-div-switch {
  .switchtoggle {
    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 70px;
      max-width: 70px;
      height: 30px;
      background: #e2e6ea;
      display: block;
      border-radius: 100px;
      position: relative;
      margin-bottom: 0;
      &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 26px;
        height: 26px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
      }
    }

    input:checked + label:after,
    input:checked + input + label:after {
      left: calc(100% - 2px);
      transform: translateX(-100%);
    }

    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
      position: absolute;
    }

    input:checked + label,
    input:checked + input + label {
      background: #0648a8;
    }

    input:checked + label:before,
    input:checked + input + label:before {
      content: "Yes";
      position: absolute;
      top: 1px;
      left: 10px;
      font-size: 13px;
      width: 26px;
      height: 26px;
      border-radius: 90px;
      transition: 0.3s;
      text-indent: 0;
      color: #fff;
    }

    input + label:before,
    input + input + label:before {
      content: "No";
      position: absolute;
      left: 35px;
      font-size: 13px;
      border-radius: 90px;
      transition: 0.3s;
      text-indent: 0;
      color: #fff;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}

.help-description {
  color: #767676;
  font-size: 14px;
}
.help-title {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.help-padding {
  padding: 50px 0;
}
.header-title {
  margin: 0 auto;
  outline: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  height: 100px;
}
.padding-title {
  padding: 0 20px;
}
body {
  h5 {
    font-size: 1rem;
  }
  .search-boat-header {
    .btn-primary {
      width: auto;
      background-color: #007bff;
      border-color: #007bff;
    }
  }
  .header-bg-index {
    z-index: 102;
  }
}

.header-logout:hover {
  text-decoration: underline;
}
.header-search-dropdown {
  border-radius: 4px;
}
.header-search-div:last-child {
  margin-bottom: 0px;
}

/* header responsive */

.header-logo img {
  width: 36.2%;
}
.header-search-main-div > div {
  width: 100%;
}
header {
  .search-responsive {
    margin: 0;
    height: 32px;
    border: 0;
  }
}
.header-responsive {
  .position-relative {
    button {
      span {
        color: #767676;
      }
    }
  }
}
@media screen and (max-width: 1495px) {
  /*header Responsive */
  .header-responsive {
    .user-name-header {
      font-size: 11px;
      margin-right: 10px !important;
    }
    .login-dropdown {
      top: 84px !important;
    }
    .position-relative {
      button {
        span {
          color: #767676 !important;
        }
      }
    }
    .mt-10 {
      margin-top: 5px;
    }
    .main-home-search {
      margin-top: 5px;
      height: 26px;
      border: 0.5px solid #adb5bd;
    }
    .search-responsive {
      margin: 0;
      height: 26px;
      border: 0;
    }
    .search-input,
    .location-header {
      font-size: 11px !important;
    }
    .adam-navigation-main,
    .adam-user-5,
    .adam-chat-4,
    .adam-help {
      color: rgba(0, 0, 0, 0.54);
      font-size: 11px;
    }
    .search-input .adam-heart-1 {
      font-size: 14px;
    }
    .cart-no {
      font-size: 8px;
      line-height: 13px;
      width: 13px;
      top: 5px;
      right: 26%;
    }
    .paddingRight-1 .col-gray {
      font-size: 11px;
    }
    .header-logo {
      padding: 6px 0 0 0;
      img {
        width: 26.2%;
      }
    }

    .header-small-font {
      font-size: 9px;
    }
  }

  .login-user-div {
    top: 102px;
    max-width: 280px;
    min-width: 270px;
    .small-screen-login-user-title {
      font-size: 14px;
    }
    .small-screen-login-user-info {
      font-size: 12px !important;
    }
  }
  .login-user-div-switch {
    .switchtoggle {
      label {
        width: 55px;
        max-width: 55px;
        height: 25px;
        &::before {
          left: 10px;
          font-size: 13px;
          width: 26px;
          height: 26px;
        }

        &::after {
          left: 2px;
          width: 21px;
          height: 21px;
        }
      }
    }
  }
  .login-user-div-switch .switchtoggle input + label:before,
  .login-user-div-switch .switchtoggle input + input + label:before {
    left: 30px;
  }
  //   body{.login-register-dropdown-links
  //   {
  //     font-size: 10px !important;
  //   }
  //   .login-register-dropdown
  //   {
  //     font-size: 11px;
  //   }
  // }

  // .rent-logo-fix {
  //   height: 36px;
  // }
  // .service-logo-fix {
  //   height: 28px;
  // }
  // .marina-logo-fix {
  //   height: 40px;
  // }
  // .boatshow-logo-fix {
  //   height: 32px;
  // }
  // .home-logo-fix {
  //   height: 25px;
  // }

  body {
    .rent-logo-fix {
      height: 31px !important;
      width: auto !important;
    }
  }
  body {
    .service-logo-fix {
      height: 24px;
    }
  }
  body {
    .marina-logo-fix {
      height: 37px !important;
      width: 52.2% !important;
    }
  }
  .boatshow-logo-fix {
    height: 28px !important;
    width: 64.2% !important;
  }
  .home-logo-fix {
    height: 23px;
    width: auto !important;
  }
}
@media screen and (max-width: 1380px) {
  /*header Responsive */
  .header-responsive {
    .login-dropdown {
      top: 73px !important;
    }
    .manage-header {
      min-height: 27px;
      position: relative;
      top: 4px;
      margin-top: 0px;
    }
    .mt-10 {
      margin-top: 5px;
    }
    .main-home-search {
      margin-top: 5px;
      height: 24px;
      border: 0.5px solid #adb5bd;
    }
    .search-responsive {
      margin: 0;
      height: 24px;
      border: 0;
    }
    .adam-navigation-main,
    .adam-user-5,
    .adam-chat-4,
    .adam-help {
      color: rgba(0, 0, 0, 0.54);
      font-size: 11px;
    }
    .adam-heart-1 {
      font-size: 14px;
    }

    .cart-no {
      font-size: 8px;
      line-height: 13px;
      width: 13px;
      top: 5px;
      right: 26%;
    }

    .paddingRight-1 .col-gray,
    .header-small-font,
    .location-header {
      font-size: 9px !important;
    }
    .search-input {
      font-size: 10px !important;
    }
    .position-relative {
      button {
        span {
          font-size: 9px !important;
        }
      }
    }

    .header-logo {
      padding: 7px 0 0 0;
      img {
        width: 38.2%;
      }
    }
    .menu__help .help-button,
    .menu__person .person-button {
      padding: 7px 6px;
    }
    .h-li-0 li {
      padding-bottom: 0;
    }
    .heart-1-li {
      height: 100%;
    }
  }

  .login-user-div {
    top: 88px;
    max-width: 237px;
    min-width: 200px;
    // .small-screen-login-user-title {
    //   font-size: 10px !important;
    // }
    .small-screen-login-user-info {
      font-size: 9px !important;
    }
    .header-dropdown-user-name {
      font-size: 11px;
    }
    .header-dropdown-link {
      line-height: 1;
    }
  }
  .login-user-div-switch {
    .switchtoggle {
      label {
        width: 45px;
        max-width: 45px;
        height: 20px;
        // &::before {
        //   top: 1px;
        //   left: 7px;
        //   font-size: 12px;
        //   width: 26px;
        //   height: 26px;
        // }

        &::after {
          left: 2px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  .login-user-div-switch .switchtoggle input + label:before,
  .login-user-div-switch .switchtoggle input + input + label:before {
    left: 22px !important;
    top: 1px;
  }
  .login-user-div-switch .switchtoggle input:checked + label:before,
  .login-user-div-switch .switchtoggle input:checked + input + label:before {
    left: 4px !important;
    top: -2px;
  }

  body {
    .rent-logo-fix {
      height: 24px !important;
      width: auto !important;
    }
  }
  body {
    .service-logo-fix {
      height: 19px;
    }
  }
  body {
    .marina-logo-fix {
      height: 30px !important;
      width: 52.2% !important;
    }
  }
  .boatshow-logo-fix {
    height: 22px !important;
    width: 64.2% !important;
  }
  .home-logo-fix {
    height: 18px;
    width: auto !important;
  }
}

.z-header-fix-sticky ~ main {
  .boat-inner-sticky,
  .sticky-on-top {
    z-index: 9;
  }
}
body {
  .header-icons:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
  }
}
.header-dropdown-user-name {
  font-size: 16px;
  color: #333;
}
.header-user-image-div {
  height: 50px;
  width: 50px;
  img {
    border-radius: 50%;
  }
}
.header-user-name {
  font-size: 16px;
}
.header-user-role {
  font-size: 12px;
  text-transform: capitalize;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 8px;
  text-align: center;
}
.header-user-time {
  span {
    font-size: 12px;
  }
}
.header-location-img {
  color: #484848;
}
.header-location-country {
  font-size: 15px;
}
.header-location-time {
  font-size: 12px;
}
body {
  .rent-logo-fix {
    height: 36px;
    width: auto;
  }
}
.service-logo-fix {
  height: 28px;
}
body {
  .marina-logo-fix {
    height: 40px;
    width: auto;
  }
}
.boatshow-logo-fix {
  height: 32px;
}
.header-dropdown-user-role {
  text-transform: capitalize;
}
body header {
  .adam-heart-1 {
    font-size: 22px;
  }
  .width-height-icon-bell {
    height: 22px;
    width: 20px;
  }
}
.addBoatShow-imgUploader.single-image {
  position: relative;
  .fileUploader {
    position: absolute;
    top: -10px;
    right: 0;
    width: 40px;
    height: 40px;
    background: #212529b8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    // &:hover {
    //   background-color: #5a8ed9;
    //   border-color: #5a8ed9;
    // }
    .fileContainer {
      padding: 0 !important;
      margin: 0;
      background: transparent;
      button {
        margin: 0;
        padding: 0;
        background-color: transparent;
        height: 40px;
        width: 40px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        // background-color: #212529b8;
      }
    }
  }
}
.dashboard-layout-responsive {
  .single-upload-image-profile .upload-img-circle img {
    height: 120px;
    width: 120px;
    &:not(.square-img) {
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .addBoat-container {
    height: 120px;
    width: 120px;
  }
}
.dashboard-profile-label {
  .form-control {
    width: 100% !important;
  }
}
.flex-direction-column-single {
  flex-direction: column;
  label {
    margin-bottom: 1rem !important;
  }
}
