.mb-30 {
    margin-bottom: 30px
}

.mt-30 {
    margin-top: 30px
}

.profile-container {
    margin   : auto;
    max-width: 80%;
    padding  : 15px 15px;
}
.boat-service-banner-form-card
{
    margin   : auto;
    max-width: 100%;
    padding  : 15px 15px;
}

.profile-container1 {
    margin    : auto;
    max-width : 80%;
    padding   : 15px 15px;
    text-align: center
}

.root {
    display       : 'flex';
    flex-direction: row
}

.mt-2 {
    margin-top: 2%
}

.button {
    margin: 10px
}

.card {
    margin-top   : 1%;
    margin-bottom: 1%
}

.w-100 {
    width: 100%
}

.addBoat-container {
    position: relative;
    width   : 100px;
    height  : 100px;

    img {
        width : 100%;
        height: 100%;
    }

    span {
        position        : absolute;
        top             : -5px;
        right           : -5px;
        font-size       : 22px;
        border          : none;
        cursor          : pointer;
        border-radius   : 5px;
        text-align      : center;
        background-color: white;
        border-radius   : 11px;
        padding         : 3px;
        line-height     : 0.6;
    }
}

.m-10 {
    margin: 10px;
}

.googleMap-position {
    position: "relative";
    overflow: "visible";
}
.addBoat-selectedValue
{
    .MuiSelect-select
    {
        display: flex;
        flex-wrap: wrap;
        .MuiChip-root
        {
            margin: 2px;
        }
    }
    .MuiSelect-select:focus
    {
        background-color:#fff;
    }
}
.add-boat-map
{
    .MuiGrid-container
    {
        overflow: hidden;
    }
    .MuiGrid-root
    {
        margin-bottom: 10px;
    }
}
.add-boat-map-div
{
    .MuiPaper-root
    {
        border: 1px solid rgba(0,0,0,.125);
        box-shadow: none; 
    }
}
.react-confirm-alert-overlay
{
    z-index: 101;
}