body {
  .marina-container {
    max-width: 1280px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .bg-blue {
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 1;
  }
  .marina-user-rated {
    border-radius: 50%;
  }
  .adam-storage,
  .adam-shed {
    color: #fff;
    font-size: 1.5625rem;
  }
  .adam-search1 {
    color: #fff;
  }
  .form-control {
    font-size: 0.8125rem;
  }
  .font-white {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
  }
  .marina-list {
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    padding-bottom: 0;
  }
  .marina-list:hover {
    border-bottom: 2px solid #fff;
  }
  .search-form {
    display: flex;
  }
  .form-group {
    width: 50%;
    margin-bottom: 0 !important;
  }
  .btn-marina {
    height: 38px;
  }
  .btn-bg {
    background-color: #f44356;
  }
  .mr-ml-auto {
    margin-right: auto;
    margin-left: auto;
  }
  .pos-relative {
    position: relative;
  }
  .pos-absolute {
    position: absolute;
    bottom: 5%;
    right: 15%;
    height: auto;
  }
  .error-message {
    font-size: 12px;
    color: lightcoral;
    margin-top: 5px;
  }
  .iconColor-marina {
    color: #2b76d5;
  }
  .whiteSpace-normal {
    white-space: normal;
  }
  .marina-btnBlue {
    background-color: #2b76d5 !important;
  }
  .marina-btnBg {
    background-color: #2b76d5 !important;
    color: #fff !important;
    border-color: #2b76d5 !important;
  }
  .top-rated-section-user {
    svg {
      width: 40px !important;
      height: 40px !important;
    }
  }
  .marina-storage-layout {
    .section-heading {
      letter-spacing: 0;
    }
    .marina-content {
      margin-top: 20px;
    }
    .card .storage-radio-group input:not(input[type="radio"]),
    .card .search .select-div-padding {
      color: #444444;
      opacity: 0.5;
    }

    .align-center {
      align-items: center;
    }
    .marina-storage-bg {
      .Mui-checked {
        color: #2c76d7;
      }
      .MuiFormControlLabel-label {
        font-size: 14px;
        line-height: 1;
      }
      .MuiFormControlLabel-root {
        margin-left: -6px;
      }

      .Mui-checked + .MuiFormControlLabel-label {
        color: #2c76d7;
      }
      .MuiRadio-root {
        color: #2c76d7;
        padding: 0 9px;
        top: -1px;
        &:hover {
          background-color: transparent;
        }
      }
      .card {
        width: 500px;
        height: 276px;
        position: absolute;
        padding: 30px;
        left: 5%;
        margin: 0;
        .search {
          margin-top: 15px;
          margin-bottom: 10px;
          .label {
            color: #444444;
            opacity: 0.6;
          }
        }
        a {
          text-transform: uppercase;
          color: #253e55;
          text-decoration: none;
        }
        .MuiSelect-select:focus {
          background-color: transparent;
        }
        .notify {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          width: 100%;
          align-items: center;
          .MuiButton-contained {
            background-color: #2276d6;
            color: #ffffff;
            text-transform: capitalize;
            padding: 10px 15px;
            line-height: 1;
          }
        }
        .MuiSelect-icon {
          top: unset;
          color: #444444;
          position: absolute;
          right: 5px;
        }
      }
      .MuiFormGroup-root {
        flex-direction: row;
        justify-content: left;
        height: 100%;
      }
    }
    .recommended-detail,
    .most-popular-detail {
      display: block;
      margin-bottom: 10px;
      color: #777777;
      font-size: 16px;
    }
    .place-name {
      color: #666666;
      font-weight: normal;
      margin-bottom: 5px;
      font-size: 20px;
    }
    .place-city {
      color: #273d54;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 18px;
    }
    .most-popular-place-name {
      position: relative;
      .place-city {
        color: #666666;
        font-size: 14px;
        margin-bottom: 0;
      }
      .marina-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        background: #f4f4f4;
        justify-content: center;
        &::after {
          width: 30px;
          height: 30px;
          content: "";

          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
        }
      }
      .marina-icon-recommended {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        background: #f4f4f4;
        justify-content: center;
        &::after {
          width: 30px;
          height: 30px;
          content: "";

          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
        }
      }
    }
    .rating-text {
      color: #999999;
      margin-top: 6px;
    }
    .share-icon {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      button {
        padding: 0;
      }

      .share-button,
      .heart-button {
        height: 40px;
        line-height: 1;
        width: 40px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        background: #ffffff;
        justify-content: center;
        border: 0;
        i {
          font-size: 14px;
        }
      }
    }
    .card-action .heart-button i {
      opacity: 0.9;
    }
    .more-marina-service {
      display: flex;
      flex-wrap: wrap;
    }
    .more-marina-content {
      border: 1px solid #f4f4f4;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 25px;
      margin-right: 1.52%;
      width: 15.4%;
      cursor: pointer;
      .boat-name {
        padding: 8px;
      }
      .market-type-image {
        border-radius: 0;
      }
    }
    .boat-name {
      text-transform: capitalize;
      font-size: 15px;
      padding: 8px 10px;
      color: #666666;
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .marina-auto {
      margin-right: 30px;
    }
    .justify-between {
      justify-content: space-between;
    }
    .more-marina-content:nth-child(6n) {
      margin-right: 0 !important;
    }
    .most-popular-main {
      display: flex;
      flex-wrap: wrap;
    }
    .most-popular-detail {
      display: block;
      color: #787878;
    }
    .most-popular-place-name {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    .most-popular-content {
      margin-bottom: 30px;
    }
    .view-marina {
      text-transform: uppercase;
      margin-top: 10px;
      display: block;
      color: #253e55;
      font-size: 16px;
      font-weight: 500;
    }
    .show-link {
      color: #253e55 !important;
      font-weight: bold;
    }
    .top-rated-info {
      .top-rated-detail {
        color: #767676;
        max-height: 45px;
        min-height: 45px;
        overflow: hidden;
      }
      .team-commit {
        margin-bottom: 10px;
        color: #f9613b;
      }
      .viewed {
        color: #666666;
        font-weight: 500;
        margin: 10px 0px;
      }
      .user-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 50px;
      }

      .user-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #767676;
        text-transform: capitalize;
        margin-right: 50px;
        svg,
        img {
          width: 40px;
          height: 40px;
          margin-right: 6px;
        }
      }
      .marina-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        background: #f4f4f4;
        justify-content: center;
        &::after {
          width: 30px;
          height: 30px;
          content: "";
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
        }
      }
    }
    .marina-video-name {
      margin-top: 20px;
      font-size: 20px;
    }
    .video-description {
      font-size: 16px;
      p {
        font-size: 16px;
      }
    }
    .marina-storage-card-position {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      left: 0;
    }
    .playVideo-icon {
      width: 48px !important;
    }
  }
  /*Service Card*/
  .service-card {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
    -webkit-box-shadow: 3px 3px 5px -3px #0000009e;
    border-radius: 12px !important;
    align-items: center;
    display: flex;
  }
  .service-card-text {
    padding-left: 25px;
    text-align: left;
  }
  .icon-test {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid;
  }
  .checked-icon {
    background-color: #2c76d7;
    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      background-image: radial-gradient(#fff, #fff 28%, transparent 32%);
    }
  }
}
.register-card-main {
  .register-card {
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding-left: 70px;
    justify-content: center;
    color: #fff;
  }
  .register-link-name {
    text-transform: uppercase;
  }
  .register-description {
    color: #fff;
    p {
      color: #fff;
    }
  }
}
.service-list-main,
.spaceBetween {
  .place-city {
    color: #273d54;
    font-weight: normal;
    text-transform: capitalize;
  }
  .most-popular-detail {
    display: block;
    color: #787878;
  }
  .rating-text {
    color: #666;
  }
  .recommended-detail {
    display: block;
    margin-bottom: 15px;
    color: #767676;
  }
}
.recommended-marina-div {
  .card-action {
    justify-content: space-between !important;
  }
}
body {
  .marina-storage-layout {
    .rating-clr {
      color: #f8bb03;
      .MuiSvgIcon-root {
        width: 20px;
        height: 20px;
      }
    }
    .card-action .share-icon .share-button i,
    .card-action .share-icon .heart-button i {
      filter: grayscale(100%);
    }
    .recommended-detail {
      margin-bottom: 15px;
    }
    .user-info {
      position: absolute !important;
      bottom: 0;
      width: 100%;
    }
    .top-rated-info {
      margin-bottom: 60px;
    }
    .recommended-marina-mb {
      margin-bottom: 20px;
    }
    .marina-content-ab {
      position: absolute;
      bottom: 0;
    }
    .most-popular-content {
      position: relative;
    }
    .most-popular-detail {
      margin-bottom: 35px;
      line-height: 1.2;
    }
    .view-marina {
      position: absolute;
      bottom: 0;
    }
    .most-show-all {
      margin-top: 1.6rem !important;
    }
    .top-rated-info .user-name svg {
      position: relative;
      left: -1px;
    }
  }
}
.top-rated-grid {
  .most-popular-content {
    width: calc(20% - 12.8px) !important;
    margin-right: 16px;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}
.show-all-top-rated-marina-div {
  .top-rated-detail {
    br {
      display: none;
    }
  }
}
.marina-notify:hover {
  color: #253e5594 !important;
}
