body {
  h6 {
    font-size: 15px;
  }
  .boat-card {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: unset !important;
    margin-bottom: 30px;
    .max-height {
      max-height: 170px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .left-card .boat-card-details {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .caption {
      font-size: 13px;
      color: #767676;
      text-transform: uppercase;
      font-weight: 500;
    }
    .boat-name {
      color: #484848;
      font-size: 18px;
      line-height: 24px;
      display: block;
    }
    .description {
      color: #767676;
      font-size: 13px;
      display: block;
    }
    .manufactured {
      color: #767676;
      font-size: 15px;
      display: block;
    }
    .rate {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .rating-count {
      position: relative;
      top: -3px;
      left: 20px;
    }
    .price {
      position: absolute;
      right: 0;
      bottom: 5px;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .boat-card-content {
    flex: 1 0 auto;
  }

  .boat-card-cover {
    width: 151px;
  }

  .container-boat-card {
    display: flex;
    flex: 1;
    border: 1px solid lightgray;
    margin-left: 0;
  }
  .img-tag {
    display: flex;
    flex: 0.3;
    background-size: contain;
    background: scroll center url("../../assets/images/login/login.jpg");
  }
  .content-boat {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px 12px;
  }
  .title-text {
    color: #484848;
  }

  .small-text {
    font-size: 0.75rem;
    color: #666666;
    cursor: pointer;
  }
  .rent-card-text {
    color: #666666;
  }
  .desc-height-width {
    max-height: 60px;
    min-height: 60px;
    overflow: hidden;
  }
  .bg-warning,
  .badge-warning {
    background: #ffc107 !important;
    cursor: pointer;
  }
  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 70%;
    font-weight: normal;
    border-radius: 20px;
    text-transform: uppercase;
  }
  .location-icon {
    color: rgba(8, 0, 0, 0.8);
    font-size: 1rem;
    margin-right: 0.7rem;
    cursor: pointer;
  }
  .location-icon-rent {
    color: rgba(8, 0, 0, 0.8);
    font-size: 1rem;
    margin-right: 0.7rem;
    cursor: pointer;
    color: #018abc;
    font-weight: 600;
  }
  .width-height-icon-clock {
    height: 17px !important;
    width: 18px !important;
  }
  .width-height-icon-user-measure {
    height: 15px !important;
    width: 22px !important;
  }
  .width-height-icon-bell {
    height: 16px;
    width: 16px;
  }
}

.show-name {
  flex: 1;
}
.mt-80 {
  margin-top: 80px;
}
.show-map {
  position: fixed;
  width: 50%;
  right: 0;
  top: 148px;
  height: calc(100vh - 147px);
  z-index: 999;

  div {
    padding: 0;
  }
  .card-style {
    margin: 0;
  }
}

.left-card {
  padding: 0 30px;
}

.show-name {
  flex: 1;
}

.mt-80 {
  margin-top: 80px;
}
.show-map {
  position: fixed;
  width: 50%;
  right: 0;
  top: 148px;
  height: calc(100vh - 147px);
  z-index: 999;

  div {
    padding: 0;
  }
  .card-style {
    margin: 0;
  }
}
.without-show-map {
  margin-top: 70px;
}
.left-card {
  padding: 0 30px;
}

.show-name {
  flex: 1;
}

.section-heading-show {
  padding: 5px 15px;
  justify-content: center;
  align-items: center;

  display: flex;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
  margin: auto;
  label {
    margin-bottom: 0;
  }
}
.mt-80 {
  margin-top: 80px;
}
.show-map {
  position: fixed;
  width: 50%;
  right: 0;
  top: 148px;
  height: calc(100vh - 147px);
  z-index: 999;

  div {
    padding: 0;
  }
  .card-style {
    margin: 0;
  }
}

.left-card {
  padding: 0 30px;
}
.boat-card-image-height {
  height: 140px;
  .card-action {
    top: 3px;
  }
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.bottom-0 {
  bottom: 0;
}
.boat-card-rating-count {
  color: #767676;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.show-map-switch {
  .MuiSwitch-colorPrimary.Mui-checked {
    color: #f44336;
  }
  .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
    background-color: #f44336;
  }
}

.show-marina-map-switch {
  .MuiSwitch-colorPrimary.Mui-checked {
    color: #2b76d5;
  }
}
.boat-show-text {
  font-size: 0.75rem;
  color: #787978;
  cursor: pointer;
}
.read-more-text {
  color: #2d368b;
}
.margin-bottom-boat-show {
  margin-bottom: 4px;
}
.boat-show-icon {
  color: #5a8ed9 !important;
  font-size: 14px !important;
}
.img-radius {
  border-radius: 8px;
}
.max-height-700 {
  max-height: 700px;
}
body {
  .google-marker-div {
    .MuiCardContent-root {
      padding-bottom: 0;
      .MuiGrid-container {
        margin: 0;
        .MuiGrid-item {
          padding: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
.section-grid {
  .mt-70 {
    margin-top: 70px;
  }
}
.section-heading-show {
  .MuiIconButton-root:hover,
  .MuiSwitch-colorPrimary.Mui-checked:hover {
    background-color: transparent;
  }
}
.left-card {
  .boat-title {
    font-weight: 500;
    color: #666666;
    text-transform: capitalize;
  }
  .boat-owner {
    color: #666;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
  }
  .rating-clr .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
  }
  .bottom-0 {
    bottom: 5px;
  }
  .boat-card-rating-count {
    margin-top: 5px;
  }
}
//
@media screen and (max-width: 1495px) {
  body {
    .section-heading-show {
      font-size: 18px;
    }
    .show-map-switch {
      .MuiSwitch-root {
        width: 50px;
        height: 34px;
        .MuiSwitch-thumb {
          width: 15px;
          height: 15px;
        }
        .MuiSwitch-switchBase.Mui-checked {
          transform: translateX(15px);
        }
      }
      .MuiSwitch-root + span {
        font-size: 18px;
        letter-spacing: 0;
        font-weight: 500;
      }
    }
    .boat-card-image-height {
      .card-action {
        top: 2px;
        .share-icon .share-button,
        .share-icon .heart-button {
          width: 30px;
          height: 30px;
          i {
            font-size: 10px;
          }
        }
      }
    }
    .new-build,
    .brand-new-tag {
      padding: 5px 8px;
      font-size: 10px;
      line-height: 13px;
      display: flex;
      align-items: center;
    }
    .is-show-map .marina-card-cation-with-map {
      padding: 5px 10px;
      .share-icon .share-button,
      .share-icon .heart-button {
        width: 30px;
        height: 30px;
        i {
          font-size: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .boat-card-image-height {
      .card-action {
        top: 2px;
        .share-icon .share-button,
        .share-icon .heart-button {
          width: 25px;
          height: 25px;
        }
      }
    }
    .is-show-map .new-build,
    .is-show-map .brand-new-tag {
      padding: 1px 8px;
      font-size: 8px;
      height: 16px;
      display: flex;
      align-items: center;
    }
    .is-show-map .rent-card-cation-with-map {
      padding: 5px 10px;
    }
    .is-show-map .marina-card-cation-with-map {
      padding: 5px 10px;
      .share-icon .share-button,
      .share-icon .heart-button {
        width: 25px;
        height: 25px;
      }
    }
  }
}
/* For rent*/
body {
  .is-show-map .rent-card-cation-with-map {
    justify-content: flex-end !important;
  }
}
/* For rent*/
body {
  .is-show-map .marina-card-cation-with-map {
    justify-content: flex-end !important;
    top: 0 !important;
  }
}
