body {
  .without-show-map {
    .directionRow {
      flex-direction: column;
    }
    .image-location {
      text-overflow: unset;
      white-space: unset;
    }
  }
  .mb-30 {
    margin-bottom: 30px;
  }

  .grid-image {
    height: 230px;
    img {
      height: 100%;
      width: 100%;
      border-radius: 4px;
    }
  }
  .grid-contain {
    .description {
      min-height: 38px;
    }
  }
  /* Rent Show all style*/
  .rent-show-all {
    display: flex;
    flex-direction: row;
  }
}
.card-boat-price {
  color: #484848;
}
.boat-status-ab {
  position: absolute;
  right: 0;
  top: 5px;
  background: #f8f9fa;
  padding: 5px 9px;
  font-size: 11px;
  border-radius: 5px 5px 5px 5px;
}
.count-boats-types {
  &::after {
    content: ")";
  }
  &::before {
    content: "(";
  }
}
body .grid-contain .directionRow-custom {
  flex-direction: row !important;
}
.boat-card-rent-with-map {
  .boat-card-details {
    padding: 5px 0 !important;
  }

  .fix-h-rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .new-build {
    background: #f8f9fa;
    padding: 7px 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
  }
  .rating-clr .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
  }
  .rating-count-rent {
    margin-top: 6px !important;
  }
  .type-name-rent {
    display: flex;
  }
  .type-list {
    display: flex;
    flex-wrap: wrap;
  }
  .rent-card-price-with-map {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .country-div-height {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.card-marin-with-map {
  .place-name {
    font-size: 16px;
    color: #666666;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .place-city {
    font-size: 14px;
    color: #273d54;
    font-weight: 500;
    text-transform: capitalize;
  }
  .recommended-detail {
    margin-bottom: 15px;
    display: flex;
    color: #777777;
    span {
      display: flex;
      flex-wrap: wrap;
      line-height: 1.2;
      br {
        display: none;
      }
    }
  }
  .rating-text {
    margin-top: 5px;
  }
  .marina-content-ab {
    position: absolute;
    bottom: 4px;
    right: 0;
  }
}
@media screen and (max-width: 1495px) {
  .boat-card-rent-with-map {
    .new-build {
      padding: 5px 8px;
      font-size: 10px;
    }
    .rating-clr .MuiSvgIcon-root {
      width: 18px;
      height: 18px;
    }
    .rating-count-rent {
      margin-top: 4px !important;
    }
    .boat-title,
    .boat-country {
      font-size: 12px;
    }
    .boat-price-rent {
      font-size: 14px;
    }
    i,
    .small-text,
    .pieces-text {
      font-size: 12px !important;
    }
    .piece-img {
      height: 12px !important;
      width: 12px !important;
    }
    .ft-type {
      position: absolute;
      bottom: 5px;
      left: 0;
    }
    .rent-trip-type {
      font-size: 8px;
      padding: 0 5px;
      height: 15px;
      font-weight: 500;
      margin: 5px 4px 3px 0;
    }
  }
  .card-marin-with-map {
    .rating-clr .MuiSvgIcon-root {
      width: 18px;
      height: 18px;
    }
    .place-name {
      font-size: 14px;
    }
    .place-city {
      font-size: 12px;
    }
    .recommended-detail {
      margin-bottom: 10px;
      margin-bottom: 8px;
      font-size: 12px;
    }
    .rating-text {
      margin-top: 3px;
    }
  }
}
@media screen and (max-width: 1380px) {
  .boat-card-rent-with-map {
    .new-build {
      padding: 4px 7px;
      font-size: 9px;
    }
    .rating-clr .MuiSvgIcon-root {
      width: 16px;
      height: 16px;
    }
    .rating-count-rent {
      margin-top: 3px !important;
    }
    .boat-title,
    .boat-country {
      font-size: 10px;
    }
    .boat-price-rent {
      font-size: 10px;
    }
    i,
    .small-text,
    .pieces-text {
      font-size: 9px !important;
    }
    .piece-img {
      height: 9px !important;
      width: 9px !important;
    }
    .boat-card-image-height {
      height: 110px;
      padding: 5px;
    }
  }
  .card-marin-with-map {
    .rating-clr .MuiSvgIcon-root {
      width: 16px;
      height: 16px;
    }
    .place-name {
      font-size: 12px;
    }
    .place-city {
      font-size: 10px;
    }
    .recommended-detail {
      margin-bottom: 8px;
      margin-bottom: 5px;
      font-size: 11px;
    }
    .rating-text {
      margin-top: 3px;
      font-size: 9px !important;
    }
  }
}
body{
  .rent-show-all-share
  {
    .card-action
    {
      justify-content: flex-end !important;
    }
  }
  }