.close-button-right {
    text-align: right;
    padding: 15px 15px 0px 15px;
    cursor: pointer
}

.bubble {
    position: relative;
    width: 440px;
    // height: 42px;
    padding: 3px;
    background: #FFFFFF;
    border-radius: 3px;
    border: #7F7F7F solid 2px;
    margin-top: 3%;
}

.bubble::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 14px 12px;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -12px;
    left: 21px;
}

.as_escrow_desc_div {
    width: 96%;
    padding-left: 5px;
    padding-right: 3px;
}

.questionText {
    color:#333;
    font-weight:normal;
    margin-bottom:0px
}

.table td, .table th {
    padding: 0.5rem;
    vertical-align: top;
}

.text-right-dark {
    color:#333;
    text-align:right;
    font-size:15px
}