.container10 {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%
}
.container1 {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6%
}

.mt-50{
    margin-top: 50px
}
.card {
    min-width:275;

  }

.mr-4 {
    margin-right: 4%
}
.Heading{
    text-align: center;
    margin-top: 3%

}