.container {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.mt-30 {
  margin-top: 30px;
}

.footer-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav .footer-nav-item {
  padding: 0;
  margin-bottom: 8px;
}

.footer-nav .footer-nav-item a.footer-link {
  color: #767676;
  text-decoration: none;
}

.sub-nav .footer-nav-item a.footer-link {
  color: #767676;
  opacity: 0.9;
}
.bg-primary-footer {
  background: #061e9c !important;
}

.bg-gray {
  background: rgba(171, 171, 171, 0.08);
}

.ptb-50 {
  padding-bottom: 50px;
  padding-top: 50px;
}

.text-center {
  text-align: center;
}

.ml-auto {
  margin-left: auto !important;
}

.social-network li a i {
  font-size: 23px;
  color: rgba(165, 203, 242, 0.8);
  text-decoration: none;
}

.social-network li a {
  color: rgba(72, 72, 72, 0.6);
  text-decoration: none;
}

.social-network {
  list-style: none;
  margin: 24px auto 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 38%;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px 0;
}

.list-inline-item span {
  text-decoration: none;
  color: rgba(165, 203, 242, 0.8);
  font-weight: 500;
  padding: 10px 11px;
  display: inline-block;
}

.footerContact-container {
  background-color: #061e9c;
  color: #fff;
  margin: 0 auto;
  outline: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  height: 100px;
}

.contact-title {
  position: relative;
}

.lines {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.inner {
  position: relative;
  padding: 0 16px;
  max-width: 1112px;
}

.contactFooter-bg {
  background: #fff;
}

.contactDetail-box {
  border: 1px solid #c5c5c5;
  padding: 16px;
}

.pb-40 {
  padding-bottom: 40px;
}

.contact-link {
  position: absolute;
  margin: 0;
  width: calc(100% - 36px);
  display: flex;
  justify-content: flex-end;
  h5 {
    color: #101e9c;
  }
}

.font-14 {
  font-size: 14px;
}

.contactDetail-style {
  overflow: auto;
  max-height: 80px;
  min-height: 60px;
}
.footer-site-link {
  .footer-link:hover {
    color: #767676;
  }
}
.border-help-section {
  border: 1px solid #e6e6e6;
}
.margin-help-section {
  margin: 0 20px 50px 0 !important;
}
.help-image-height {
  height: 92px;
}
.font-12{
  font-size: 12px;
}
.footer-text-effect:hover
{
text-decoration: underline;
color: #fff;
}
.footer-icon-effect:hover
{
  color: #fff;
}
body
{
@media (max-width: 1070px) {
  .footer-display-block {
    display: block !important
  }
    .footer-rights {
      width: 100% !important;
      max-width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 7px;
    }
    .footer-service {
      width: 100% !important;
      max-width: 100% !important;
      display: flex;
      justify-content: space-evenly !important;
      margin-bottom: 7px;
    }
    .footer-share {
      width: 50% !important;
      max-width: 100% !important;
      display: flex !important;
      justify-content: space-around !important;
      align-items: center;
      margin: auto;
    }
  
}
@media (max-width: 1240px) {
  .footer-display-block {
    display: block !important
  }
    .footer-rights {
      width: 100% !important;
      max-width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 7px;
    }
    .footer-service {
      width: 100% !important;
      max-width: 100% !important;
      display: flex;
      justify-content: space-evenly !important;
      margin-bottom: 7px;
    }
    .footer-share {
      width: 50% !important;
      max-width: 100% !important;
      display: flex !important;
      justify-content: space-around !important;
      align-items: center;
      margin: auto;
    }
  
}
.footer-bottom-middle-content
{
  max-width: 54%;
  flex: 0 0 54%;
}
.footer-bottom-content
{
  max-width: 23%;
    flex: 0 0 23%;
}
}
.bg-navy-blue
{
  background-color: #002097;
}
.logo-footer-section
{
  margin: 0 auto;
}
.footer-rights-section
{
  margin: 24px auto 0;
}
.footer-links-div
{
  width: 20%;
}
@media only screen and (max-width: 1280px) {
.footer-small-screen
{
width: 70%;
margin: auto;
}

.footer-small-screen-link-list
{
  li
  {
    span
    {
    font-weight: 400;
  }
}
}
.small-screen-footer-link-desc
{
  p
  {
    font-size: 10px;
  }
}
body{
.small-screen-footer-link-title
{
  padding-top: 10px;
    padding-bottom: 0px;
}
.small-screen-footer-nav-links
{
  margin-bottom: 2px !important;
}
}
.small-screen-footer-logo-div
{
  img
  {
    height: 20px;
  }
}
}

.footer-app-icon
{
  height: 45px;
  img{
    height: 100%;
    width: 85%;
  }
}
.footer-close-btn
{
  height: 14px;
}
@media screen and (max-width: 1495px) {
  .footer-app-icon
  {
    height: 40px;
    img{
      height: 100%;
      width: 85%;
    }
  }
}

@media screen and (max-width: 1380px) {
  .main-footer
  {
    .footer-small-screen-font
    {
      font-size: 11px;
    }
  }
  .footer-app-icon
  {
    height: 33px;
    img{
      height: 100%;
      width: 85%;
    }
  }
  .footer-small-screen-padding-bottom
  {
    padding-bottom: 0;
  }
  }