.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mr-2 {
  margin-right: 2px;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.accessories-amenities-icon {
  height: 25px;
}

@media (max-width: 1490px) {
  .accessories-amenities-icon {
    height: 17px !important;
  }
}

@media (max-width: 1390px) {
  .accessories-amenities-icon {
    height: 13px !important;
  }
}

.widget-media {
  .icon-effect {
    .icon:after {
      top: -5px;
      left: -5px;
      padding: 5px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0;
    }
  }
}

.widget-media {
  ul {
    & > li {
      display: inline;
      margin-right: 10px;
    }
  }
}

.lead {
  color: #484848 !important;
}

.h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.W-110 {
  width: 110px;
}

.radius-4 {
  border-radius: 4px;
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
}

.clr-fluid {
  padding: 0 36px;
}

.info-wrap {
  padding-left: 0;
}

.pl-0 {
  padding-left: 0;
}

.mt-3 {
  margin-top: 3px;
}

.m-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.mt-15 {
  margin-top: 15px;
}

.dis-flex-right {
  display: flex;
  float: right;
  margin-top: auto;
  margin-bottom: 0;
}

.b-0 {
  border: 0;
}

.mb-4 {
  margin-bottom: 4px;
}

.mt-50 {
  margin-top: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.jumbotron {
  margin-bottom: 0.5rem;
}

.bg-info-light {
  background: rgba(165, 203, 242, 0.2) !important;
}

.btn {
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
}

.btn-xs {
  padding: 3px 8px;
  font-size: 0.75rem;
}

.btn-group-lg > .btn,
.btn-md {
  padding: 0.4rem 0.9rem;
  font-size: 0.8125rem;
  font-weight: 500;
}

.pl-0 {
  padding-left: 0;
}

.btn-link-primary {
  color: #0648a8 !important;
}

.btn-link-info {
  color: #5a8ed9;
}

.display-flex {
  display: flex;
  flex-direction: column;
}

.btn {
  &.btn-primary {
    background: #061e9c;
    border-color: #061e9c;
    color: #fff !important;
    text-transform: capitalize;
  }
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background: #061e9c;
  border-color: #061e9c;
  -webkit-box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(116, 96, 238, 0.2);
  box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(116, 96, 238, 0.2);
}


.info-icon {
  padding: 5px;
  font-size: 12px;
  width: 16px;
  height: 16px;
  line-height: 0px;
}

.shadow-sm {
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1) !important;
}

.tab-pane {
  .search-bar {
    .btn-link-info {
      color: rgba(255, 255, 255, 0.8);
      margin-top: 2px;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

.ml-2 {
  margin-left: 2px;
}

.author-info {
  h5 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    color: #484848;
  }
}

figcaption {
  &.info-wrap {
    .title {
      color: #484848;
      margin-bottom: 0.3em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 13px;
      margin-top: 0;
    }
  }
}

.card-product {
  .info {
    .title {
      .destination-view {
        p {
          color: #fff !important;
          font-weight: 400;
        }
      }
    }
  }
}

.price-wrap {
  margin-bottom: 0.2em;
  display: flow-root;
}

figcaption {
  &.info-wrap {
    padding: 10px 0;
  }
}

figcaption {
  &.info-wrap {
    .title {
      color: #484848;
      margin-bottom: 0.3em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 13px;
    }
  }
}

span {
  &.price-new {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
}
body {
  .boat-shipper-estimate-button {
    background-color: #0f1e9c !important;
    font-weight: 400 !important;
    font-size: 11px !important;
    display: flex !important;
    align-items: center !important;
    height: 100%;
    &:focus {
      box-shadow: unset;
    }
  }
  .boat-shipper-estimate-button-for-inner {
    // background-color: #0f1e9c !important;
    font-weight: 400 !important;
    font-size: 11px !important;
    display: flex !important;
    align-items: center !important;
    color: #0f1e9c;
    border: 1px solid #0f1e9c;
    height: 100%;
    &:focus {
      box-shadow: unset;
    }
  }
}

.light {
  color: #8893b9;
}

.font-normal {
  font-weight: normal;
}

.f-400 {
  font-weight: 400 !important;
}

.f-500 {
  font-weight: 500 !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.mt-2 {
  margin-top: 2px;
}

.card-body {
  padding: 1.5rem 1rem;
}

.form-control1 {
  width: 100%;
  background: white;
}

.text-right {
  text-align: right;
}

.title-sm {
  text-transform: uppercase !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

.width-100 {
  width: 100%;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

div#map-canvas {
  border-radius: 4px;
  height: 250px !important;
  min-height: 250px !important;
}

// /*/video/*/
.video-container {
  height: 250px !important;
}

.carousel-item {
  .video-container {
    overflow: hidden;
  }
}

.mt-0 {
  margin-top: 0;
}

.title-sm,
.sub-title-sm {
  color: #666666;
  font-size: 15px;
}

media {
  &.media-lg {
    img {
      width: 65px;
      margin-left: auto;
    }
  }
}

.media-body {
  .name-md,
  .no-md {
    font-size: 13px;
    background: #ebebeb;
    border: solid 1px #ebebeb;
    padding: 10px;
    border-radius: 3px;
  }
}

.author-info {
  font-size: 13px;
}

.list-group {
  padding-left: 0;
  list-style: none;
}

.side-icon {
  font-size: 36px;
  float: left;
  line-height: 17px;
}

.boat-facilities {
  ul {
    padding: 0;
    margin: 0;
  }
}

.boat-facilities {
  ul {
    li {
      vertical-align: middle;
      text-align: center;
      list-style: none;
      display: inline-block;
      color: #333;
      margin-right: 10px;
      font-size: 0.8125rem;
      max-width: 116px;
      width: 100%;
      border: solid 1px rgba(90, 142, 217, 0.2);
      background: rgba(165, 203, 242, 0.1);
      border-radius: 4px;
      margin-bottom: 13px;
      padding: 12px 5px 5px;
      min-height: 90px;
      height: 90px;

      &:hover {
        background: #fff;
      }

      &:last-child {
        margin-right: 0;
      }

      i {
        font-size: 1.875rem;
        display: block;
        margin-bottom: 10px;
        color: #484848;
      }
    }
  }
}

.hcard {
  .details {
    .info-wrap {
      padding: 0px;

      p {
        font-size: 13px;
        margin-bottom: 5px;
      }
    }
  }
}

.hcard {
  .details {
    .info-wrap {
      padding: 0px;
    }
  }
}

.mb-2 {
  margin-bottom: 2px;
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.p-3 {
  padding: 1rem !important;
}

.list-group-item {
  padding-bottom: 1.25rem;
  margin-bottom: -1px;
}

.hcard-group {
  .list-group-item {
    figure {
      img {
        border-radius: 4px 0 0 4px;
        min-height: 100%;
        height: 244px;
        min-height: 244px;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  }
}
.list-item-color {
  color: #787878;
}
.card-product {
  span {
    &.rate {
      &.full {
        line-height: 0.9rem;
      }
    }
  }
}

.mt-5 {
  margin-top: 5px;
}

.widget-media {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.widget-media {
  ul {
    & > li {
      display: inline;
      margin-right: 10px;
    }
  }
}

.widget-media {
  .icon {
    position: relative;
    z-index: 1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 0;
    font-size: 0.9rem;
    color: #adb5bd;
    line-height: 16px;
    text-align: center;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }
}

.widget-media {
  .icon-effect {
    .icon {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
}

.widget-media {
  .icon-effect-1a {
    .icon {
      &:hover {
        background-color: #0056b3;
        color: #ffffff;

        &:after {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
}

.pr-0 {
  padding-right: 0;
}

.p-0 {
  padding: 0;
}

.text-center {
  text-align: center !important;
}

.form-control {
  border: 1px solid #dddfe1;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 0.3125rem 0.6875rem;
  height: auto;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}

.btn-rounded {
  border-radius: 50px;
}

.add-card {
  img {
    max-width: 300px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08) !important;
  }
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.boat-img-inner:hover {
  // transform: scale(1.1);
}

.boat-img-inner {
  transition: all 0.5s ease;
}

.h-100 {
  height: 100px;
}

.hidden {
  overflow: hidden;
}

.border-radius-padding-img {
  border-radius: 10px;
  padding: 4px;
}

.mapCanvas-height {
  height: 280px;
}

body {
  .iconColor-boatInner {
    color: #f46139;
  }
  p {
    font-size: 14px;
  }
  ul {
    li {
      font-size: 14px;
    }
  }
}

body {
  // .boatInner-btnBg {
  //   // background-color: #f46139 !important;
  //   background-color: #f46139;
  //   color: #fff !important;
  //   border-color: #f46139 !important;
  // }
  // .boatInner-btnOrange {
  //   background-color: #f46139 !important;
  // }
}

.sticky-on-top {
  position: sticky;
  top: 0;
  z-index: 1111;
  background: white;
  .buy-inner {
    .buy-right-button {
      flex-direction: column;
      justify-content: flex-end !important;
      align-items: flex-end !important;
      text-align: right;
    }
    .buy-right-button figcaption a {
      // font-size: 12px !important;
      font-weight: 600;
    }
  }
  .boat-ad-id {
    color: #dd3b26 !important;
    margin-bottom: 5px !important;
    display: block;
    font-size: 14px;
  }
  .inner-review {
    margin-top: 5px;
    .header-small-font {
      color: #999999;
      line-height: 1;
      font-size: 14px;
      margin-left: 15px;
      margin-top: 5px;
    }
  }
  .rating-avg {
    font-size: 14px;
    line-height: 1;
    color: #666666;
    font-weight: 500 !important;
    margin-left: 5px;
    margin-top: 5px;
  }
}
.boat-inner-sticky {
  z-index: 101;
}
.text-black {
  color: #000;
}

.boatInner-boatLayout {
  .boat-img-box {
    height: 25vh;
  }
}

.boat-inner-layout-carousel {
  .boat-box {
    padding-top: 0.5rem;
  }
}

.boat-inner-boat-info {
  h4 {
    font-size: 17px;
  }
  .boat-inner-boat-info-desc {
    span {
      br {
        display: none;
      }
    }
  }
}
.boat-inner-related-video {
  width: 100%;
  height: 250px;
}

.h-50 {
  height: 50%;
}

.img-width {
  max-height: 600px;
}
.w-85vw {
  width: 85vw !important;
}
.br-10 {
  border-radius: 10px;
}
body {
  h4 {
    font-size: 1.25rem;
  }
  .inner-header-social-icon-section:hover {
    background-color: inherit !important;
    color: inherit !important;
  }
}

.title-description {
  font-size: 15px;
  font-weight: 400;
  color: #333333;
}
.shipping-block {
  // border: 1px solid #f1f1f1;
  padding: 35px 35px !important;
}
.boat-facilities-inner {
  ul {
    li {
      vertical-align: middle;
      text-align: center;
      list-style: none;
      display: inline-block;
      color: #333;
      margin-right: 10px;
      font-size: 1rem;
      max-width: 175px;
      width: 100%;
      border: solid 1px rgba(90, 142, 217, 0.2);
      background: rgba(165, 203, 242, 0.1);
      border-radius: 4px;
      margin-bottom: 13px;
      padding: 12px 5px 5px;
      height: 50px;
      border-radius: 30px;
      color: #787878;
    }
  }
}
.boat-inner-facilities-div {
  ul {
    li {
      padding: 8px 33px;
      display: flex;
      justify-content: center;
      width: auto;
      max-width: fit-content;
      list-style: none;
      margin-right: 10px;
      border: solid 1px #7878782e;
      border-radius: 25px;
      margin-bottom: 13px;
      color: #787878;
    }
  }
}

.add-feedback-text {
  color: #dd3b26 !important;
  text-transform: uppercase;
}

.cost-shippers-text {
  color: #061e9c !important;
  text-decoration: underline;
}

.border-none {
  border: none;
}

.icon-color {
  color: #767676;
}
.inner-page-info-div {
  p {
    margin-bottom: 1.5rem;
  }
}

.inner-agent-info-icon {
  border: 1px solid #f1f1f1;
  padding: 8px;
  border-radius: 20px;
}
.inner-title-icons {
  height: 20px;
}
.boat-inner-map-div {
  .map-div-height {
    height: 180px;
    width: 100%;
    margin: 0;
    .map-class {
      height: 100%;
      width: 100%;
    }
  }
}

.boatInner-banner-section > div {
  height: 100%;
  .boatInner-banner-image-section {
    height: 100%;
    border-radius: 6px 6px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
  }
}
.boatInner-banner-section {
  height: 100%;
}
.estimate-cost-user-icon {
  height: 14px;
}
.shipper-logo-img {
  height: 150px;
  width: 150px;
  margin: auto;
  img {
    border-radius: 50%;
  }
}
.shipper-div {
  border: 1px solid #0000001c;
  padding: 20px;
  border-radius: 3px;
  height: 100%;
}
.inner-author-name {
  font-size: 18px !important;
}

// @media (max-width: 1380px) {
//   .boat-inner-map-div {
//     .map-div-height {
//       height: 250px;
//     }
//   }
//   .boat-inner-first-img {
//     height: 380px;
//   }
// }

// responsive end

body {
  .rating-section {
    .boatInner-btnBg:hover {
      box-shadow: 0 14px 26px -12px #00009930, 0 4px 23px 0 #00009930, 0 8px 10px -5px #00009930 !important;
    }
  }
}
.boat-inner-header-button {
  background-color: #000099 !important;
  color: #fff !important;
  font-size: 16px;

  &:hover {
    box-shadow: 0 14px 26px -12px #00009900, 0 4px 23px 0 #00009900, 0 8px 10px -5px #0000994d;
  }
}
.inner-main-title {
  font-size: 25px;
}
.boat-inner-btn-link-info {
  height: 32px;
  padding: 0 14px !important;
}
.boat-inner-btn-link-info {
  height: 32px !important;
}
.user-profile-online-section {
  position: relative;
  .user-online {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid #fff;
    border-radius: 12px;
    background: #fff;
    bottom: 20px;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    .online-div-user {
      height: 14px;
      width: 14px;
      border-radius: 12px;
      background: #24cc3c;
    }
  }
}
body {
  .boat-inner-map-div {
    .map-main-div-grid {
      padding: 0;
      .gm-fullscreen-control,
      .gmnoprint,
      .gm-style-cc {
        display: none;
      }
      iframe + div {
        display: none;
      }
    }
  }
  .shipper-column {
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 20%;
  }
  .boat-shipper-name {
    min-width: 42px;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("./../../assets/images/fonts/icomoon.eot?rrplqq");
  src: url("./../../assets/images/fonts/icomoon.eot?rrplqq#iefix") format("embedded-opentype"),
    url("./../../assets/images/fonts/icomoon.ttf?rrplqq") format("truetype"),
    url("./../../assets/images/fonts/icomoon.woff?rrplqq") format("woff"),
    url("./../../assets/images/fonts/icomoon.svg?rrplqq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adam-airplane:before {
  content: "\ecb0";
}

.adam-beach-ball:before {
  content: "\ecb1";
}

.adam-fishing-boat:before {
  content: "\ecb2";
}

.adam-smart-house:before {
  content: "\ecb3";
}

.adam-coffee-machine:before {
  content: "\ecb4";
}

.adam-fish:before {
  content: "\ecb5";
}

.adam-sunbed:before {
  content: "\ecb6";
}

.adam-tractor:before {
  content: "\ecb7";
}

.adam-airplane-1:before {
  content: "\ecb8";
}

.adam-beer:before {
  content: "\ecb9";
}

.adam-safe:before {
  content: "\ecba";
}

.adam-sea:before {
  content: "\ecbb";
}

.adam-airplane-2:before {
  content: "\ecbc";
}

.adam-bikini:before {
  content: "\ecbd";
}

.adam-garage:before {
  content: "\ecbe";
}

.adam-steering-wheel:before {
  content: "\ecbf";
}

.adam-boat:before {
  content: "\ecc0";
}

.adam-camper:before {
  content: "\ecc1";
}

.adam-door:before {
  content: "\ecc2";
}

.adam-pier:before {
  content: "\ecc3";
}

.adam-caravan:before {
  content: "\ecc4";
}

.adam-eye:before {
  content: "\ecc5";
}

.adam-fishing:before {
  content: "\ecc6";
}

.adam-vehicle:before {
  content: "\ecc7";
}

.adam-cocktail:before {
  content: "\ecc8";
}

.adam-fishing-hook:before {
  content: "\ecc9";
}

.adam-jalousie:before {
  content: "\ecca";
}

.adam-vehicle-1:before {
  content: "\eccb";
}

.adam-bus:before {
  content: "\eccc";
}

.adam-cocktail-1:before {
  content: "\eccd";
}

.adam-fishing-net:before {
  content: "\ecce";
}

.adam-garden:before {
  content: "\eccf";
}

.adam-bus-1:before {
  content: "\ecd0";
}

.adam-jellyfish:before {
  content: "\ecd1";
}

.adam-knife:before {
  content: "\ecd2";
}

.adam-teapot:before {
  content: "\ecd3";
}

.adam-car:before {
  content: "\ecd4";
}

.adam-fishing-net-1:before {
  content: "\ecd5";
}

.adam-flamingo:before {
  content: "\ecd6";
}

.adam-plug:before {
  content: "\ecd7";
}

.adam-car-1:before {
  content: "\ecd8";
}

.adam-fisher:before {
  content: "\ecd9";
}

.adam-sunglasses:before {
  content: "\ecda";
}

.adam-underfloor-heating:before {
  content: "\ecdb";
}

.adam-car-2:before {
  content: "\ecdc";
}

.adam-cloud-storage:before {
  content: "\ecdd";
}

.adam-fishing-1:before {
  content: "\ecde";
}

.adam-sunhat:before {
  content: "\ecdf";
}

.adam-car-3:before {
  content: "\ece0";
}

.adam-ice-cream:before {
  content: "\ece1";
}

.adam-pond:before {
  content: "\ece2";
}

.adam-smoke-detector:before {
  content: "\ece3";
}

.adam-cargo:before {
  content: "\ece4";
}

.adam-fishing-2:before {
  content: "\ece5";
}

.adam-ice-pop:before {
  content: "\ece6";
}

.adam-server:before {
  content: "\ece7";
}

.adam-bait:before {
  content: "\ece8";
}

.adam-crane:before {
  content: "\ece9";
}

.adam-fire:before {
  content: "\ecea";
}

.adam-lifesaver:before {
  content: "\eceb";
}

.adam-alarm:before {
  content: "\ecec";
}

.adam-cruise:before {
  content: "\eced";
}

.adam-fishing-rod:before {
  content: "\ecee";
}

.adam-palm-tree:before {
  content: "\ecef";
}

.adam-delivery:before {
  content: "\ecf0";
}

.adam-fishing-boat-1:before {
  content: "\ecf1";
}

.adam-passport:before {
  content: "\ecf2";
}

.adam-washing-machine:before {
  content: "\ecf3";
}

.adam-airplane-3:before {
  content: "\ecf4";
}

.adam-cctv:before {
  content: "\ecf5";
}

.adam-fish-1:before {
  content: "\ecf6";
}

.adam-rudder:before {
  content: "\ecf7";
}

.adam-audio-system:before {
  content: "\ecf8";
}

.adam-goggles:before {
  content: "\ecf9";
}

.adam-sand-castle:before {
  content: "\ecfa";
}

.adam-tractor-1:before {
  content: "\ecfb";
}

.adam-fishes:before {
  content: "\ecfc";
}

.adam-flip-flops:before {
  content: "\ecfd";
}

.adam-goods-car:before {
  content: "\ecfe";
}

.adam-solar-panel:before {
  content: "\ecff";
}

.adam-gate:before {
  content: "\ed00";
}

.adam-goods:before {
  content: "\ed01";
}

.adam-scale:before {
  content: "\ed02";
}

.adam-swimming-trunks:before {
  content: "\ed03";
}

.adam-fridge:before {
  content: "\ed04";
}

.adam-goods-1:before {
  content: "\ed05";
}

.adam-lighthouse:before {
  content: "\ed06";
}

.adam-shower:before {
  content: "\ed07";
}

.adam-goods-2:before {
  content: "\ed08";
}

.adam-measure:before {
  content: "\ed09";
}

.adam-smartwatch:before {
  content: "\ed0a";
}

.adam-starfish:before {
  content: "\ed0b";
}

.adam-door-knob:before {
  content: "\ed0c";
}

.adam-fisherman:before {
  content: "\ed0d";
}

.adam-sun:before {
  content: "\ed0e";
}

.adam-vehicle-2:before {
  content: "\ed0f";
}

.adam-bait-1:before {
  content: "\ed10";
}

.adam-jeep:before {
  content: "\ed11";
}

.adam-sunscreen:before {
  content: "\ed12";
}

.adam-toilet:before {
  content: "\ed13";
}

.adam-lantern:before {
  content: "\ed14";
}

.adam-sunscreen-1:before {
  content: "\ed15";
}

.adam-tablet:before {
  content: "\ed16";
}

.adam-train:before {
  content: "\ed17";
}

.adam-fish-2:before {
  content: "\ed18";
}

.adam-lorry:before {
  content: "\ed19";
}

.adam-retinal-scan:before {
  content: "\ed1a";
}

.adam-sunset:before {
  content: "\ed1b";
}

.adam-bonfire:before {
  content: "\ed1c";
}

.adam-iron:before {
  content: "\ed1d";
}

.adam-lorry-1:before {
  content: "\ed1e";
}

.adam-surfboard:before {
  content: "\ed1f";
}

.adam-alarm-clock:before {
  content: "\ed20";
}

.adam-ambulance:before {
  content: "\ed21";
}

.adam-cooking-pot:before {
  content: "\ed22";
}

.adam-swim:before {
  content: "\ed23";
}

.adam-metro:before {
  content: "\ed24";
}

.adam-microwave-3:before {
  content: "\ed25";
}

.adam-snorkel:before {
  content: "\ed26";
}

.adam-worm:before {
  content: "\ed27";
}

.adam-fishing-3:before {
  content: "\ed28";
}

.adam-metro-1:before {
  content: "\ed29";
}

.adam-swimming-suit:before {
  content: "\ed2a";
}

.adam-tv:before {
  content: "\ed2b";
}

.adam-airplane-4:before {
  content: "\ed2c";
}

.adam-fish-3:before {
  content: "\ed2d";
}

.adam-thermometer:before {
  content: "\ed2e";
}

.adam-washing-machine-1:before {
  content: "\ed2f";
}

.adam-airplane-5:before {
  content: "\ed30";
}

.adam-hook:before {
  content: "\ed31";
}

.adam-remote-control:before {
  content: "\ed32";
}

.adam-tourist:before {
  content: "\ed33";
}

.adam-bus-2:before {
  content: "\ed34";
}

.adam-processor:before {
  content: "\ed35";
}

.adam-toolbox:before {
  content: "\ed36";
}

.adam-towel:before {
  content: "\ed37";
}

.adam-bus-3:before {
  content: "\ed38";
}

.adam-fireplace:before {
  content: "\ed39";
}

.adam-fisherman-1:before {
  content: "\ed3a";
}

.adam-watermelon:before {
  content: "\ed3b";
}

.adam-appliances:before {
  content: "\ed3c";
}

.adam-fish-4:before {
  content: "\ed3d";
}

.adam-rickshaw:before {
  content: "\ed3e";
}

.adam-wetsuit:before {
  content: "\ed3f";
}

.adam-fish-5:before {
  content: "\ed40";
}

.adam-school-bus:before {
  content: "\ed41";
}

.adam-vacuum-cleaner:before {
  content: "\ed42";
}

.adam-fishing-4:before {
  content: "\ed43";
}

.adam-humidifier:before {
  content: "\ed44";
}

.adam-scooter:before {
  content: "\ed45";
}

.adam-ship:before {
  content: "\ed46";
}

.adam-steel:before {
  content: "\ed47";
}

.adam-wifi:before {
  content: "\ed48";
}

.adam-fishing-reel:before {
  content: "\ed49";
}

.adam-shipping:before {
  content: "\ed4a";
}

.adam-video-door-phone:before {
  content: "\ed4b";
}

.adam-bait-2:before {
  content: "\ed4c";
}

.adam-heater:before {
  content: "\ed4d";
}

.adam-steam:before {
  content: "\ed4e";
}

.adam-fishing-reel-1:before {
  content: "\ed4f";
}

.adam-suv-car:before {
  content: "\ed50";
}

.adam-wind-farm:before {
  content: "\ed51";
}

.adam-location:before {
  content: "\ed52";
}

.adam-multicooker:before {
  content: "\ed53";
}

.adam-suv-car-1:before {
  content: "\ed54";
}

.adam-fishing-boots:before {
  content: "\ed55";
}

.adam-oven:before {
  content: "\ed56";
}

.adam-taxi:before {
  content: "\ed57";
}

.adam-bait-3:before {
  content: "\ed58";
}

.adam-shield:before {
  content: "\ed59";
}

.adam-tractor-2:before {
  content: "\ed5a";
}

.adam-dishwasher:before {
  content: "\ed5b";
}

.adam-folding-chair:before {
  content: "\ed5c";
}

.adam-tractor-3:before {
  content: "\ed5d";
}

.adam-bell:before {
  content: "\ed5e";
}

.adam-fisher-1:before {
  content: "\ed5f";
}

.adam-train-1:before {
  content: "\ed60";
}

.adam-fishing-net-2:before {
  content: "\ed61";
}

.adam-smart-home:before {
  content: "\ed62";
}

.adam-tram:before {
  content: "\ed63";
}

.adam-air-conditioning:before {
  content: "\ed64";
}

.adam-fishing-hook-1:before {
  content: "\ed65";
}

.adam-truck:before {
  content: "\ed66";
}

.adam-airplane-6:before {
  content: "\ed67";
}

.adam-lifesaver1:before {
  content: "\ed68";
}

.adam-lightbulb:before {
  content: "\ed69";
}

.adam-truck-1:before {
  content: "\ed6a";
}

.adam-truck-2:before {
  content: "\ed6b";
}

.adam-truck-3:before {
  content: "\ed6c";
}

.adam-tuk-tuk:before {
  content: "\ed6d";
}

.adam-yatch:before {
  content: "\ed6e";
}

.adam-ammonite:before {
  content: "\ed6f";
}

.adam-articles-11 .path1:before {
  content: "\ed70";
  color: rgb(255, 233, 204);
}

.adam-articles-11 .path2:before {
  content: "\ed71";
  margin-left: -1em;
  color: rgb(147, 149, 152);
}

.adam-articles-11 .path3:before {
  content: "\ed72";
  margin-left: -1em;
  color: rgb(255, 226, 189);
}
.adam-articles-11 .path4:before {
  content: "\ed73";
  margin-left: -1em;
  color: rgb(172, 171, 177);
}

.adam-articles-11 .path5:before {
  content: "\ed74";
  margin-left: -1em;
  color: rgb(198, 197, 202);
}

.adam-articles-11 .path6:before {
  content: "\ed75";
  margin-left: -1em;
  color: rgb(255, 215, 51);
}

.adam-articles-11 .path7:before {
  content: "\ed76";
  margin-left: -1em;
  color: rgb(255, 169, 147);
}

.adam-articles-11 .path8:before {
  content: "\ed77";
  margin-left: -1em;
  color: rgb(241, 242, 242);
}

.adam-articles-11 .path9:before {
  content: "\ed78";
  margin-left: -1em;
  color: rgb(241, 242, 242);
}

.adam-articles-11 .path10:before {
  content: "\ed79";
  margin-left: -1em;
  color: rgb(255, 121, 86);
}

.adam-articles-11 .path11:before {
  content: "\ed7a";
  margin-left: -1em;
  color: rgb(255, 121, 86);
}

.adam-articles-11 .path12:before {
  content: "\ed7b";
  margin-left: -1em;
  color: rgb(255, 121, 86);
}

.adam-articles-11 .path13:before {
  content: "\ed7c";
  margin-left: -1em;
  color: rgb(255, 121, 86);
}

.adam-articles-11 .path14:before {
  content: "\ed7d";
  margin-left: -1em;
  color: rgb(255, 121, 86);
}

.adam-articles-12 .path1:before {
  content: "\ed7e";
  color: rgb(255, 255, 255);
}

.adam-articles-12 .path2:before {
  content: "\ed7f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path3:before {
  content: "\ed80";
  margin-left: -1em;
  color: rgb(155, 190, 255);
}

.adam-articles-12 .path4:before {
  content: "\ed81";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path5:before {
  content: "\ed82";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path6:before {
  content: "\ed83";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path7:before {
  content: "\ed84";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path8:before {
  content: "\ed85";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path9:before {
  content: "\ed86";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path10:before {
  content: "\ed87";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path11:before {
  content: "\ed88";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path12:before {
  content: "\ed89";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path13:before {
  content: "\ed8a";
  margin-left: -1em;
  color: rgb(245, 200, 110);
}

.adam-articles-12 .path14:before {
  content: "\ed8b";
  margin-left: -1em;
  color: rgb(245, 200, 110);
}

.adam-articles-12 .path15:before {
  content: "\ed8c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path16:before {
  content: "\ed8d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path17:before {
  content: "\ed8e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-articles-12 .path18:before {
  content: "\ed8f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.adam-big-buoy:before {
  content: "\ed90";
}

.adam-big-clam:before {
  content: "\ed91";
}

.adam-big-coral:before {
  content: "\ed92";
}

.adam-big-dolphin:before {
  content: "\ed93";
}

.adam-big-jellyfish:before {
  content: "\ed94";
}

.adam-big-lighthouse:before {
  content: "\ed95";
}

.adam-big-paddle:before {
  content: "\ed96";
}

.adam-big-squid:before {
  content: "\ed97";
}

.adam-big-torch:before {
  content: "\ed98";
}

.adam-big-whale:before {
  content: "\ed99";
}

.adam-boat-motor:before {
  content: "\ed9a";
}

.adam-buoy-floating:before {
  content: "\ed9b";
}

.adam-diving-suit:before {
  content: "\ed9c";
}

.adam-download:before {
  content: "\ed9d";
  color: #3083c9;
}

.adam-fishing-net1:before {
  content: "\ed9e";
}

.adam-fishing-net-11:before {
  content: "\ed9f";
}

.adam-fishing-rod1:before {
  content: "\eda0";
}

.adam-inclined-harpoon:before {
  content: "\eda1";
}

.adam-jetski-facing-right:before {
  content: "\eda2";
}

.adam-life-buoy-ring:before {
  content: "\eda3";
}

.adam-life-jacket:before {
  content: "\eda4";
}

.adam-little-submarine:before {
  content: "\eda5";
}

.adam-lobster:before {
  content: "\eda6";
}

.adam-maritime-signals:before {
  content: "\eda7";
}

.adam-media-1 .path1:before {
  content: "\eda8";
  color: none;
}

.adam-media-1 .path2:before {
  content: "\eda9";
  margin-left: -1em;
  color: none;
}

.adam-media-1 .path3:before {
  content: "\edaa";
  margin-left: -1em;
  color: rgb(239, 206, 74);
}

.adam-media-1 .path4:before {
  content: "\edab";
  margin-left: -1em;
  color: rgb(54, 62, 75);
}

.adam-media-1 .path5:before {
  content: "\edac";
  margin-left: -1em;
  color: rgb(239, 206, 74);
}

.adam-media-1 .path6:before {
  content: "\edad";
  margin-left: -1em;
  color: none;
}

.adam-message-in-a-bottle:before {
  content: "\edae";
}

.adam-outfall:before {
  content: "\edaf";
}

.adam-pirate-hat:before {
  content: "\edb0";
}

.adam-rating-1 .path1:before {
  content: "\edb1";
  color: rgb(255, 205, 41);
}

.adam-rating-1 .path2:before {
  content: "\edb2";
  margin-left: -1em;
  color: rgb(255, 174, 44);
}

.adam-rating-1 .path3:before {
  content: "\edb3";
  margin-left: -1em;
  color: rgb(255, 174, 44);
}

.adam-rating-1 .path4:before {
  content: "\edb4";
  margin-left: -1em;
  color: rgb(252, 147, 34);
}

.adam-rating-1 .path5:before {
  content: "\edb5";
  margin-left: -1em;
  color: rgb(252, 147, 34);
}

.adam-rating-1 .path6:before {
  content: "\edb6";
  margin-left: -1em;
  color: rgb(85, 172, 213);
}

.adam-rating-1 .path7:before {
  content: "\edb7";
  margin-left: -1em;
  color: rgb(234, 70, 71);
}

.adam-rating-1 .path8:before {
  content: "\edb8";
  margin-left: -1em;
  color: rgb(255, 205, 41);
}

.adam-rating-1 .path9:before {
  content: "\edb9";
  margin-left: -1em;
  color: rgb(109, 204, 109);
}

.adam-rating-1 .path10:before {
  content: "\edba";
  margin-left: -1em;
  color: rgb(255, 205, 41);
}

.adam-rating-1 .path11:before {
  content: "\edbb";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-1 .path12:before {
  content: "\edbc";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-1 .path13:before {
  content: "\edbd";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-1 .path14:before {
  content: "\edbe";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-1 .path15:before {
  content: "\edbf";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-1 .path16:before {
  content: "\edc0";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-1 .path17:before {
  content: "\edc1";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-1 .path18:before {
  content: "\edc2";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-1 .path19:before {
  content: "\edc3";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-1 .path20:before {
  content: "\edc4";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-1 .path21:before {
  content: "\edc5";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-1 .path22:before {
  content: "\edc6";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path1:before {
  content: "\edc7";
  color: rgb(255, 229, 164);
}

.adam-rating-2 .path2:before {
  content: "\edc8";
  margin-left: -1em;
  color: rgb(255, 205, 41);
}

.adam-rating-2 .path3:before {
  content: "\edc9";
  margin-left: -1em;
  color: rgb(234, 70, 71);
}

.adam-rating-2 .path4:before {
  content: "\edca";
  margin-left: -1em;
  color: rgb(252, 172, 182);
}

.adam-rating-2 .path5:before {
  content: "\edcb";
  margin-left: -1em;
  color: rgb(255, 205, 41);
}

.adam-rating-2 .path6:before {
  content: "\edcc";
  margin-left: -1em;
  color: rgb(85, 172, 213);
}

.adam-rating-2 .path7:before {
  content: "\edcd";
  margin-left: -1em;
  color: rgb(109, 204, 109);
}

.adam-rating-2 .path8:before {
  content: "\edce";
  margin-left: -1em;
  color: rgb(234, 70, 71);
}

.adam-rating-2 .path9:before {
  content: "\edcf";
  margin-left: -1em;
  color: rgb(109, 204, 109);
}

.adam-rating-2 .path10:before {
  content: "\edd0";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path11:before {
  content: "\edd1";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path12:before {
  content: "\edd2";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path13:before {
  content: "\edd3";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path14:before {
  content: "\edd4";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path15:before {
  content: "\edd5";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path16:before {
  content: "\edd6";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path17:before {
  content: "\edd7";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path18:before {
  content: "\edd8";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path19:before {
  content: "\edd9";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path20:before {
  content: "\edda";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path21:before {
  content: "\eddb";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path22:before {
  content: "\eddc";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rating-2 .path23:before {
  content: "\eddd";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.adam-rubber-boot:before {
  content: "\edde";
}

.adam-sea-shell:before {
  content: "\eddf";
}

.adam-seaweed:before {
  content: "\ede0";
}

.adam-share-user:before {
  content: "\ede1";
}

.adam-share-user-1:before {
  content: "\ede2";
}

.adam-share-user-2 .path1:before {
  content: "\ede3";
  color: rgb(255, 255, 255);
}

.adam-share-user-2 .path2:before {
  content: "\ede4";
  margin-left: -1em;
  color: rgb(139, 189, 255);
}

.adam-share-user-2 .path3:before {
  content: "\ede5";
  margin-left: -1em;
  color: rgb(139, 189, 255);
}

.adam-share-user-2 .path4:before {
  content: "\ede6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.adam-share-user-2 .path5:before {
  content: "\ede7";
  margin-left: -1em;
  color: rgb(139, 189, 255);
}

.adam-share-user-2 .path6:before {
  content: "\ede8";
  margin-left: -1em;
  color: rgb(139, 189, 255);
}

.adam-share-user-2 .path7:before {
  content: "\ede9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.adam-share-user-2 .path8:before {
  content: "\edea";
  margin-left: -1em;
  color: rgb(139, 189, 255);
}

.adam-share-user-2 .path9:before {
  content: "\edeb";
  margin-left: -1em;
  color: rgb(139, 189, 255);
}

.adam-share-user-2 .path10:before {
  content: "\edec";
  margin-left: -1em;
  color: rgb(59, 59, 244);
}

.adam-share-user-2 .path11:before {
  content: "\eded";
  margin-left: -1em;
  color: rgb(59, 59, 244);
}

.adam-share-user-3:before {
  content: "\edee";
}

.adam-shark-facing-right:before {
  content: "\edef";
}

.adam-ship-radar:before {
  content: "\edf0";
}

.adam-ship-window:before {
  content: "\edf1";
}

.adam-small-island:before {
  content: "\edf2";
}

.adam-submarine-periscope:before {
  content: "\edf3";
}

.adam-sunset-on-the-water:before {
  content: "\edf4";
}

.adam-swordfish-facing-right:before {
  content: "\edf5";
}

.adam-team-group:before {
  content: "\edf6";
}

.adam-treasure-chest:before {
  content: "\edf7";
}

.adam-treasure-map:before {
  content: "\edf8";
}

.adam-watchtower:before {
  content: "\edf9";
}

.adam-alcohol:before {
  content: "\ebde";
}

.adam-bouquet:before {
  content: "\ebdf";
}

.adam-suitcase:before {
  content: "\ebe0";
}

.adam-teamwork-3:before {
  content: "\ebe1";
}

.adam-balloons:before {
  content: "\ebe2";
}

.adam-passport1:before {
  content: "\ebe3";
}

.adam-photos:before {
  content: "\ebe4";
}

.adam-teamwork-2:before {
  content: "\ebe5";
}

.adam-bbq-grill:before {
  content: "\ebe6";
}

.adam-beer-bottle:before {
  content: "\ebe7";
}

.adam-compass:before {
  content: "\ebe8";
}

.adam-support:before {
  content: "\ebe9";
}

.adam-beer1:before {
  content: "\ebea";
}

.adam-calendar:before {
  content: "\ebeb";
}

.adam-cupcake:before {
  content: "\ebec";
}

.adam-management:before {
  content: "\ebed";
}

.adam-cake:before {
  content: "\ebee";
}

.adam-exchange:before {
  content: "\ebef";
}

.adam-ice-cream1:before {
  content: "\ebf0";
}

.adam-sign:before {
  content: "\ebf1";
}

.adam-brainstorming:before {
  content: "\ebf2";
}

.adam-candy:before {
  content: "\ebf3";
}

.adam-sparkler:before {
  content: "\ebf4";
}

.adam-stamp:before {
  content: "\ebf5";
}

.adam-big-ben:before {
  content: "\ebf6";
}

.adam-champagne:before {
  content: "\ebf7";
}

.adam-gears:before {
  content: "\ebf8";
}

.adam-sushi:before {
  content: "\ebf9";
}

.adam-crown:before {
  content: "\ebfa";
}

.adam-networking:before {
  content: "\ebfb";
}

.adam-photo:before {
  content: "\ebfc";
}

.adam-present:before {
  content: "\ebfd";
}

.adam-confetti:before {
  content: "\ebfe";
}

.adam-diamond:before {
  content: "\ebff";
}

.adam-flag:before {
  content: "\ec00";
}

.adam-transfer:before {
  content: "\ec01";
}

.adam-disco-ball:before {
  content: "\ec02";
}

.adam-invitation:before {
  content: "\ec03";
}

.adam-plane-ticket:before {
  content: "\ec04";
}

.adam-team-3:before {
  content: "\ec05";
}

.adam-beer-1:before {
  content: "\ec06";
}

.adam-door-hanger:before {
  content: "\ec07";
}

.adam-drama:before {
  content: "\ec08";
}

.adam-presentation:before {
  content: "\ec09";
}

.adam-event:before {
  content: "\ec0a";
}

.adam-instant-camera:before {
  content: "\ec0b";
}

.adam-sandwich:before {
  content: "\ec0c";
}

.adam-strategy:before {
  content: "\ec0d";
}

.adam-airplane1:before {
  content: "\ec0e";
}

.adam-cup:before {
  content: "\ec0f";
}

.adam-fireworks:before {
  content: "\ec10";
}

.adam-profits:before {
  content: "\ec11";
}

.adam-bags:before {
  content: "\ec12";
}

.adam-firework:before {
  content: "\ec13";
}

.adam-mask:before {
  content: "\ec14";
}

.adam-settings:before {
  content: "\ec15";
}

.adam-discussion:before {
  content: "\ec16";
}

.adam-firework-1:before {
  content: "\ec17";
}

.adam-mountain:before {
  content: "\ec18";
}

.adam-moustache:before {
  content: "\ec19";
}

.adam-files:before {
  content: "\ec1a";
}

.adam-garland:before {
  content: "\ec1b";
}

.adam-graduation-hat:before {
  content: "\ec1c";
}

.adam-tourist1:before {
  content: "\ec1d";
}

.adam-cocktail1:before {
  content: "\ec1e";
}

.adam-credit-cards:before {
  content: "\ec1f";
}

.adam-gift:before {
  content: "\ec20";
}

.adam-tasks-2:before {
  content: "\ec21";
}

.adam-camp:before {
  content: "\ec22";
}

.adam-list:before {
  content: "\ec23";
  font-size: 35px;
}

.adam-party-hat:before {
  content: "\ec24";
}

.adam-tasks-1:before {
  content: "\ec25";
}

.adam-bed:before {
  content: "\ec26";
}

.adam-carnival-mask:before {
  content: "\ec27";
}

.adam-community:before {
  content: "\ec28";
}

.adam-wedding-ring:before {
  content: "\ec29";
}

.adam-curriculum:before {
  content: "\ec2a";
}

.adam-gps:before {
  content: "\ec2b";
}

.adam-karaoke:before {
  content: "\ec2c";
}

.adam-sound-table:before {
  content: "\ec2d";
}

.adam-journal:before {
  content: "\ec2e";
}

.adam-magic-show:before {
  content: "\ec2f";
}

.adam-martini:before {
  content: "\ec30";
}

.adam-puzzle:before {
  content: "\ec31";
}

.adam-music-box:before {
  content: "\ec32";
}

.adam-party-hat1:before {
  content: "\ec33";
}

.adam-steering-wheel1:before {
  content: "\ec34";
}

.adam-team-2:before {
  content: "\ec35";
}

.adam-balloons1:before {
  content: "\ec36";
}

.adam-gopro:before {
  content: "\ec37";
}

.adam-party:before {
  content: "\ec38";
}

.adam-teamwork-1:before {
  content: "\ec39";
}

.adam-communication:before {
  content: "\ec3a";
}

.adam-piata:before {
  content: "\ec3b";
}

.adam-tape:before {
  content: "\ec3c";
}

.adam-wallet:before {
  content: "\ec3d";
}

.adam-beer11:before {
  content: "\ec3e";
}

.adam-postcard:before {
  content: "\ec3f";
}

.adam-ribbon:before {
  content: "\ec40";
}

.adam-tasks:before {
  content: "\ec41";
}

.adam-clock:before {
  content: "\ec42";
}

.adam-conference:before {
  content: "\ec43";
}

.adam-hotel:before {
  content: "\ec44";
}

.adam-team-1:before {
  content: "\ec45";
}

.adam-man:before {
  content: "\ec46";
}

.adam-plate:before {
  content: "\ec47";
}

.adam-pool:before {
  content: "\ec48";
}

.adam-vinyl:before {
  content: "\ec49";
}

.adam-drinks:before {
  content: "\ec4a";
}

.adam-tourist-1:before {
  content: "\ec4b";
}

.adam-vinyl-1:before {
  content: "\ec4c";
}

.adam-woman:before {
  content: "\ec4d";
}

.adam-garlands:before {
  content: "\ec4e";
}

.adam-snow-globe:before {
  content: "\ec4f";
}

.adam-teamwork:before {
  content: "\ec50";
}

.adam-water-glass:before {
  content: "\ec51";
}

.adam-bag:before {
  content: "\ec52";
}

.adam-cake1:before {
  content: "\ec53";
}

.adam-team:before {
  content: "\ec54";
}

.adam-wine:before {
  content: "\ec55";
}

.adam-cable-car-cabin:before {
  content: "\ec56";
}

.adam-video-camera:before {
  content: "\ec57";
}

.adam-bus1:before {
  content: "\ec58";
}

.adam-camera:before {
  content: "\ec59";
}

.adam-arc-de-triomphe:before {
  content: "\ec5a";
}

.adam-man1:before {
  content: "\ec5b";
}

.adam-map:before {
  content: "\ec5c";
}

.adam-woman1:before {
  content: "\ec5d";
}

.adam-barbecue1:before {
  content: "\ec5e";
}

.adam-barrier:before {
  content: "\ec5f";
}

.adam-microphone:before {
  content: "\ec60";
}

.adam-travel-trailer:before {
  content: "\ec61";
}

.adam-drink:before {
  content: "\ec62";
}

.adam-waiter:before {
  content: "\ec63";
}

.adam-lantern1:before {
  content: "\ec64";
}

.adam-tent:before {
  content: "\ec65";
}

.adam-bow-tie:before {
  content: "\ec66";
}

.adam-hot-air-balloon:before {
  content: "\ec67";
}

.adam-ship1:before {
  content: "\ec68";
}

.adam-table:before {
  content: "\ec69";
}

.adam-hotel-bell:before {
  content: "\ec6a";
}

.adam-speaker:before {
  content: "\ec6b";
}

.adam-bbq:before {
  content: "\ec6c";
}

.adam-world:before {
  content: "\ec6d";
}

.adam-pass:before {
  content: "\ec6e";
}

.adam-train1:before {
  content: "\ec6f";
}

.adam-restaurant-menu:before {
  content: "\ec70";
}

.adam-search:before {
  content: "\ec71";
}

.adam-champagne-1:before {
  content: "\ec72";
}

.adam-money:before {
  content: "\ec73";
}

.adam-lifebuoy:before {
  content: "\ec74";
}

.adam-ticket:before {
  content: "\ec75";
}

.adam-security:before {
  content: "\ec76";
}

.adam-store:before {
  content: "\ec77";
}

.adam-shaker:before {
  content: "\ec78";
}

.adam-vest-buoy:before {
  content: "\ec79";
}

.adam-calendar1:before {
  content: "\ec7a";
}

.adam-food:before {
  content: "\ec7b";
}

.adam-champagne1:before {
  content: "\ec7c";
}

.adam-lighthouse1:before {
  content: "\ec7d";
}

.adam-airplane11:before {
  content: "\ec7e";
}

.adam-alarm-clock1:before {
  content: "\ec7f";
}

.adam-backpack:before {
  content: "\ec80";
}

.adam-beach:before {
  content: "\ec81";
}

.adam-bed1:before {
  content: "\ec82";
}

.adam-bus11:before {
  content: "\ec83";
}

.adam-chat:before {
  content: "\ec84";
}

.adam-clothes:before {
  content: "\ec85";
}

.adam-compass1:before {
  content: "\ec86";
}

.adam-cutlery:before {
  content: "\ec87";
}

.adam-eiffel-tower:before {
  content: "\ec88";
}

.adam-envelope:before {
  content: "\ec89";
}

.adam-forest:before {
  content: "\ec8a";
}

.adam-headphones:before {
  content: "\ec8b";
}

.adam-highway:before {
  content: "\ec8c";
}

.adam-hot-air-balloon1:before {
  content: "\ec8d";
}

.adam-hotel1:before {
  content: "\ec8e";
}

.adam-jeep1:before {
  content: "\ec8f";
}

.adam-key:before {
  content: "\ec90";
}

.adam-laptop:before {
  content: "\ec91";
}

.adam-map1:before {
  content: "\ec92";
}

.adam-money1:before {
  content: "\ec93";
}

.adam-mountain1:before {
  content: "\ec94";
}

.adam-museum:before {
  content: "\ec95";
}

.adam-musical-note:before {
  content: "\ec96";
}

.adam-passport11:before {
  content: "\ec97";
}

.adam-pharmacy:before {
  content: "\ec98";
}

.adam-photo-camera:before {
  content: "\ec99";
}

.adam-picture:before {
  content: "\ec9a";
}

.adam-postcard1:before {
  content: "\ec9b";
}

.adam-pyramid:before {
  content: "\ec9c";
}

.adam-rain:before {
  content: "\ec9d";
}

.adam-restaurant:before {
  content: "\ec9e";
}

.adam-ship11:before {
  content: "\ec9f";
}

.adam-smartphone:before {
  content: "\eca0";
}

.adam-snowflake:before {
  content: "\eca1";
}

.adam-socket:before {
  content: "\eca2";
}

.adam-souvenir:before {
  content: "\eca3";
}

.adam-statue-of-liberty:before {
  content: "\eca4";
}

.adam-suitcase1:before {
  content: "\eca5";
}

.adam-sun1:before {
  content: "\eca6";
}

.adam-sunglasses1:before {
  content: "\eca7";
}

.adam-taxi1:before {
  content: "\eca8";
}

.adam-telephone:before {
  content: "\eca9";
}

.adam-ticket1:before {
  content: "\ecaa";
}

.adam-toilet1:before {
  content: "\ecab";
}

.adam-toothbrush:before {
  content: "\ecac";
}

.adam-train11:before {
  content: "\ecad";
}

.adam-video-player:before {
  content: "\ecae";
}

.adam-worldwide:before {
  content: "\ecaf";
}

.adam-heart-1:before {
  content: "\ebdc";
}

.adam-heartfill-1:before {
  content: "\ebdd";
}

.adam-chat1:before {
  content: "\ebd8";
}

.adam-chat-2:before {
  content: "\ebd9";
}

.adam-chat-3:before {
  content: "\ebda";
}

.adam-chat-4:before {
  content: "\ebdb";
}

.adam-curlers:before {
  content: "\e900";
}

.adam-luggage:before {
  content: "\e901";
}

.adam-battery:before {
  content: "\e902";
}

.adam-battery-1:before {
  content: "\e903";
}

.adam-battery-2:before {
  content: "\e904";
}

.adam-battery-3:before {
  content: "\e905";
}

.adam-battery-4:before {
  content: "\e906";
}

.adam-battery-5:before {
  content: "\e907";
}

.adam-calculator:before {
  content: "\e908";
}

.adam-calculator-1:before {
  content: "\e909";
}

.adam-camcorder:before {
  content: "\e90a";
}

.adam-cctv1:before {
  content: "\e90b";
}

.adam-clapperboard:before {
  content: "\e90c";
}

.adam-compact-disc:before {
  content: "\e90d";
}

.adam-computer:before {
  content: "\e90e";
}

.adam-computer-1:before {
  content: "\e90f";
}

.adam-ereader:before {
  content: "\e910";
}

.adam-film:before {
  content: "\e911";
}

.adam-film-1:before {
  content: "\e912";
}

.adam-gamepad:before {
  content: "\e913";
}

.adam-headphones1:before {
  content: "\e914";
}

.adam-keyboard:before {
  content: "\e915";
}

.adam-laptop1:before {
  content: "\e916";
}

.adam-megaphone:before {
  content: "\e917";
}

.adam-microchip:before {
  content: "\e918";
}

.adam-microphone1:before {
  content: "\e919";
}

.adam-modem:before {
  content: "\e91a";
}

.adam-mouse:before {
  content: "\e91b";
}

.adam-music-player:before {
  content: "\e91c";
}

.adam-pendrive:before {
  content: "\e91d";
}

.adam-photo-camera1:before {
  content: "\e91e";
}

.adam-picture1:before {
  content: "\e91f";
}

.adam-printer:before {
  content: "\e920";
}

.adam-projector:before {
  content: "\e921";
}

.adam-radio:before {
  content: "\e922";
}

.adam-smartphone1:before {
  content: "\e923";
}

.adam-speaker1:before {
  content: "\e924";
}

.adam-tablet1:before {
  content: "\e925";
}

.adam-television:before {
  content: "\e926";
}

.adam-video-camera1:before {
  content: "\e927";
}

.adam-webcam:before {
  content: "\e928";
}

.adam-wifi1:before {
  content: "\e929";
}

.adam-breakfast:before {
  content: "\e92a";
}

.adam-woman-3:before {
  content: "\e92b";
}

.adam-air-conditioner:before {
  content: "\e92c";
}

.adam-woman-2:before {
  content: "\e92d";
}

.adam-fridge1:before {
  content: "\e92e";
}

.adam-woman-1:before {
  content: "\e92f";
}

.adam-hair-spray-1:before {
  content: "\e930";
}

.adam-tea:before {
  content: "\e931";
}

.adam-apron:before {
  content: "\e932";
}

.adam-dumbbell:before {
  content: "\e933";
}

.adam-swimming-pool:before {
  content: "\e934";
}

.adam-woman2:before {
  content: "\e935";
}

.adam-heater1:before {
  content: "\e936";
}

.adam-shaving:before {
  content: "\e937";
}

.adam-cctv11:before {
  content: "\e938";
}

.adam-man2:before {
  content: "\e939";
}

.adam-newspaper:before {
  content: "\e93a";
}

.adam-shop:before {
  content: "\e93b";
}

.adam-moustache-1:before {
  content: "\e93c";
}

.adam-no-smoking:before {
  content: "\e93d";
}

.adam-cocktail11:before {
  content: "\e93e";
}

.adam-moustache1:before {
  content: "\e93f";
}

.adam-nail-polish:before {
  content: "\e940";
}

.adam-safety-box:before {
  content: "\e941";
}

.adam-dye-1:before {
  content: "\e942";
}

.adam-ring-bell:before {
  content: "\e943";
}

.adam-door-hanger1:before {
  content: "\e944";
}

.adam-dye:before {
  content: "\e945";
}

.adam-sink:before {
  content: "\e946";
}

.adam-machine:before {
  content: "\e947";
}

.adam-sunbed1:before {
  content: "\e948";
}

.adam-towel1:before {
  content: "\e949";
}

.adam-faucet:before {
  content: "\e94a";
}

.adam-iron1:before {
  content: "\e94b";
}

.adam-mirror-1:before {
  content: "\e94c";
}

.adam-television1:before {
  content: "\e94d";
}

.adam-cologne:before {
  content: "\e94e";
}

.adam-telephone1:before {
  content: "\e94f";
}

.adam-flip-flops1:before {
  content: "\e950";
}

.adam-hipster:before {
  content: "\e951";
}

.adam-clock1:before {
  content: "\e952";
}

.adam-gel-2:before {
  content: "\e953";
}

.adam-gel-1:before {
  content: "\e954";
}

.adam-hair-dryer:before {
  content: "\e955";
}

.adam-gel:before {
  content: "\e956";
}

.adam-towel11:before {
  content: "\e957";
}

.adam-pillow:before {
  content: "\e958";
}

.adam-shaver-2:before {
  content: "\e959";
}

.adam-bed2:before {
  content: "\e95a";
}

.adam-shaver-1:before {
  content: "\e95b";
}

.adam-mirror:before {
  content: "\e95c";
}

.adam-shaver:before {
  content: "\e95d";
}

.adam-razor:before {
  content: "\e95e";
}

.adam-vacuum-cleaner1:before {
  content: "\e95f";
}

.adam-hairdresser-chair:before {
  content: "\e960";
}

.adam-wifi11:before {
  content: "\e961";
}

.adam-barber-shop:before {
  content: "\e962";
}

.adam-bathtub:before {
  content: "\e963";
}

.adam-elevator:before {
  content: "\e964";
}

.adam-eyeshadow:before {
  content: "\e965";
}

.adam-armchair:before {
  content: "\e966";
}

.adam-lipstick-1:before {
  content: "\e967";
}

.adam-dinner:before {
  content: "\e968";
}

.adam-makeup:before {
  content: "\e969";
}

.adam-camera1:before {
  content: "\e96a";
}

.adam-mascara:before {
  content: "\e96b";
}

.adam-eight-ball:before {
  content: "\e96c";
}

.adam-lipstick:before {
  content: "\e96d";
}

.adam-parking:before {
  content: "\e96e";
}

.adam-perfume:before {
  content: "\e96f";
}

.adam-shampoo:before {
  content: "\e970";
}

.adam-sink1:before {
  content: "\e971";
}

.adam-five-stars:before {
  content: "\e972";
}

.adam-hair-spray:before {
  content: "\e973";
}

.adam-scissors:before {
  content: "\e974";
}

.adam-three-stars:before {
  content: "\e975";
}

.adam-key-card:before {
  content: "\e976";
}

.adam-mirror1:before {
  content: "\e977";
}

.adam-hand-mirror:before {
  content: "\e978";
}

.adam-lamp:before {
  content: "\e979";
}

.adam-hair-brush:before {
  content: "\e97a";
}

.adam-menu:before {
  content: "\e97b";
}

.adam-comb-2:before {
  content: "\e97c";
}

.adam-room-service:before {
  content: "\e97d";
}

.adam-clock-1:before {
  content: "\e97e";
}

.adam-comb-1:before {
  content: "\e97f";
}

.adam-comb:before {
  content: "\e980";
}

.adam-door1:before {
  content: "\e981";
}

.adam-hair-curler:before {
  content: "\e982";
}

.adam-toothbrush1:before {
  content: "\e983";
}

.adam-calendar2:before {
  content: "\e984";
}

.adam-hair-straightener:before {
  content: "\e985";
}

.adam-door-handle:before {
  content: "\e986";
}

.adam-hair-dryer-2:before {
  content: "\e987";
}

.adam-hair-dryer-1:before {
  content: "\e988";
}

.adam-power-socket:before {
  content: "\e989";
}

.adam-bellboy:before {
  content: "\e98a";
}

.adam-hair-dryer1:before {
  content: "\e98b";
}

.adam-acces:before {
  content: "\e98c";
}

.adam-add:before {
  content: "\e98d";
}

.adam-address:before {
  content: "\e98e";
}

.adam-adds:before {
  content: "\e98f";
  font-size: 35px;
}

.adam-air-conditioner1:before {
  content: "\e990";
}

.adam-air-conditioning1:before {
  content: "\e991";
}

.adam-air-tank:before {
  content: "\e992";
}

.adam-alarm1:before {
  content: "\e993";
}

.adam-ament:before {
  content: "\e994";
}

.adam-anchor-filled:before {
  content: "\e995";
}

.adam-apron1:before {
  content: "\e996";
}

.adam-archive:before {
  content: "\e997";
}

.adam-archive-1:before {
  content: "\e998";
}

.adam-archive-2:before {
  content: "\e999";
}

.adam-archive-3:before {
  content: "\e99a";
}

.adam-attachment:before {
  content: "\e99b";
}

.adam-auction:before {
  content: "\e99c";
  font-size: 35px;
}

.adam-badge:before {
  content: "\e99d";
}

.adam-bank:before {
  content: "\e99e";
}

.adam-bank-1:before {
  content: "\e99f";
}

.adam-bank-building:before {
  content: "\e9a0";
}

.adam-bank-building-1:before {
  content: "\e9a1";
}

.adam-barbecue2:before {
  content: "\e9a2";
}

.adam-bbq-grill-1:before {
  content: "\e9a3";
}

.adam-basketball:before {
  content: "\e9a4";
}

.adam-bathtub1:before {
  content: "\e9a5";
}

.adam-bath-tub:before {
  content: "\e9a6";
}

.adam-battery1:before {
  content: "\e9a7";
}

.adam-bed11:before {
  content: "\e9a8";
}

.adam-berth:before {
  content: "\e9a9";
}

.adam-big-anchor:before {
  content: "\e9aa";
}

.adam-big-barrel:before {
  content: "\e9ab";
}

.adam-big-bell:before {
  content: "\e9ac";
}

.adam-big-buoy1:before {
  content: "\e9ad";
}

.adam-big-crate:before {
  content: "\e9ae";
}

.adam-big-shell:before {
  content: "\e9af";
}

.adam-big-starfish:before {
  content: "\e9b0";
}

.adam-bill:before {
  content: "\e9b1";
}

.adam-bills:before {
  content: "\e9b2";
}

.adam-binocular:before {
  content: "\e9b3";
}

.adam-binoculars:before {
  content: "\e9b4";
}

.adam-binoculars-1:before {
  content: "\e9b5";
}

.adam-blender:before {
  content: "\e9b6";
}

.adam-blender-5:before {
  content: "\e9b7";
}

.adam-blender-one:before {
  content: "\e9b8";
}

.adam-blender-three:before {
  content: "\e9b9";
}

.adam-blender-two:before {
  content: "\e9ba";
}

.adam-blogspot:before {
  content: "\e9bb";
}

.adam-blogspot-fill:before {
  content: "\e9bc";
}

.adam-blogspot-nofill:before {
  content: "\e9bd";
}

.adam-blogspot-outline:before {
  content: "\e9be";
}

.adam-bluetooth:before {
  content: "\e9bf";
}

.adam-bluetooth-1:before {
  content: "\e9c0";
}

.adam-boat2:before {
  content: "\e9c1";
  font-size: 30px;
}

.adam-boat1:before {
  content: "\e9c1";
}

.adam-boat-berth:before {
  content: "\e9c2";
}

.adam-boatshow:before {
  content: "\e9c3";
  font-size: 35px;
}

.adam-boat-steering-wheel:before {
  content: "\e9c4";
}

.adam-boat-swing:before {
  content: "\e9c5";
}

.adam-boat-telescope:before {
  content: "\e9c6";
}

.adam-boiler-3:before {
  content: "\e9c7";
}

.adam-boiling:before {
  content: "\e9c8";
}

.adam-bookmark:before {
  content: "\e9c9";
}

.adam-bookmark-2:before {
  content: "\e9ca";
}

.adam-book-open:before {
  content: "\e9cb";
}

.adam-bowboat:before {
  content: "\e9cc";
}

.adam-box:before {
  content: "\e9cd";
}

.adam-box-1:before {
  content: "\e9ce";
}

.adam-box-2:before {
  content: "\e9cf";
}

.adam-box-3:before {
  content: "\e9d0";
}

.adam-box-4:before {
  content: "\e9d1";
}

.adam-box-5:before {
  content: "\e9d2";
}

.adam-briefcase:before {
  content: "\e9d3";
}

.adam-briefcase-1:before {
  content: "\e9d4";
}

.adam-broken-link:before {
  content: "\e9d5";
}

.adam-broker:before {
  content: "\e9d6";
}

.adam-buy:before {
  content: "\e9d7";
  font-size: 35px;
}

.adam-cake2:before {
  content: "\e9d8";
}

.adam-calendar11:before {
  content: "\e9d9";
}

.adam-calendar-1:before {
  content: "\e9da";
}

.adam-calendar-2:before {
  content: "\e9db";
}

.adam-calendar-3:before {
  content: "\e9dc";
}

.adam-canoe:before {
  content: "\e9dd";
}

.adam-captain-hat:before {
  content: "\e9de";
}

.adam-cash:before {
  content: "\e9df";
}

.adam-chair:before {
  content: "\e9e0";
}

.adam-charter:before {
  content: "\e9e1";
}

.adam-chat11:before {
  content: "\e9e2";
}

.adam-checked:before {
  content: "\e9e3";
}

.adam-checked-1:before {
  content: "\e9e4";
}

.adam-cheers:before {
  content: "\e9e5";
}

.adam-chef-hat:before {
  content: "\e9e6";
}

.adam-classic-ship:before {
  content: "\e9e7";
}

.adam-clock11:before {
  content: "\e9e8";
}

.adam-clock-11:before {
  content: "\e9e9";
}

.adam-clock-2:before {
  content: "\e9ea";
}

.adam-close:before {
  content: "\e9eb";
}

.adam-close-round:before {
  content: "\e9ec";
}

.adam-cloud:before {
  content: "\e9ed";
}

.adam-speed-log:before {
  content: "\e9ee";
}

.adam-speed-log-1:before {
  content: "\e9ef";
}

.adam-speed-log-2:before {
  content: "\e9f0";
}

.adam-speed-log-3:before {
  content: "\e9f1";
}

.adam-speed-log-4:before {
  content: "\e9f2";
}

.adam-cogwheels:before {
  content: "\e9f3";
}

.adam-coin:before {
  content: "\e9f4";
}

.adam-coins:before {
  content: "\e9f5";
}

.adam-command:before {
  content: "\e9f6";
}

.adam-compass2:before {
  content: "\e9f7";
}

.adam-compass-inclined:before {
  content: "\e9f8";
}

.adam-compass-symbol:before {
  content: "\e9f9";
}

.adam-contact:before {
  content: "\e9fa";
}

.adam-contact-lead:before {
  content: "\e9fb";
}

.adam-controls:before {
  content: "\e9fc";
}

.adam-controls-1:before {
  content: "\e9fd";
}

.adam-cooking:before {
  content: "\e9fe";
}

.adam-country:before {
  content: "\e9ff";
}

.adam-country-1:before {
  content: "\ea00";
}

.adam-creditcard:before {
  content: "\ea01";
}

.adam-credit-card:before {
  content: "\ea02";
}

.adam-creditcard-1:before {
  content: "\ea03";
}

.adam-cruise-ship:before {
  content: "\ea04";
}

.adam-cuddyboat:before {
  content: "\ea05";
}

.adam-customer-reviews:before {
  content: "\ea06";
}

.adam-cutlery1:before {
  content: "\ea07";
}

.adam-database:before {
  content: "\ea08";
}

.adam-database-1:before {
  content: "\ea09";
}

.adam-delivery1:before {
  content: "\ea0a";
}

.adam-diamond1:before {
  content: "\ea0b";
}

.adam-dimension:before {
  content: "\ea0c";
}

.adam-dimension-1:before {
  content: "\ea0d";
}

.adam-dislike:before {
  content: "\ea0e";
}

.adam-diving-helmet:before {
  content: "\ea0f";
}

.adam-document:before {
  content: "\ea10";
}

.adam-dollar-symbol:before {
  content: "\ea11";
}

.adam-dollar-symbol-1:before {
  content: "\ea12";
}

.adam-dollar-symbol-2:before {
  content: "\ea13";
}

.adam-dollar-symbol-3:before {
  content: "\ea14";
}

.adam-dollar-symbol-4:before {
  content: "\ea15";
}

.adam-dollar-symbol-5:before {
  content: "\ea16";
}

.adam-double-air-tank:before {
  content: "\ea17";
}

.adam-double-bait:before {
  content: "\ea18";
}

.adam-double-paddle:before {
  content: "\ea19";
}

.adam-download1:before {
  content: "\ea1a";
}

.adam-edit:before {
  content: "\ea1b";
}

.adam-edit-1:before {
  content: "\ea1c";
}

.adam-edit-2:before {
  content: "\ea1d";
}

.adam-electrical:before {
  content: "\ea1e";
}

.adam-envelope-close:before {
  content: "\ea1f";
}

.adam-envlope:before {
  content: "\ea20";
}

.adam-exit:before {
  content: "\ea21";
}

.adam-exit-1:before {
  content: "\ea22";
}

.adam-eye-filled:before {
  content: "\ea23";
}

.adam-eyeglasses:before {
  content: "\ea24";
}

.adam-facebook:before {
  content: "\ea25";
}

.adam-facebook-fill:before {
  content: "\ea26";
}

.adam-fast-forward:before {
  content: "\ea27";
}

.adam-fax:before {
  content: "\ea28";
}

.adam-ferry-facing-right:before {
  content: "\ea29";
}

.adam-file:before {
  content: "\ea2a";
}

.adam-file-1:before {
  content: "\ea2b";
}

.adam-file-2:before {
  content: "\ea2c";
}

.adam-film1:before {
  content: "\ea2d";
}

.adam-fingerprint:before {
  content: "\ea2e";
}

.adam-fish-facing-right:before {
  content: "\ea2f";
}

.adam-fishing-boat1:before {
  content: "\ea30";
}

.adam-fishing-hook1:before {
  content: "\ea31";
}

.adam-fishing-rod2:before {
  content: "\ea32";
}

.adam-fish-shaped-bait:before {
  content: "\ea33";
}

.adam-flag1:before {
  content: "\ea34";
}

.adam-flag-1:before {
  content: "\ea35";
}

.adam-flag-2:before {
  content: "\ea36";
}

.adam-flag-3:before {
  content: "\ea37";
}

.adam-flag-4:before {
  content: "\ea38";
}

.adam-flag-5:before {
  content: "\ea39";
}

.adam-flour:before {
  content: "\ea3a";
}

.adam-focus:before {
  content: "\ea3b";
}

.adam-folded-map-with-placeholder:before {
  content: "\ea3c";
}

.adam-folder:before {
  content: "\ea3d";
}

.adam-folder-1:before {
  content: "\ea3e";
}

.adam-folder-2:before {
  content: "\ea3f";
}

.adam-folder-3:before {
  content: "\ea40";
}

.adam-folder-4:before {
  content: "\ea41";
}

.adam-folder-5:before {
  content: "\ea42";
}

.adam-folder-6:before {
  content: "\ea43";
}

.adam-folder-7:before {
  content: "\ea44";
}

.adam-folder-8:before {
  content: "\ea45";
}

.adam-folder-9:before {
  content: "\ea46";
}

.adam-folder-10:before {
  content: "\ea47";
}

.adam-folder-11:before {
  content: "\ea48";
}

.adam-folder-12:before {
  content: "\ea49";
}

.adam-folder-13:before {
  content: "\ea4a";
}

.adam-folder-14:before {
  content: "\ea4b";
}

.adam-folder-15:before {
  content: "\ea4c";
}

.adam-folder-16:before {
  content: "\ea4d";
}

.adam-folder-17:before {
  content: "\ea4e";
}

.adam-folder-18:before {
  content: "\ea4f";
}

.adam-folder-19:before {
  content: "\ea50";
}

.adam-folder-fill:before {
  content: "\ea51";
}

.adam-folder-tran:before {
  content: "\ea52";
}

.adam-forbidden:before {
  content: "\ea53";
}

.adam-fried-egg:before {
  content: "\ea54";
}

.adam-fuel:before {
  content: "\ea55";
}

.adam-funnel:before {
  content: "\ea56";
}

.adam-gift1:before {
  content: "\ea57";
}

.adam-google-fill:before {
  content: "\ea58";
}

.adam-google-plus:before {
  content: "\ea59";
}

.adam-headphones11:before {
  content: "\ea5a";
}

.adam-heart:before {
  content: "\ea5b";
  font-size: 35px;
}

.adam-heart1:before {
  content: "\ea5b";
}

.adam-heart-fill:before {
  content: "\ea5c";
}

.adam-help:before {
  content: "\ea5d";
}

.adam-help-3:before {
  content: "\ea5e";
}

.adam-hide:before {
  content: "\ea5f";
}

.adam-hold:before {
  content: "\ea60";
}

.adam-home:before {
  content: "\ea61";
}

.adam-home-1:before {
  content: "\ea62";
}

.adam-home-2:before {
  content: "\ea63";
}

.adam-hourglass-1:before {
  content: "\ea64";
}

.adam-hourglass-2:before {
  content: "\ea65";
}

.adam-house:before {
  content: "\ea66";
}

.adam-id-card:before {
  content: "\ea67";
}

.adam-id-card-1:before {
  content: "\ea68";
}

.adam-id-card-2:before {
  content: "\ea69";
}

.adam-id-card-3:before {
  content: "\ea6a";
}

.adam-idea:before {
  content: "\ea6b";
}

.adam-image:before {
  content: "\ea6c";
}

.adam-incoming:before {
  content: "\ea6d";
}

.adam-infinity:before {
  content: "\ea6e";
}

.adam-info:before {
  content: "\ea6f";
}

.adam-info-1:before {
  content: "\ea70";
}

.adam-instagram:before {
  content: "\ea71";
}

.adam-instagram-logo:before {
  content: "\ea72";
}

.adam-internet:before {
  content: "\ea73";
}

.adam-invoice:before {
  content: "\ea74";
}

.adam-jetboat:before {
  content: "\ea75";
}

.adam-jetski:before {
  content: "\ea76";
}

.adam-juicer:before {
  content: "\ea77";
}

.adam-kayak:before {
  content: "\ea78";
}

.adam-kayak-1:before {
  content: "\ea79";
}

.adam-key1:before {
  content: "\ea7a";
}

.adam-key-1:before {
  content: "\ea7b";
}

.adam-key-2:before {
  content: "\ea7c";
}

.adam-kitchen:before {
  content: "\ea7d";
}

.adam-knife1:before {
  content: "\ea7e";
}

.adam-lamp1:before {
  content: "\ea7f";
}

.adam-layers:before {
  content: "\ea80";
}

.adam-left-arrow:before {
  content: "\ea81";
}

.adam-life-jacket1:before {
  content: "\ea82";
}

.adam-lifesaver2:before {
  content: "\ea83";
}

.adam-like:before {
  content: "\ea84";
}

.adam-like-1:before {
  content: "\ea85";
}

.adam-like-2:before {
  content: "\ea86";
}

.adam-link:before {
  content: "\ea87";
}

.adam-linkedin:before {
  content: "\ea88";
}

.adam-linkedin-fill:before {
  content: "\ea89";
}

.adam-list1:before {
  content: "\ea8a";
}

.adam-list-1:before {
  content: "\ea8b";
}

.adam-locked:before {
  content: "\ea8c";
}

.adam-locked-11:before {
  content: "\ea8c";
  font-size: 35px;
}

.adam-locked-5:before {
  content: "\ea8d";
}

.adam-login:before {
  content: "\ea8e";
}

.adam-long-lighthouse:before {
  content: "\ea8f";
}

.adam-magic-wand:before {
  content: "\ea90";
}

.adam-magnet:before {
  content: "\ea91";
}

.adam-maintenance:before {
  content: "\ea92";
}

.adam-manage-show:before {
  content: "\ea93";
}

.adam-map2:before {
  content: "\ea94";
}

.adam-map-1:before {
  content: "\ea95";
}

.adam-map-location:before {
  content: "\ea96";
}

.adam-map-pointer:before {
  content: "\ea97";
}

.adam-marine-knife:before {
  content: "\ea98";
}

.adam-mathematics:before {
  content: "\ea99";
}

.adam-mechanical:before {
  content: "\ea9a";
}

.adam-megaphone1:before {
  content: "\ea9b";
}

.adam-megaphone-1:before {
  content: "\ea9c";
}

.adam-member:before {
  content: "\ea9d";
}

.adam-member-card:before {
  content: "\ea9e";
}

.adam-member-card-1:before {
  content: "\ea9f";
}

.adam-menu1:before {
  content: "\eaa0";
}

.adam-menu-1:before {
  content: "\eaa1";
}

.adam-menu-2:before {
  content: "\eaa2";
}

.adam-menu-3:before {
  content: "\eaa3";
}

.adam-menu-4:before {
  content: "\eaa4";
}

.adam-microphone11:before {
  content: "\eaa5";
}

.adam-microphone-1:before {
  content: "\eaa6";
}

.adam-microwave:before {
  content: "\eaa7";
}

.adam-minus:before {
  content: "\eaa8";
}

.adam-money2:before {
  content: "\eaa9";
}

.adam-money-bag:before {
  content: "\eaaa";
}

.adam-monitor:before {
  content: "\eaab";
}

.adam-monitor-1:before {
  content: "\eaac";
}

.adam-more:before {
  content: "\eaad";
}

.adam-more-1:before {
  content: "\eaae";
}

.adam-motoryacht:before {
  content: "\eaaf";
}

.adam-music:before {
  content: "\eab0";
}

.adam-music-player1:before {
  content: "\eab1";
}

.adam-music-speaker:before {
  content: "\eab2";
}

.adam-muted:before {
  content: "\eab3";
}

.adam-navigation:before {
  content: "\eab4";
}

.adam-navigation-1:before {
  content: "\eab5";
}

.adam-navigation-main:before {
  content: "\eab6";
}

.adam-network:before {
  content: "\eab7";
}

.adam-network-1:before {
  content: "\eab8";
}

.adam-newspaper1:before {
  content: "\eab9";
}

.adam-newspaper-1:before {
  content: "\eaba";
}

.adam-next:before {
  content: "\eabb";
}

.adam-noodles:before {
  content: "\eabc";
}

.adam-notebook:before {
  content: "\eabd";
}

.adam-ocean-waves:before {
  content: "\eabe";
}

.adam-one-kayak:before {
  content: "\eabf";
}

.adam-one-surfboard:before {
  content: "\eac0";
}

.adam-open-magazine:before {
  content: "\eac1";
}

.adam-outlet:before {
  content: "\eac2";
}

.adam-oven1:before {
  content: "\eac3";
}

.adam-package:before {
  content: "\eac4";
}

.adam-package-1:before {
  content: "\eac5";
}

.adam-package-2:before {
  content: "\eac6";
}

.adam-package-3:before {
  content: "\eac7";
}

.adam-package-4:before {
  content: "\eac8";
}

.adam-package-5:before {
  content: "\eac9";
}

.adam-package-6:before {
  content: "\eaca";
}

.adam-package-7:before {
  content: "\eacb";
}

.adam-padlock:before {
  content: "\eacc";
}

.adam-pause:before {
  content: "\eacd";
}

.adam-payment-method:before {
  content: "\eace";
}

.adam-paypal-logo:before {
  content: "\eacf";
}

.adam-paypal-outlined-logo:before {
  content: "\ead0";
}

.adam-pdf:before {
  content: "\ead1";
}

.adam-pdf-file:before {
  content: "\ead2";
}

.adam-pen:before {
  content: "\ead3";
}

.adam-pepper:before {
  content: "\ead4";
}

.adam-percent:before {
  content: "\ead5";
}

.adam-percent-1:before {
  content: "\ead6";
}

.adam-percentage:before {
  content: "\ead7";
}

.adam-percentage-2:before {
  content: "\ead8";
}

.adam-percentage-archive:before {
  content: "\ead9";
}

.adam-perhour:before {
  content: "\eada";
}

.adam-phone-call:before {
  content: "\eadb";
}

.adam-phone-call-1:before {
  content: "\eadc";
}

.adam-phone-call-2:before {
  content: "\eadd";
}

.adam-photo-camera11:before {
  content: "\eade";
}

.adam-photo-camera-1:before {
  content: "\eadf";
}

.adam-photo-camera-5:before {
  content: "\eae0";
}

.adam-photos1:before {
  content: "\eae1";
}

.adam-picture11:before {
  content: "\eae2";
}

.adam-picture-1:before {
  content: "\eae3";
}

.adam-picture-2:before {
  content: "\eae4";
}

.adam-picture-3:before {
  content: "\eae5";
}

.adam-pie-chart:before {
  content: "\eae6";
}

.adam-piggy-bank:before {
  content: "\eae7";
}

.adam-piggy-bank-1:before {
  content: "\eae8";
}

.adam-piggy-bank-2:before {
  content: "\eae9";
}

.adam-pinterest:before {
  content: "\eaea";
}

.adam-pinterest-1:before {
  content: "\eaeb";
}

.adam-pinterest-2:before {
  content: "\eaec";
}

.adam-pinterest-logo:before {
  content: "\eaed";
}

.adam-placeholder:before {
  content: "\eaee";
}

.adam-placeholder-3:before {
  content: "\eaef";
}

.adam-plates:before {
  content: "\eaf0";
}

.adam-play-button:before {
  content: "\eaf1";
}

.adam-play-button-1:before {
  content: "\eaf2";
}

.adam-plug1:before {
  content: "\eaf3";
}

.adam-plus:before {
  content: "\eaf4";
}

.adam-plus-1:before {
  content: "\eaf5";
}

.adam-plus-2:before {
  content: "\eaf6";
}

.adam-porthole:before {
  content: "\eaf7";
}

.adam-pot:before {
  content: "\eaf8";
}

.adam-pot-1:before {
  content: "\eaf9";
}

.adam-pour:before {
  content: "\eafa";
}

.adam-power:before {
  content: "\eafb";
}

.adam-powerboat:before {
  content: "\eafc";
}

.adam-prawn-facing-left:before {
  content: "\eafd";
}

.adam-preivatetrip:before {
  content: "\eafe";
}

.adam-price-tag:before {
  content: "\eaff";
}

.adam-print:before {
  content: "\eb00";
}

.adam-printer1:before {
  content: "\eb01";
}

.adam-printer-1:before {
  content: "\eb02";
}

.adam-printer-two:before {
  content: "\eb03";
}

.adam-profile:before {
  content: "\eb04";
}

.adam-profits1:before {
  content: "\eb05";
}

.adam-push-pin:before {
  content: "\eb06";
}

.adam-question:before {
  content: "\eb07";
}

.adam-question-1:before {
  content: "\eb08";
}

.adam-radar:before {
  content: "\eb09";
}

.adam-rainy-cloud:before {
  content: "\eb0a";
}

.adam-rating:before {
  content: "\eb0b";
}

.adam-razor1:before {
  content: "\eb0c";
}

.adam-record:before {
  content: "\eb0d";
}

.adam-fridge:before {
  content: "\eb0e";
}

.adam-fridge-1:before {
  content: "\eb0f";
}

.adam-refrigeratorr:before {
  content: "\eb10";
}

.adam-repeat:before {
  content: "\eb11";
}

.adam-review:before {
  content: "\eb12";
}

.adam-review-1:before {
  content: "\eb13";
}

.adam-rice-cooker:before {
  content: "\eb14";
}

.adam-right-arrow:before {
  content: "\eb15";
}

.adam-robe:before {
  content: "\eb16";
}

.adam-rolling-pin:before {
  content: "\eb17";
}

.adam-roofless-speed-boat:before {
  content: "\eb18";
}

.adam-rope-knot:before {
  content: "\eb19";
}

.adam-route:before {
  content: "\eb1a";
}

.adam-rubber-draft:before {
  content: "\eb1b";
}

.adam-rudder1:before {
  content: "\eb1c";
}

.adam-rules:before {
  content: "\eb1d";
}

.adam-rules-1:before {
  content: "\eb1e";
}

.adam-sailboat-2:before {
  content: "\eb1f";
}

.adam-sailingboat:before {
  content: "\eb20";
}

.adam-sailingboat-1:before {
  content: "\eb21";
}

.adam-sailor-hat:before {
  content: "\eb22";
}

.adam-salearchive:before {
  content: "\eb23";
  font-size: 35px;
}

.adam-sales:before {
  content: "\eb24";
  font-size: 35px;
}

.adam-sales-e:before {
  content: "\eb25";
}

.adam-salt:before {
  content: "\eb26";
}

.adam-sauces:before {
  content: "\eb27";
}

.adam-save:before {
  content: "\eb28";
}

.adam-scale1:before {
  content: "\eb29";
}

.adam-search1:before {
  content: "\eb2a";
}

.adam-search-1:before {
  content: "\eb2b";
}

.adam-search-2:before {
  content: "\eb2c";
}

.adam-send:before {
  content: "\eb2d";
}

.adam-serve:before {
  content: "\eb2e";
}

.adam-server1:before {
  content: "\eb2f";
}

.adam-server-1:before {
  content: "\eb30";
}

.adam-service:before {
  content: "\eb31";
}

.adam-service-1:before {
  content: "\eb32";
}

.adam-service-2:before {
  content: "\eb33";
}

.adam-settings1:before {
  content: "\eb34";
}

.adam-settings-3:before {
  content: "\eb35";
}

.adam-sewing-machine:before {
  content: "\eb36";
}

.adam-sewing-machine-1:before {
  content: "\eb37";
}

.adam-shampoo1:before {
  content: "\eb38";
}

.adam-share:before {
  content: "\eb39";
}

.adam-share-filled:before {
  content: "\eb3a";
}

.adam-sharetrip:before {
  content: "\eb3b";
}

.adam-shaver1:before {
  content: "\eb3c";
}

.adam-shed:before {
  content: "\eb3d";
}

.adam-shield1:before {
  content: "\eb3e";
}

.adam-ship-engine:before {
  content: "\eb3f";
}

.adam-shop1:before {
  content: "\eb40";
}

.adam-shopping-bag:before {
  content: "\eb41";
}

.adam-shopping-bag-1:before {
  content: "\eb42";
}

.adam-shopping-bag-2:before {
  content: "\eb43";
}

.adam-shopping-bag-3:before {
  content: "\eb44";
}

.adam-shopping-bag-4:before {
  content: "\eb45";
}

.adam-shopping-bag-5:before {
  content: "\eb46";
}

.adam-shopping-bag-6:before {
  content: "\eb47";
}

.adam-shopping-bag-7:before {
  content: "\eb48";
}

.adam-shopping-bag-8:before {
  content: "\eb49";
}

.adam-shopping-bag-9:before {
  content: "\eb4a";
}

.adam-shopping-bag-10:before {
  content: "\eb4b";
}

.adam-shopping-basket:before {
  content: "\eb4c";
}

.adam-shopping-cart:before {
  content: "\eb4d";
}

.adam-shopping-cart-1:before {
  content: "\eb4e";
}

.adam-shopping-cart-2:before {
  content: "\eb4f";
}

.adam-shopping-cart-3:before {
  content: "\eb50";
}

.adam-shopping-cart-4:before {
  content: "\eb51";
}

.adam-shopping-cart-5:before {
  content: "\eb52";
}

.adam-shopping-cart-6:before {
  content: "\eb53";
}

.adam-shopping-cart-7:before {
  content: "\eb54";
}

.adam-shopping-cart-8:before {
  content: "\eb55";
}

.adam-shopping-cart-9:before {
  content: "\eb56";
}

.adam-shopping-online:before {
  content: "\eb57";
}

.adam-shower1:before {
  content: "\eb58";
}

.adam-shuffle:before {
  content: "\eb59";
}

.adam-shutdown:before {
  content: "\eb5a";
}

.adam-shuttlecock:before {
  content: "\eb5b";
}

.adam-signboard:before {
  content: "\eb5c";
}

.adam-signboard-1:before {
  content: "\eb5d";
}

.adam-sink2:before {
  content: "\eb5e";
}

.adam-small-canoe:before {
  content: "\eb5f";
}

.adam-smartphone11:before {
  content: "\eb60";
}

.adam-snorkel1:before {
  content: "\eb61";
}

.adam-snorkling-gear:before {
  content: "\eb62";
}

.adam-snorkling-gear-1:before {
  content: "\eb63";
}

.adam-snorkling-glasses:before {
  content: "\eb64";
}

.adam-speaker11:before {
  content: "\eb65";
}

.adam-speaker-1:before {
  content: "\eb66";
}

.adam-speaker-2:before {
  content: "\eb67";
}

.adam-speaker-3:before {
  content: "\eb68";
}

.adam-speaker-4:before {
  content: "\eb69";
}

.adam-speech-bubble:before {
  content: "\eb6a";
}

.adam-speech-bubble-1:before {
  content: "\eb6b";
}

.adam-speed-boat-facing-right:before {
  content: "\eb6c";
}

.adam-stairs:before {
  content: "\eb6d";
}

.adam-star:before {
  content: "\eb6e";
}

.adam-star-filled:before {
  content: "\eb6f";
}

.adam-star-filled-1:before {
  content: "\eb70";
}

.adam-star-inside-circle:before {
  content: "\eb71";
}

.adam-steamer:before {
  content: "\eb72";
}

.adam-steaming:before {
  content: "\eb73";
}

.adam-stew:before {
  content: "\eb74";
}

.adam-stopwatch-1:before {
  content: "\eb75";
}

.adam-stopwatch-2:before {
  content: "\eb76";
}

.adam-storage:before {
  content: "\eb77";
}

.adam-storage-1:before {
  content: "\eb78";
}

.adam-stove:before {
  content: "\eb79";
}

.adam-street:before {
  content: "\eb7a";
}

.adam-street-1:before {
  content: "\eb7b";
}

.adam-submarine-facing-right:before {
  content: "\eb7c";
}

.adam-submarine-window:before {
  content: "\eb7d";
}

.adam-success:before {
  content: "\eb7e";
}

.adam-sun-shining:before {
  content: "\eb7f";
}

.adam-superyacht:before {
  content: "\eb80";
}

.adam-support1:before {
  content: "\eb81";
}

.adam-swimming-glasses:before {
  content: "\eb82";
}

.adam-swin-goggle:before {
  content: "\eb83";
}

.adam-switch-1:before {
  content: "\eb84";
}

.adam-switch-2:before {
  content: "\eb85";
}

.adam-tabs:before {
  content: "\eb86";
}

.adam-tag:before {
  content: "\eb87";
}

.adam-tanker-ship:before {
  content: "\eb88";
}

.adam-target:before {
  content: "\eb89";
}

.adam-team1:before {
  content: "\eb8a";
}

.adam-team-11:before {
  content: "\eb8b";
}

.adam-telephone11:before {
  content: "\eb8c";
}

.adam-telephone-1:before {
  content: "\eb8d";
}

.adam-telephone-one:before {
  content: "\eb8e";
}

.adam-television2:before {
  content: "\eb8f";
}

.adam-television-1:before {
  content: "\eb90";
}

.adam-tent1:before {
  content: "\eb91";
}

.adam-tick:before {
  content: "\eb92";
}

.adam-time:before {
  content: "\eb93";
}

.adam-toaster:before {
  content: "\eb94";
}

.adam-toilet11:before {
  content: "\eb95";
}

.adam-toilet-one:before {
  content: "\eb96";
}

.adam-toilet-paper:before {
  content: "\eb97";
}

.adam-tools:before {
  content: "\eb98";
}

.adam-tools-2:before {
  content: "\eb99";
}

.adam-toothbrush11:before {
  content: "\eb9a";
}

.adam-towel2:before {
  content: "\eb9b";
}

.adam-trash:before {
  content: "\eb9c";
}

.adam-trash-1:before {
  content: "\eb9d";
}

.adam-tray:before {
  content: "\eb9e";
}

.adam-trip:before {
  content: "\eb9f";
}

.adam-trip-1:before {
  content: "\eba0";
}

.adam-trip-2:before {
  content: "\eba1";
}

.adam-trolley:before {
  content: "\eba2";
}

.adam-truck1:before {
  content: "\eba3";
}

.adam-truck-11:before {
  content: "\eba4";
}

.adam-twitter:before {
  content: "\eba5";
}

.adam-twitter-circle:before {
  content: "\eba6";
}

.adam-twitter-circular-button:before {
  content: "\eba7";
}

.adam-twitter-fill:before {
  content: "\eba8";
}

.adam-twitter-nofill:before {
  content: "\eba9";
}

.adam-twitter-social-outlined-logo:before {
  content: "\ebaa";
}

.adam-two-fins:before {
  content: "\ebab";
}

.adam-umbrella:before {
  content: "\ebac";
}

.adam-unlink:before {
  content: "\ebad";
}

.adam-unlocked:before {
  content: "\ebae";
}

.adam-unlocked-1:before {
  content: "\ebaf";
}

.adam-unlocked-2:before {
  content: "\ebb0";
}

.adam-upload:before {
  content: "\ebb1";
}

.adam-user:before {
  content: "\ebb2";
}

.adam-automatic-pilot:before {
  content: "\ebb2";
}

.adam-user-1:before {
  content: "\ebb3";
}

.adam-user-2 .path1:before {
  content: "\ebb4";
  color: rgb(231, 236, 237);
}

.adam-user-2 .path2:before {
  content: "\ebb5";
  margin-left: -1em;
  color: rgb(85, 96, 128);
}

.adam-user-3:before {
  content: "\ebb6";
  font-size: 35px;
}

.adam-user-4:before {
  content: "\ebb7";
}

.adam-user-5:before {
  content: "\ebb8";
}

.adam-user-group:before {
  content: "\ebb9";
}

.adam-users:before {
  content: "\ebba";
}

.adam-users-1:before {
  content: "\ebbb";
}

.adam-vacuum-cleaner11:before {
  content: "\ebbc";
}

.adam-vacuum-cleaner-1:before {
  content: "\ebbd";
}

.adam-vacuum-cleaner-2:before {
  content: "\ebbe";
}

.adam-video-camera11:before {
  content: "\ebbf";
}

.adam-video-player1:before {
  content: "\ebc0";
}

.adam-view:before {
  content: "\ebc1";
}

.adam-wallet1:before {
  content: "\ebc2";
}

.adam-wallet-1:before {
  content: "\ebc3";
}

.adam-wallet-2:before {
  content: "\ebc4";
}

.adam-warning:before {
  content: "\ebc5";
}

.adam-washing-machine11:before {
  content: "\ebc6";
}

.adam-water:before {
  content: "\ebc7";
}

.adam-water-heater:before {
  content: "\ebc8";
}

.adam-water-resist-camera:before {
  content: "\ebc9";
}

.adam-water-resist-watch:before {
  content: "\ebca";
}

.adam-whisk:before {
  content: "\ebcb";
}

.adam-wifi2:before {
  content: "\ebcc";
}

.adam-wifi-1:before {
  content: "\ebcd";
}

.adam-windows:before {
  content: "\ebce";
}

.adam-windows-1:before {
  content: "\ebcf";
}

.adam-windsurfboard:before {
  content: "\ebd0";
}

.adam-wireless-internet:before {
  content: "\ebd1";
}

.adam-wood-board:before {
  content: "\ebd2";
}

.adam-wood-raft:before {
  content: "\ebd3";
}

.adam-world-map:before {
  content: "\ebd4";
}

.adam-yacht-facing-right:before {
  content: "\ebd5";
}

.adam-zoom-in:before {
  content: "\ebd6";
}

.adam-zoom-out:before {
  content: "\ebd7";
}

.rounded-circle {
  border-radius: 50% !important;
}
.per-person {
  font-size: 14px;
  font-weight: normal;
  margin: 0 10px;
  position: relative;
}
.per-person::before {
  content: "/";
  position: absolute;
  top: 0;
  left: -6px;
}

.baot-amenities {
  .i-h-24 {
    height: 24px;
    display: block;
  }
  .inner-trip-type-text-div {
    display: flex;
    width: 100%;
  }
  .trip-type-alias {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.boat-inner-auction-content {
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f1f1;
  padding: 30px;
  .boat-inner-auction-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .auction-detail-inner {
      p {
        font-weight: 500;
        font-size: 16px;
        color: #000;
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
  .boat-inner-auction-action {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    button {
      background: #061e9c;
      border-color: #061e9c;
      color: #fff !important;
      text-transform: capitalize;
      border-radius: 4px;
      font-size: 14px;
      border: 0;
      height: 30px;
      outline: 0;
    }
  }
}
/*Boat Inner Responsive*/
body {
  .boat-inner-responsive {
    .h-600 {
      height: 600px;
    }
    .sticky-on-top .buy-inner .add-feedback-text {
      font-size: 14px !important;
    }
    .shipping-block {
      .btn-link-info {
        font-size: 14px !important;
        height: 28px;
        padding: 0 10px !important;
        line-height: 28px;
        font-weight: normal;
      }
    }
    h4 {
      color: #333333;
    }
    .boat-inner-info-title {
      color: #333333;
    }
    .boat-inner-name {
      font-size: 22px;
      color: #333333;
      text-transform: capitalize;
    }
    .btn.btn-primary {
      background: #000099;
      border-color: #000099;
      box-shadow: none;
    }
    .buy-now-inner {
      height: 46px;
      padding: 0 42px;
      line-height: 1;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 18px;
    }
    .buy-right-button {
      .price-new {
        font-size: 24px;
      }
    }
    .rating-clr .MuiSvgIcon-root {
      width: 20px;
      height: 20px;
    }
    .badge-light {
      color: #000099;
      background-color: transparent;
      border: 1px solid #000099;
      padding: 0 7px;
      height: 20px;
      font-size: 12px;
      line-height: 1;
      border-radius: 5px;
    }
    i {
      filter: grayscale(100%);
    }
    .adam-edit-2 {
      color: #dd3b26;
      filter: grayscale(0);
    }
    .boat-progress {
      .react-sweet-progress-line-inner {
        background-color: #000099 !important;
      }
    }
    hr {
      width: 100%;
    }
    .baot-amenities {
      margin-bottom: 30px;
    }
    h4 {
      display: flex;
      align-items: center;
    }
    .map-design {
      .MuiCardContent-root {
        padding: 0 !important;
      }
    }
  }
  .padding-inner-about {
    padding-right: 70px !important;
  }
  .map-design {
    .card-style {
      margin-left: 0;
    }
  }
  .inner-trip-type-text-div {
    justify-content: center;
  }
  .a-inner-fix {
    a {
      // display: flex;
    }
  }
  .widget-media .icon-effect-1a .icon:hover {
    background-color: #0056b3;
    color: #ffffff;
    i {
      color: #ffffff;
    }
  }
}
.payment-grid {
  justify-content: center;
  align-items: center;
  .inner-payment-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
  }
  .inner-payment-cash-icon {
    height: 18px;
    filter: grayscale(100%);
  }
}
.inner-feedback-img {
  height: 20px;
}
@media screen and (max-width: 1495px) {
  body {
    .boat-inner-responsive .h-600 {
      height: 384px;
    }
    .boat-inner-auction-content .boat-inner-auction-detail .auction-detail-inner p {
      font-size: 14px;
    }
    .boat-inner-auction-content .boat-inner-auction-action button {
      font-size: 12px;
    }
    .boat-inner-responsive {
      .playVideo-icon {
        font-size: 3rem;
      }
      .sticky-on-top .buy-inner .add-feedback-text,
      .sticky-on-top .boat-ad-id {
        font-size: 10px !important;
      }
      .boat-inner-first-img {
        max-height: 384px;
      }
      .boat-inner-name {
        font-size: 17px;
      }
      .shipping-block {
        .btn-link-info {
          font-size: 11px !important;
          height: 22px;
          padding: 0 7px !important;
          line-height: 1.2;
        }
      }

      .buy-now-inner {
        height: 34px;
        padding: 0 26px;
        font-size: 14px;
      }
      .buy-right-button {
        .price-new {
          font-size: 20px;
        }
      }
      .widget-media .icon {
        width: 30px;
        height: 30px;
      }
      .rating-clr .MuiSvgIcon-root {
        width: 16px;
        height: 16px;
      }
      .header-small-font,
      .sticky-on-top .rating-avg {
        font-size: 12px !important;
      }
      .badge-light {
        height: 18px;
        font-size: 10px !important;
      }
      h4,
      .boat-inner-info-title {
        font-size: 14px;
      }

      .title-sm,
      .sub-title-sm {
        font-size: 11px;
      }
      .title-description {
        font-size: 11px !important;
      }
      .inner-agent-div {
        .media.media-lg.pl-15 {
          padding-left: 0 !important;
        }
        .media {
          margin-bottom: 0 !important;
          img {
            width: 90px;
          }
        }
        .list-group li {
          padding-left: 0;
          font-size: 12px;
        }
      }
      .add-feedback-text {
        font-size: 11px;
      }
      .author-info h5 {
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
      .add-feedback-mt {
        margin: 5px 0 0 !important;
      }
      .inner-type-div {
        height: 70px;
        width: 70px;
        .trip-type-inner {
          font-size: 11px !important;
        }
      }
      .image-carousal-arrow {
        height: 25px;
        width: 25px;
      }
      .res-m-0 {
        margin-right: 20px !important;
        .inner-type-div {
          height: 85px;
          width: 85px;
        }
      }
      .inner-main-title {
        font-size: 18px;
      }
    }
    .react-tiny-popover-container {
      .d-flex.align-center {
        margin-top: 10px !important;
      }
      .social-icon {
        margin-right: 6px;
      }
    }
    .payment-grid {
      .inner-payment-cash-icon {
        height: 18px;
      }
    }
    .boat-inner-btn-link-info {
      height: 26px !important;
    }
    .user-profile-online-section {
      .user-online {
        height: 16px;
        width: 16px;
        border-radius: 12px;
        bottom: 8px;
        right: 3px;
        .online-div-user {
          height: 11px;
          width: 11px;
          border-radius: 12px;
        }
      }
    }
    .boat-shipper-div-title {
      font-size: 16px;
      margin-bottom: 8px !important;
    }
    .boat-shipper-div-info {
      font-size: 12px !important;
      margin-bottom: 5px;
    }
    .shipper-div {
      .shipper-logo-img {
        height: 125px;
        width: 125px;
      }
      .inner-agent-info-icon {
        padding: 6px;
        font-size: 14px;
      }
      .boat-shipper-name {
        min-width: 33px;
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .boat-inner-map-div {
      .map-div-height {
        height: 250px;
      }
    }
    .boat-inner-first-img {
      height: 380px;
      .playVideo-icon {
        font-size: 2.5rem;
      }
    }

    .banner-count-text {
      font-size: 10px;
    }
    .marina-views-img {
      height: 10px;
    }
    .boat-inner-responsive .h-600 {
      height: 300px;
    }
    .boat-inner-auction-content .boat-inner-auction-detail .auction-detail-inner p {
      font-size: 14px;
    }
    .boat-inner-auction-content .boat-inner-auction-action button {
      font-size: 10px;
      height: 26px;
    }
    .boat-inner-responsive {
      .playVideo-icon {
        font-size: 2.5rem;
      }
      .sticky-on-top .buy-inner .add-feedback-text,
      .sticky-on-top .boat-ad-id {
        font-size: 11px !important;
      }
      .boat-inner-first-img {
        max-height: 300px;
      }
      .boat-inner-name {
        font-size: 14px;
      }
      .shipping-block {
        .btn-link-info {
          font-size: 9px !important;
          height: 20px;
          line-height: 1.2;
        }
      }

      .buy-now-inner {
        height: 30px;
        padding: 0px 20px;
        font-size: 12px;
      }
      .buy-right-button {
        .price-new {
          font-size: 17px;
        }
      }
      .widget-media .icon {
        width: 25px;
        height: 25px;
        .header-inner-icons {
          font-size: 11px;
        }
      }
      .rating-clr .MuiSvgIcon-root {
        width: 12px;
        height: 12px;
      }
      .header-small-font,
      .sticky-on-top .rating-avg {
        font-size: 9px !important;
        margin-top: 2px;
      }
      .badge-light {
        height: 16px;
        font-size: 8px !important;
      }
      h4,
      .boat-inner-info-title {
        font-size: 12px;
      }

      .title-sm,
      .sub-title-sm {
        font-size: 10px;
      }
      .boat-inner-info-desc {
        font-size: 11px;
      }
      .title-description {
        font-size: 10px !important;
      }
      .inner-agent-div {
        .media.media-lg.pl-15 {
          padding-left: 0 !important;
        }
        .media {
          margin-bottom: 0 !important;
          img {
            width: 80px;
          }
        }
        .list-group li {
          padding-left: 0;
          font-size: 10px !important;
          margin-bottom: 5px;
          padding: 6px 0px;
        }
        .author-info {
          margin-bottom: 10px;
        }
      }
      .add-feedback-text {
        font-size: 10px;
      }
      .author-info h5 {
        font-size: 18px;
      }
      p {
        font-size: 10px;
      }
      .add-feedback-mt {
        margin: 20px 0 0 !important;
      }
      .inner-type-div {
        i {
          font-size: 24px;
        }
        height: 64px;
        width: 64px;
        .trip-type-inner {
          font-size: 9px !important;
        }
      }
      .res-m-0 {
        margin-right: 20px !important;
        .inner-type-div {
          height: 72px;
          width: 72px;
          padding: 6px !important;
        }
      }
      .inner-main-title {
        font-size: 16px;
      }
    }
    .accessories-amenities-icon {
      height: 25px;
    }
    .react-tiny-popover-container img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .socialPopupBoxBg {
      > div {
        margin-top: 8px;
      }
    }
    .boat-inner-btn-link-info {
      height: 22px !important;
    }
    .user-profile-online-section {
      .user-online {
        height: 14px;
        width: 14px;
        border-radius: 12px;
        bottom: 5px;
        right: 4px;
        .online-div-user {
          height: 10px;
          width: 10px;
          border-radius: 7px;
        }
      }
    }

    .sticky-on-top {
      .buy-inner {
        .buy-right-button {
          figcaption {
            .buy-it-now-inner-button {
              font-size: 10px;
              padding: 5px 16px !important;
            }
          }
        }
      }
    }
    .inner-user-profile-info {
      padding-left: 0 !important;
      .inner-agent-info-icon {
        padding: 6px;
        margin-right: 5px !important;
      }
    }
    .inner-user-profile-info-text {
      font-size: 9px !important;
    }

    .boat-shipper-div-title {
      font-size: 13px;
      margin-bottom: 8px !important;
    }
    .boat-shipper-div-info {
      font-size: 9px !important;
      margin-bottom: 5px;
    }

    .shipper-div {
      .shipper-logo-img {
        height: 100px;
        width: 100px;
      }
      .inner-agent-info-icon {
        padding: 6px;
        font-size: 10px;
        border: 0.5px solid #f1f1f1;
      }
      .boat-shipper-name {
        min-width: 31px;
      }
    }
    .boat-inner-responsive h3 {
      font-size: 16px;
    }
  }
}

.marina-storage-layout .top-rated-grid{
  .inner-banner-views-div {
    position: absolute;
    bottom: 6px;
    left: 5px;
    padding: 4px 10px !important;
  }
  .banner-count-text {
    line-height: 1;
  }
}
