body {
  .marina-card {
    padding: 10px;
  }

  .marina-field {
    margin-left: 5px;
  }
}

.ms-container {
  max-width: 98vh;
  margin: auto;
}
body .radioButton {
  .MuiIconButton-colorSecondary:hover {
    background-color: unset;
  }

  .MuiRadio-colorSecondary.Mui-checked {
    color: #0d0799;

    &::hover {
      background-color: unset;
    }
  }
}

.dashboard-forms-field {
  label {
    margin-bottom: 0px;
    font-size: 0.8125rem;
  }
}

.map-div-form {
  .MuiGrid-root {
    margin-bottom: 18px;
  }
}

.addRent-map {
  .MuiGrid-root {
    margin-bottom: 10px;
  }
}

.margin-10 {
  margin: 10px;
}

.addMarinaStorage-info {
  &.MuiFormLabel-root.Mui-focused {
    color: rgba(0, 0, 0, 0.54);
  }
}
body .save-button-blue {
  background-color: #101e9c;
}
body .save-button-blue:hover {
  background-color: #101e9c;
}

.show-all-marina {
  max-width: 96vw;
  margin: auto;
}
.select-div-padding {
  .MuiSelect-root {
    padding: 0;
    color: #787878;
  }
}
.marina-storage-header-banner-icon {
  height: 34px;
  width: 34px;
}
.map-div-form > div:first-of-type {
  height: 100%;
}
.map-div-form {
  .map-design {
    height: 100%;
    .MuiPaper-root {
      height: 100%;
      .MuiCardContent-root {
        height: 100%;
        padding: 0 !important;
        .MuiGrid-container {
          height: 100%;
        }
      }
    }
  }
  .map-field {
    font-size: 14px;
  }
}
.add-marina-contact-person-image {
  .fileContainer {
    box-shadow: none;
  }
}
.radio-button-type-font {
  .MuiFormControlLabel-root {
    .MuiTypography-root {
      font-size: 14px;
    }
  }
}
.dashboard-forms-field {
  label {
    font-size: 14px;
  }
}
.service-list-layout {
  .service-list {
    width: 80%;
  }
  margin-top: 150px;
  .service-list-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .service-list-content {
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .spaceBetween {
    justify-content: space-between;
  }
  .service-list-detail {
    display: block;
    color: #484848;
  }
}
.recommended-marina-div {
  .card-action {
    justify-content: space-between !important;
  }
}
.section-grid {
  .card-action {
    justify-content: space-between !important;
  }
}
