.mt-50 {
  margin-top: 50px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pt-30 {
  padding-top: 30px !important;
}

.adam-sharetrip,
.adam-preivatetrip,
.adam-perhour {
  font-size: 35px;
}

.button-rent {
  background-color: #f44336 !important;
  color: #fff !important;
}

.boatLikeShare-icon {
  position: absolute;
  z-index: 20;
  top: 20px;
  right: 30px;
}

.color-rent,
.rent-icon-color {
  i {
    color: #46c8df;
  }
}

body {
  .rent-card-wrap .rent-button-color {
    background-color: #46c8df;
    border-color: #46c8df;
  }
}

body {
  .rent-search-boat-btn:hover {
    background-color: #46c8df;
    border-color: #46c8df;
    box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(169, 169, 169, 0.2);
  }
}

.body {
  .iconColor-boatInner {
    color: #f46139;
  }
}
body .rent-slider {
  color: #46c8df;
}

.rent-passenger {
  border-radius: 5px;
  border: 1px solid #46c8df;
  background: #46c8df;
}
.rent-passenger-height {
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 0;
}
.clr-btn {
  color: #fff;
}

.count-passenger {
  font-size: 18px;
  font-weight: normal;
}
.justify-rent-passenger {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
body {
  .rent-card {
    overflow: visible;
    .boatTitlePosition {
      img {
        filter: grayscale(100%);
      }
    }
    .boatTitleBg-onClick {
      img {
        filter: grayscale(0) !important;
      }
    }
    .MuiButton-root:hover {
      background-color: transparent;
    }
    .DateInput {
      width: 45%;
    }
    .DateRangePickerInput_arrow {
      width: 10%;
    }
    .DateInput input {
      text-align: center;
    }
    i {
      color: #46c8df;
    }
    .boatTitleBg-onClick {
      // background-color: #46c8df;
      color: #46c8df;
      border-radius: 4px;
      .boatTitle-Size {
        color: #46c8df;
      }
      i {
        color: #46c8df;
      }
    }
    .MuiOutlinedInput-input {
      padding: 8px 14px;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      outline: none !important;
      border: 1px solid #e1e5e8 !important;
    }
    .MuiOutlinedInput-root:hover {
      outline: none !important;
      border-color: #ced4da !important;
    }
    .margin-padding-rent-card {
      padding: 40px 50px;
    }
    .DateRangePicker_picker__directionLeft {
      top: -318px !important;
    }
    .DateInput_fang {
      top: -15px !important;
      transform: rotate(180deg);
    }
  }
  .rent-card-banner-form-field {
    .MuiOutlinedInput-notchedOutline {
      border-color: #e1e5e8;
    }
  }
}
// Rent image issue fix
body {
  .rent-trips-icons {
    height: 16px !important;
    width: auto !important;
  }
}
.rent-image img:not(.img-auto) {
  width: 100%;
  height: 100%;
}

.rent-home {
  .MuiSelect-icon {
    top: unset;
    color: #444444;
    position: absolute;
    right: 5px;
  }
  .rent-card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

body {
  h4 {
    color: #484948;
  }
  label {
    color: #787878;
  }
  .rent-text-color {
    color: #46c8df;
  }
  .rent-notify-color {
    color: #018abc;
  }
}
.rent-trip-type {
  border: 0.5px solid #444444;
  color: #444444;
  border-radius: 12px;
  font-size: 11px;
  display: flex;
  align-items: center;
  padding: 7px;
  height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 5px 7px 3px 0;
}

.rent-content {
  height: 100%;
  width: 100%;
  display: flex;
  .rent-home-img {
  }
  .home-video-banner {
    .video-react {
      padding: 100% !important;
      .video-react-video {
        height: auto !important;
      }
    }
  }
}
.rent-layout {
  .rent-arrow {
    .LeftRight-arrow {
      top: calc(50% - 24px) !important;
    }
  }
  .rent-explore-boat {
    width: 100% !important;
  }
}
.boat-inner-first-img {
  height: 600px;
}
.four-inner-bg {
  padding: 5px;
}
.rent-card-label-text {
  color: #444444;
  opacity: 0.6;
}
.rent-layout {
  .DateInput_input {
    color: #444444;
    opacity: 0.6;
  }
}
.pieces-text {
  font-size: 14px;
  color: #666666;
}
.piece-img {
  height: 16px !important;
  width: 16px !important;
  margin-right: 7px;
}
.adamsea-rent-per-hour {
  .country-div-height {
    min-height: 28px;
  }
}
.rent-card-hovered-button-effect:hover {
  box-shadow: 0 14px 26px -12px #46c8df38, 0 4px 23px 0 #46c8df38, 0 8px 10px -5px #46c8df38;
}
.rent-inner-card-hovered-button-effect:hover {
  box-shadow: 0 14px 26px -12px #46c8df1c, 0 4px 23px 0 #46c8df1c, 0 8px 10px -5px #46c8df1c;
}
.shared-trip,
.private-trip {
  .is-shared {
    width: 100%;
  }
}
// [NOTE]: Don't removed @mansi
// .rent-layout
// {
//   .right-arrow {
//     right: -9px;
// }
// .left-arrow{
//   left: -16px;
// }
// }
.private-rent-bg-color {
  background-color: #46c8df;
  color: #fff;
}

.rent-home-img > img,
.rent-home-img > div {
  font-size: 0;
}
.rent-card-content-position {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 2;
  h1 {
    font-weight: normal;
    text-transform: capitalize;
  }
  h3 {
    font-weight: normal;
  }
}
.rent-passenger:hover {
  background-color: #46c8df;
  border-color: #46c8df;
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.rent-notify-btn:hover {
  color: #000094;
}
.rent-layout {
  .mr-rent-4 {
    margin-right: 3%;
  }
}

.rent-market-type {
  .market-type-image {
    border-radius: 10px 10px 0 0 !important;
  }
  .boat-name {
    color: #666;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 15px;
  }
}

@media (max-width: 1495px) {
  .rent-market-type {
    .boat-name {
      font-size: 13px;
    }
  }
}

@media (max-width: 1380px) {
  .rent-market-type {
    .boat-name {
      font-size: 11px;
      padding: 8px 15px;
    }
  }
}
