.rent-inner-layout {
  .rent-galley-image-grid {
    height: 600px;
  }
  
}
.rent-layout{
  .country-div-height {
    min-height: 60px;
  }
  .most-popular-grid-home{
    flex-grow: 0;
    max-width: 19%;
    flex-basis: 19%;
    margin-right: 1.25%;
    &:nth-child(5n){
      margin-right: 0;
    }
  }
}
@media (max-width: 1495px) {
  body {
    .rent-layout {
      h4 {
        font-size: 16px;
      }
      .rent-video-section {
        p {
          font-size: 14px;
        }
      }
      .section-heading {
        font-size: 20px;
        letter-spacing: 0 !important;
      }
      p {
        font-size: 12px;
      }

      .country-name {
        font-size: 13px;
      }
      .card-action .share-icon .share-button,
      .card-action .share-icon .heart-button {
        padding: 0 10px;
        width: 30px;
        height: 30px;
        i {
          font-size: 14px;
        }
      }
      .new-build, .rent-per-hour-tag, .shared-trip-tag, .private-trip-tag {
        padding: 3px 6px;
        font-size: 10px;
        line-height: 1;
      }
      .rating-clr .MuiSvgIcon-root {
        width: 16px;
        height: 16px;
      }
      .rating-count-rent {
        font-size: 12px !important;
      }
      .boat-price-rent,
      .per-person {
        font-size: 14px;
        line-height: 1;
      }
      .boat-title {
        font-size: 12px;
      }
      .boat-country {
        font-size: 11px;
      }
      .small-text,
      .pieces-text {
        font-size: 12px;
      }
      .directionRow {
        .alignCenter {
          .location-icon-rent {
            font-size: 12px;
            margin-right: 7px;
          }
          .width-height-icon-clock {
            height: 14px !important;
            width: 14px !important;
          }
          .width-height-icon-user-measure {
            height: 12px !important;
            width: 20px !important;
          }
        }
      }
      .piece-img {
        height: 12px !important;
        width: 12px !important;
        margin-right: 7px;
      }
      .rent-trip-type {
        font-size: 9px;
        padding: 5px;
        height: 18px;
        line-height: 18px;
      }
      .share-button {
        margin-right: 8px;
      }
      .show-link {
        font-size: 15px;
      }
      .private-rent {
        padding: 0px 10px;
        font-size: 10px;
        height: 18px;
      }
      .desc-text {
        font-size: 12px !important;
      }
      .review-text {
        font-size: 12px;
      }
      .rent-card-text {
        font-size: 13px;
      }
      .name-reviewer {
        font-size: 13px;
      }
      .register-card {
        .h2 {
          font-size: 20px;
        }
      }
      .register-link-name {
        font-size: 11px;
      }
      .rent-card {
        .MuiOutlinedInput-input {
          padding: 5px 14px;
        }
        .boatTitlePosition {
          .boatTitle-Size {
            font-size: 12px;
            line-height: 1;
            letter-spacing: 0;
          }

          i {
            font-size: 27px;
          }
        }
        .form-label {
          font-size: 13px;
        }
        .form-control {
          font-size: 12px;
          height: 27px;
        }
        .margin-padding-rent-card {
          padding: 0px 40px;
        }
        .DateInput_input {
          font-size: 12px;
          padding: 3px 5px 3px;
        }
        .DateRangePicker {
          width: 100%;
        }
        .DateRangePickerInput {
          width: 100%;
        }
        .MuiOutlinedInput-root {
          height: 27px;
        }
        .rent-passenger-height {
          height: 25px;
          width: 25px;
        }
        .MuiSvgIcon-root {
          width: 15px;
          height: 20px;
        }
        svg {
          vertical-align: top;
        }
        .rent-notify-color {
          font-size: 11px !important;
        }
        .mt-30 {
          margin-top: 25px;
        }
        .pt-30 {
          padding-top: 25px !important;
        }
        .count-passenger {
          font-size: 17px;
          width: 50px;
          text-align: center;
        }
        .rent-search-boat-btn {
          padding: 3px 9px;
          font-size: 12px;
        }
        .rounded-circle {
          width: 25px;
        }
        .MuiButton-text {
          padding: 6px 5px;
        }
        .playVideo-icon {
          width: 45px !important;
          height: 45px !important;
        }
        .rent-card-icons {
          height: 22px;
          width: 22px;
        }
        
      }
    }
    .rent-inner-layout {
      .rent-galley-image-grid {
        height: 384px;
      }
    }
  }
  .rent-layout{
    .country-div-height {
      min-height: 50px;
    }
  }
}

@media (max-width: 1380px) {
  body {
    .rent-layout {
      .register-card-main{
        .pr-3{
          padding-right: 5px !important
        }
      }
      h4 {
        font-size: 14px;
      }
      .rent-video-section {
        p {
          font-size: 12px;
        }
      }
      .rent-card {
        .boatTitlePosition {
          .boatTitle-Size {
            font-size: 9px;
            line-height: 1;
            letter-spacing: 0;
          }

          i {
            font-size: 24px;
          }
        }
        .form-label {
          font-size: 10px;
        }
        .form-control {
          font-size: 10px;
          height: 27px;
        }
        .MuiOutlinedInput-root {
          height: 27px;
        }
        .DateRangePicker {
          width: 100%;
        }
        .DateRangePickerInput {
          width: 100%;
        }
        .margin-padding-rent-card {
          padding: 0px 30px;
        }
        .DateInput_input {
          font-size: 10px;
          padding: 0px 7px;
        }
        .DateRangePickerInput_arrow_svg {
          width: 16px;
        }
        .rent-passenger-height {
          height: 22px;
          width: 22px;
        }
        .MuiSvgIcon-root {
          width: 15px;
          height: 18px;
        }
        svg {
          vertical-align: top;
        }
        .rent-notify-color {
          font-size: 9px !important;
        }
        .mt-30 {
          margin-top: 20px;
        }
        .pt-30 {
          padding-top: 20px !important;
        }
        .count-passenger {
          font-size: 15px;
          width: 50px;
          text-align: center;
        }
        .boatTitle-iconSize {
          font-size: 2rem;
        }
        .rent-card-icons {
          height: 20px;
          width: 20px;
        }
      }
      .section-heading {
        font-size: 16px;
        letter-spacing: 0 !important;
      }
      p {
        font-size: 10px;
      }
      .margin-bottom-advertise {
        margin-bottom: 7px;
      }
      .rent-card-title {
        font-size: 16px !important;
      }

      .country-name {
        font-size: 11px;
      }
      .boat-grid-badge {
        left: 15px;
      }
      .card-action .share-icon .share-button,
      .card-action .share-icon .heart-button {
        width: 25px;
        height: 25px;
        i {
          font-size: 10px;
        }
      }
      .card-action {
        padding: 5px 15px;
      }
      .new-build, .rent-per-hour-tag, .shared-trip-tag, .private-trip-tag {
        padding: 3px 6px;
        font-size: 8px;
        line-height: 1;
      }
      .new-build, .rent-per-hour-tag, .shared-trip-tag, .private-trip-tag {
        padding: 1px 8px;
        font-size: 10px;
        height: 18px;
        display: flex;
        align-items: center;
      }
      .rating-clr .MuiSvgIcon-root {
        width: 12px;
        height: 12px;
      }
      .rating-count-rent {
        font-size: 10px !important;
      }
      .boat-price-rent,
      .per-person {
        font-size: 12px;
        line-height: 1;
      }
      .boat-title {
        font-size: 12px;
      }
      .boat-country {
        font-size: 11px;
      }
      .small-text {
        font-size: 10px !important;
      }
      .pieces-text {
        font-size: 11px !important;
      }
      .directionRow {
        .alignCenter {
          .location-icon-rent {
            font-size: 11px;
            margin-right: 7px;
          }
          .width-height-icon-clock {
            height: 12px !important;
            width: 12px !important;
          }
          .width-height-icon-user-measure {
            height: 10px !important;
            width: 18px !important;
          }
        }
      }
      .piece-img {
        height: 10px !important;
        width: 10px !important;
        margin-right: 7px;
      }
      .rent-trip-type {
        font-size: 8px;
        padding: 5px;
        height: 15px;
        line-height: 15px;
      }
      .share-button {
        margin-right: 4px;
      }
      .show-link {
        font-size: 13px;
      }
      .private-rent {
        padding: 2px 9px;
        font-size: 8px;
        height: 15px;
      }
      .desc-text {
        font-size: 11px !important;
      }
      .review-text {
        font-size: 10px;
      }
      .rent-card-text {
        font-size: 11px;
      }
      .name-reviewer {
        font-size: 11px;
      }
      .register-card {
        .h2 {
          font-size: 20px;
        }
      }
      .register-link-name {
        font-size: 9px;
      }
      .boatTitleArrow-margin {
        margin: 20px 0;
      }
      .rent-search-boat-btn {
        font-size: 11px;
      }
      .rounded-circle {
        width: 20px;
      }
      .experience-user-width{
        width: 25px !important
      }
      .MuiButton-text {
        padding: 6px 3px;
      }
      .playVideo-icon {
        width: 35px !important;
        height: 35px !important;
      }
    }
    .rent-inner-layout {
      .rent-galley-image-grid {
        height: 300px;
      }
    }
  }
  .rent-layout{
    .country-div-height {
      min-height: 45px;
    }
  }
}

