body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.h100-vh,
#root {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.img-holder {
  background-color: #061e9c;
  text-align: center;
  z-index: 999;
}

.form-holder {
  width: 100%;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
}

.form-content .form-items {
  max-width: 380px;
  text-align: left;
}

.form-content .page-links {
  margin-top: 15px;
}

.form-content .page-links a:last-child {
  margin-right: 0;
}

.form-content .page-links a {
  color: #0721ae;
}

.form-content p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

.form-content h3 {
  color: #333;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.img-holder .info-holder h3 {
  display: block;
  color: #fff;
  text-align: left;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 100%;
  max-width: 380px;
}

p {
  font-size: 13px;
  color: #767676;
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: CircularStd !important;
}

.other-links {
  text-align: center;
  padding: 0 20px;
}

.form-content .other-links span {
  font-size: 12px;
  font-weight: 300;
  color: #767676;
  opacity: 0.8;
}

.form-content form {
  margin: 50px 0;
}

.float-left {
  float: left !important;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.mt-10 {
  margin-top: 10px;
}

.ml-50 {
  margin-left: 55px;
}

.foot-link .other-links a {
  color: #a5cbf2;
  border-right: solid 1px;
  padding-right: 10px;
  padding-left: 10px;
  opacity: 0.6;
}

.foot-link .other-links a,
.form-content .other-links a {
  font-size: 11px;
  font-weight: 500;
  margin-right: 0px;
}

.d-block {
  display: block !important;
}

.foot-link .other-links {
  padding-left: 0px;
}

.other-links {
  text-align: center;
  padding: 0 20px;
}

.text-left {
  text-align: left !important;
}

.website-logo {
  display: inline-block;
  top: 50px;
  left: 50px;
  right: initial;
  bottom: initial;
  z-index: 1000;
  margin-top: 30px;
  float: left;
}

.website-logo .logo img {
  width: 130px;
}

.foot-link .other-links a,
.form-content .other-links a {
  font-size: 11px;
  font-weight: bold;
  margin-right: 0px;
}

.img-holder .info-holder p {
  display: block;
  color: #fff;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 380px;
}

.img-holder {
  position: relative;
}

.img-holder .info-holder img {
  width: 100%;
}
body {
  .img-holder::after {
    content: "";
    position: absolute;
    opacity: 0.23;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  .min-height-unset {
    min-height: unset !important;
  }
  .forget-password-form {
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    max-width: 500px !important;
    h3 {
      font-weight: 500;
    }
  }
}
.forgetTextStyle {
  color: #061e9c;
  font-size: 0.9rem;
}

.form-side-icon {
  position: absolute;
  right: 0.5rem;
  display: flex;
  align-items: center;
  top: 12px;
  color: #666;
  // height: 100%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
}
.loginSide-text {
  font-size: 0.8rem;
  margin-top: 1rem;
}
.loginOffer-text {
  font-size: 0.8rem;
}
.loginMain-div {
  flex: 0.5;
  min-height: 100vh;
  margin-left: 3em;
}
.login-link {
  span {
    color: #a5cbf2;
    font-size: 12px;
    opacity: 0.6;
    &:hover {
      opacity: 1.2;
    }
  }
}

.term-and-policy-div {
  display: flex;
  width: 300px;
  float: left;
  flex-direction: row;
  margin-top: 3em;
}

.remember-text {
  color: rgb(72, 72, 72);
}
.login-form-width {
  min-width: 380px;
}
.login-field,
.register-field {
  .form-control.is-invalid,
  .was-validated .form-control:invalid {
    background-image: unset;
  }
}
@media screen and (max-width: 1495px) {
  .regi-responsive {
    .form-content form {
      margin: 30px 0;
    }
    .form-content p {
      margin-bottom: 10px;
    }
    .form-content .form-items {
      max-width: 350px;
      text-align: left;
    }
    .register-custom-control-label {
      font-size: 13px !important;
    }
  }

  .login-responsive {
    .form-content h3 {
      font-size: 17px;
      font-weight: 500;
    }
    input,
    #rememberme + span,
    .forgetTextStyle {
      font-size: 13px !important;
    }
    .custom-control-label::before,
    .custom-control-label::after {
      top: 10%;
      width: 16px;
      height: 16px;
    }
    .btn-lg {
      line-height: 1;
      font-size: 13px !important;
    }
    .page-links {
      p {
        font-size: 13px !important;
        font-weight: normal;
        line-height: 1;
        margin-bottom: 0;
      }
    }
    .loginMain-div {
      h3 {
        font-size: 24px;
        line-height: 1;
      }
      .loginSide-text,
      .term-and-policy-div a,
      .term-and-policy-div a span,
      .loginOffer-text {
        font-size: 11px;
      }
      .login-link {
        margin-right: 6px !important;
        .mr-3 {
          margin-right: 6px !important;
        }
      }
    }
    .login-form-width {
      min-width: 300px !important;
      max-width: 300px !important;
    }
    .form-side-icon {
      top: 9px;
    }
  }
}
@media screen and (max-width: 1380px) {
  .regi-responsive {
    .form-content form {
      margin: 30px 0;
    }
    .form-content p {
      margin-bottom: 10px;
    }
    .form-content .form-items {
      max-width: 350px;
      text-align: left;
    }
    .register-custom-control-label {
      font-size: 11px !important;
      line-height: 1.5;
    }
  }
  .login-responsive {
    .form-content h3 {
      font-size: 15px;
      font-weight: 500;
    }
    input,
    #rememberme + span,
    .forgetTextStyle {
      font-size: 11px !important;
    }
    .custom-control-label::before,
    .custom-control-label::after {
      top: 10%;
      width: 12px;
      height: 12px;
    }
    .btn-lg {
      line-height: 1.5;
      font-size: 11px !important;
    }
    .page-links {
      p {
        font-size: 11px !important;
        font-weight: normal;
        line-height: 1;
        margin-bottom: 0;
      }
    }
    .loginMain-div {
      h3 {
        font-size: 21px;
        line-height: 1;
      }
      .loginSide-text,
      .term-and-policy-div a,
      .term-and-policy-div a span,
      .loginOffer-text {
        font-size: 9px;
      }
      .login-link {
        margin-right: 3px !important;
        .mr-3 {
          margin-right: 3px !important;
        }
      }
    }
    .login-form-width {
      min-width: 270px !important;
      max-width: 270px !important;
    }
    .form-side-icon {
      top: 7px;
    }
  }
}

.invalid-feedback-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
