body {
  .container10 {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
  }
  .container1 {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6%;
  }
  .title {
    font-weight: 500;
    font-size: 18px;
    color: #505050;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .card {
    min-width: 275;
  }
  .mr-4 {
    margin: 3%;
  }
  .Heading {
    margin-top: 3%;
  }
  .col-symbol {
    color: #484848;
  }
  .dashboard-col-symbols
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-direction {
    display: flex;
  }

  .dashboard-font {
    color: #3e4b5b;
  }
  // .dashboard-side-icon {
  //   font-size: 1.25rem;
  //   line-height: 1;
  // }
  .dashboard-side-icon {
    i:before {
      font-size: 1.12rem;
      line-height: 1;
    }
  }
  // .dashboard-selected-div {
  //   background-color: #0648a8;
  //   span, i {
  //     color: #fff;
  //   }
  // }
  .dashboard-selected-div {
    // background-color: #0648a8;
    span, i {
      color: #000;
      font-weight: 500;
    }
  }
  .dashboard-links {
    &:hover {
      color: inherit;
      text-decoration: none;
    }
    &:focus {
      background-color: #f44336;
    }
  }
  .dashboard-right-div, .bg-light-grey {
    background-color: #f8f9fa;
  }
  .dashboard-div-icon {
    // height: 100%;
    // width: 44px;
    height: 50px;
    width: 50px;
    // border: 1px solid;
    padding: 9px;
    border-radius: 50px;
    background-color: #f8f9fa;
  }
  .dashboard-box-div-spacing
  {
    padding-right: 2.2rem;
  }
  .dashboard-left-div-link {
    // border-left: 3px solid transparent;
    &:hover {
      background: rgba(90, 142, 217, 0.05);
      // color: #b66dff;
      // border-left: 3px solid #fff;
    }
  }
  .dashboard-count {
    color: #333;
    font-size: 35px;
    font-weight: 100;
    line-height: 0.9;
  }
  .dashboard-right-div-content:hover {
    .dashboard-right-div-icons,
    h5,
    span {
      color: #0648a8;
    }
  }
  .dashboard-sidebar-align {
    width: 300px;
  }
  .dashboard-right-div-align {
    width: calc(100% - 220px);
  }
  .dashboard-right-div-bg {
    background-color: #f8f9fa;
    width: calc(100% - 300px);
  }
  .dashboard-footer {
    .main-footer {
      margin-top: 0;
    }
  }

  .displayBlock{
    display: block
  }

  .displayHide{
    display: none
  }
  .map-title-bg
  {
    background-color: #0048a3;
    color: white;
  }
  
  .dashboard-box-div
  {
        border-radius: 10px;
  }
  .dashboard-main-title
  {
    font-size: 26px !important;
    font-weight: 600;
  }
  .dashboard-sidebar-text
  {
    font-size: 16px;
  }
  .dashboard-right-div-option-border
  {
    border-bottom: 1px solid #00000014;
  }
  .dashboard-right-div-padding
  {
    padding-top: 2.1rem;
    padding-right: 3rem;
  }
  .dashboard-left-div-main-btn
  {
    background-color: #002097;
    border-radius: 6px;
    span, i{
      color: #fff;
      font-weight: 400;
      font-size: 13px;
    }
    .dashboard-left-div-icons
    {
      height: 10px;
    }
  }
  .dashboard-left-div-icons
  {
   height: 20px;
  }
  .dashboard-seetting-img
  {
    width: 12px;
    height: 12px;
  }
  .dashboard-setting-div
  {
    line-height: 2;
  }
  .dashboard-layout-responsive
  {
    margin-top: 118px;
  }
  @media screen and (max-device-width: 1288px) and (min-device-width: 1200px) {
    .dashboard-align {
      padding-top: 2.43rem !important;
    }
  }
  // .dashboard-sidebar-align
  // {
  //   margin-top: 99px;
  // }
  // .dashboard-right-div-content
  // {
  //    h5
  //   {
  //     font-size: 17px;
  //   }
  // }
  @media screen and (max-width: 1495px) {
.dashboard-right-div-bg
{
  zoom: 0.68;
}
  }
  @font-face {
    font-family: "icomoon";
    src: url("../../assets/images/fonts/icomoon.eot?rrplqq");
    src: url("../../assets/images/fonts/icomoon.eot?rrplqq#iefix")
        format("embedded-opentype"),
      url("../../assets/images/fonts/icomoon.ttf?rrplqq") format("truetype"),
      url("../../assets/images/fonts/icomoon.woff?rrplqq") format("woff"),
      url("../../assets/images/fonts/icomoon.svg?rrplqq#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  i {
    color: #f44336;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .adam-locked1:before {
    content: "\ea8c";
    font-size: 35px;
  }
  .adam-key-21:before {
    content: "\ea7c";
    font-size: 35px;
  }
  .adam-boatshow:before {
    content: "\e9c3";
    font-size: 35px;
  }
  .adam-salearchive:before {
    content: "\eb23";
    font-size: 35px;
  }
  .adam-adds:before {
    content: "\e98f";
    font-size: 35px;
  }
  .adam-list:before {
    content: "\ec23";
    font-size: 35px;
  }
  .adam-heart:before {
    content: "\ea5b";
    font-size: 35px;
  }
  .adam-auction:before {
    content: "\e99c";
    font-size: 35px;
  }
  .adam-buy:before {
    content: "\e9d7";
    font-size: 35px;
  }
  .adam-sales:before {
    content: "\eb24";
    font-size: 35px;
  }
  .adam-user-3:before {
    content: "\ebb6";
    font-size: 35px;
  }
}

.table-container {
  width: 50%;
}
