.editor-height .ql-editor {
  min-height: 220px;
}

.card-title {
  margin-top: 5px;
  margin-left: 10px;
}

.card-content {
  padding: 15px;
}
.card-content .form-label {
  margin-left: 15px;
}

.card-body {
  margin-top: 100px;
}

.article-saveBtn {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  margin-top: 90px;
}

.set-button {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.article-header {
  display: flex;
  justify-content: space-between;
}

.article-container {
  padding: 1rem;
}

.btn-primary:not(.width) {
  width: 20%;
}
.manageArtical-img {
  img {
    height: 100px;
    width: 100px;
    align-self: center;
  }
}
