// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
  @if $mq2==false {
    @media ($maxmin: $mq01) {
      @content;
    }
  } @else {
    @media (min-width: $mq01) and (max-width: $mq2) {
      @content;
    }
  }
}

// breakpoint variables
$xlg: 2560px;
$lg: 1170px;
$md: 1024px;
$sm: 640px;
$xs: 480px;

// responsive font size mixin
@mixin font-size-map($font-size-map) {
  @each $breakpoint, $font-size in $font-size-map {
    @if $breakpoint==null {
      font-size: $font-size;
    } @else {
      @include breakpoint($breakpoint) {
        font-size: $font-size;
      }
    }
  }
}

// font sizes

$html-font-size: (
  null: 16px,
  $md: 12px,
  $sm: 13px,
  $xs: 5px
);

$paragraph-font-size: (
  null: 18px,
  $lg: 17px,
  $md: 16px,
  $sm: 15px,
  $xs: 14px
);

// html

html {
  @include font-size-map($html-font-size);
}

@media only screen and (max-width: 1250px) {
    $html-font-size: (
      null: 10px !important,
      $md: 10px !important,
      $sm: 11px !important,
      $xs: 4px !important
    );
  
   ul li {
      @include font-size-map($html-font-size);
    }
  }

  @media only screen and (max-width: 1380px) {
    $html-font-size: (
      null: 18px !important,
      $md: 18px !important,
      $sm: 11px !important,
      $xs: 4px !important
    );
  
    html, body {
      @include font-size-map($html-font-size);
    }
  }