@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap'); 

* {
  /* margin: 0; */
  /* font-family: 'Source Sans Pro', sans-serif !important; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.MuiAppBar-positionFixed{
  /* position: relative !important */
}

*:focus {
  outline: none !important;
}