.profile-user-name {
  font-size: 30px;
}
.user-profile-desc {
  span {
    font-size: 13px;
    color: #666666;
    font-weight: 400;
  }
}
.user-profile-icon-div {
  height: 15px;
  width: 15px;
}
.rating-small-size {
  .MuiSvgIcon-root {
    width: 0.6em;
    height: 0.6em;
  }
}
.user-profile-social-icon-div {
  height: 25px;
  width: 25px;
  &:hover {
    box-shadow: none !important;
    transform: scale(1.06, 1.06) !important;
  }
}
.user-info-profile {
  border-right: 1px solid #eaeaea;
}
.user-profile-desc-div {
  border-bottom: 1px solid #eaeaea;
}
.user-profile-hr {
  border: 1px solid #eaeaea;
}
.user-profile-review-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}
.user-profile-review-count {
  font-size: 40px;
}

.user-profile-listing-section {
  > div {
    width: 24%;
    margin-right: 1.3%;
  }
  :nth-child(4n) {
    margin-right: 0;
  }
}
.user-listing-spacing {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #767676;
}
@media screen and (max-width: 1495px) {
  body {
    .search-inner-show-all-div {
      .brand-new-tag {
        padding: 5px 8px;
        font-size: 10px;
        line-height: 13px;
        display: flex;
        align-items: center;
      }
      .card-action .share-icon .share-button,
      .card-action .share-icon .heart-button {
        width: 30px;
        height: 30px;
      }
      .home-boat-price {
        font-size: 14px;
      }
      .user-listing-spacing {
        line-height: 1;
        span {
          margin-top: 3px;
          margin-bottom: 3px;
          font-size: 12px !important;
        }
      }
      .user-profile-manufacturer {
        font-size: 11.5px !important;
      }
    }
    .user-profile-show-all-link
    {
      font-size: 14px;
      margin-top: 0.9%;
      .MuiSvgIcon-root {
        width: 0.8em;
        height: 0.8em;
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .search-inner-show-all-div {
      .brand-new-tag {
        padding: 1px 8px;
        font-size: 8px;
        height: 16px;
      }
      .card-action .share-icon .share-button,
      .card-action .share-icon .heart-button {
        width: 25px;
        height: 25px;
        i {
          font-size: 10px;
        }
      }
      .home-boat-price {
        font-size: 13px;
      }
      .user-listing-spacing {
        line-height: 0.9;
        span {
          margin-top: 3px;
          margin-bottom: 3px;
          font-size: 11px !important;
        }
      }
      .user-profile-manufacturer {
        font-size: 11px !important;
      }
      .rating-count {
        font-size: 9px !important;
      }
      .rating-small-size {
        .MuiSvgIcon-root {
          width: 0.45em;
          height: 0.45em;
        }        
      }
    }
    .user-profile-show-all-link
    {
      font-size: 13px;
      margin-top: 0.9%;
      .MuiSvgIcon-root {
        width: 0.7em;
        height: 0.7em;
      }
    }
  }
}
