body {
  .card-style {
    margin: 10px;
  }
  .map-with-info {
    .gm-style-iw {
      padding: 0;
    }
    .gm-style-iw-c {
      border-radius: 16px;
      .gm-style-iw-d {
        // width: 300px;
        overflow: auto !important;
        > div {
          width: 100%;
          display: flex;
          // max-width: 274px;
          flex-direction: column;
        }
      }
      button {
        top: 3px !important;
        right: 3px !important;
        img {
          width: 23px !important;
          height: 23px !important;
          margin: 0 !important;
        }
      }
    }
    .map-info-title-section {
      font-size: 16px;
      color: #717171;
    }
    .map-info-desc-section {
      color: #222222;
      font-size: 18px;
    }
    .MuiSvgIcon-root {
      width: 18px;
      height: 18px;
    }
    .map-info-price-section {
      font-size: 17px;
    }
  }
}
.mapCard {
  margin: 10px;
}
.pac-item {
  cursor: pointer;
}
.logo-image-map {
  height: 100px;
  width: 100px;
}
@media screen and (max-width: 1380px) {
  body {
    .map-with-info {
      .responsive-map-content {
        padding: 10px !important;
        .map-info-title-section,
        .map-info-price-section {
          font-size: 15px;
        }
        .map-info-desc-section {
          font-size: 14px;
        }
      }
      .map-market-img {
        object-fit: cover;
      }
    }
  }
}
