body {
  .table-component-dashboard {
    .rt-td {
      display: flex;
      justify-content: center;
      padding: 12px;
      height: 50px;
      color: #666666;
    }
    .rt-resizable-header-content {
      padding: 10px;
    }
    .ReactTable .rt-thead .rt-th,
    .ReactTable .rt-tbody .rt-td {
      border-right: none;
    }
    .ReactTable .rt-thead.-header {
      box-shadow: none;
      border-bottom: 1px solid #dee2e6;
    }
    .rt-tr-group:hover {
      background-color: rgba(165, 203, 242, 0.09);
    }
    .ReactTable.-striped .rt-tr.-odd {
      background: #fcfdff;
    }
    .rt-resizable-header-content {
      color: #484848;
      font-weight: 500;
    }
    .pagination-bottom {
      .-pagination {
        width: 100%;
      }
      button {
        color: #0648a8 !important;
        background: white !important;
        border: 1px solid gray !important;
      }
      button:hover {
        background-color: #0648a8 !important;
        color: #fff !important;
      }
    }
  }
}
