.boat-search-result-img {
  height: 130px;
  width: 220px;
}
.search-result-trip-type-bg {
  background-color: #db3236;
}
.rating-start-small-size {
  .MuiSvgIcon-root {
    width: 0.8em;
    height: 0.8em;
  }
}
@media screen and (max-width: 1495px) {
  body {
    .search-result-div {
      padding-top: 2.3rem !important;
    }
  }
  .search-result-nav-div {
    .nav-link {
      font-size: 12px;
    }
  }
  .boat-search-result-img {
    height: 110px;
  }
  .search-result-nav-main-section {
    .boat-title {
      font-size: 11px;
    }
    .search-result-trip-type-bg {
      font-size: 10px !important;
      padding: 0.15rem !important;
    }
    .boat-country {
      span {
        font-size: 13px;
      }
      br {
        display: none;
      }
    }
    .search-div-date {
      font-size: 11px !important;
    }
    .search-div-country {
      font-size: 11px !important;
    }
    .search-result-market-type {
      font-size: 12px;
    }
    .search-result-rate-section {
      .MuiSvgIcon-root {
        width: 0.6em;
        height: 0.6em;
      }
    }
    .search-result-rate-section-margin {
      margin-right: 0 !important;
    }
    .search-result-price-section {
      font-size: 12px;
      margin-top: 0.5rem;
    }
    .search-result-market-type-section {
      margin-top: 0.5rem;
    }
    .search-result-views-count {
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 1380px) {
  body {
    .search-result-div {
      padding-top: 2.3rem !important;
    }
  }
  .search-result-nav-div {
    .nav-link {
      font-size: 11px;
    }
  }
  .boat-search-result-img {
    height: 100px;
  }
  .search-result-nav-main-section {
    .boat-title {
      font-size: 10px;
    }
    .search-result-trip-type-bg {
      font-size: 9px !important;
      padding: 0.15rem !important;
    }
    .boat-country {
      span {
        font-size: 12px;
      }
      br {
        display: none;
      }
    }
    .search-div-date {
      font-size: 10px !important;
    }
    .search-div-country {
      font-size: 10px !important;
    }
    .search-result-market-type {
      font-size: 11px;
    }
    .search-result-rate-section {
      .MuiSvgIcon-root {
        width: 0.5em;
        height: 0.5em;
      }
    }
    .search-result-rate-section-margin {
      margin-right: 0 !important;
    }
    .search-result-price-section {
      font-size: 11px;
      margin-top: 0.5rem;
    }
    .search-result-market-type-section {
      margin-top: 0.5rem;
    }
    .search-result-views-count {
      font-size: 12px;
    }
  }
}
