.list-overlay {
    border-radius: 4px;
    width:100%;
    height: 200px;
    position: relative;
}
.list-overlay::after{
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top: 0;
    // z-index: 99;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.image {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.imageText {
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80%;
    z-index: 10;
    font-size: 0.90rem;
}

.images {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 4px;
}

.image-location {
    color: #484848;
    margin-bottom: 0.3em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.80rem;
}
.withButtonCard-div
{
z-index: 20;
top: 20;
right: 30;
}